/*typography*/
.sidebar-hide-view {
    position: absolute;
    top: 130px;
    right: 0;
}
.clearfix:after {
    content: '';
    display: block;
    clear: both;
  }
  
  .ellipsis {
    white-space: nowrap;
    /* 1 */
    text-overflow: ellipsis;
    /* 2 */
    overflow: hidden;
  }
  
  .nopadding {
    padding: 0;
  }
  
  #farmer-profile-header {
    min-height: 60px;
    background: linear-gradient(315deg, #2B6931 0%, #133816 100%);
    padding: 0 25px;
    overflow: hidden;
  }
  
  @media screen and (max-width: 767px) {
    #farmer-profile-header {
      padding: 0 10px;
    }
  }
  
  #farmer-profile-header .logo {
    display: inline-block;
    width: 75px;
    max-width: 75px;
    height: 60px;
    background-color: #FFFFFF;
  }
  
  #farmer-profile-header .logo img {
    width: 100%;
    padding: 10px;
  }
  
  #farmer-profile-header .portal-title {
    display: inline-block;
    vertical-align: middle;
    padding: 0 10px;
  }
  
  #farmer-profile-header .portal-title .title {
    font-size: 28px;
    line-height: 34px;
    color: #FFFFFF;
  }
  
  #farmer-profile-header .portal-title .portal-slogan {
    font-size: 10px;
    line-height: 12px;
    text-align: right;
    color: rgba(255, 255, 255, 0.5);
  }
  
  #farmer-profile-header .sign-in {
    color: #FFFFFF;
    text-align: right;
    height: 60px;
    font-size: 16px;
    padding: 20px 0;
  }
  
  #farmer-profile-header .sign-in > span {
    padding-left: 20px;
  }
  
  @media screen and (max-width: 767px) {
    #farmer-profile-header .sign-in > span {
      padding: 0 10px;
    }
  }
  
  #farmer-profile-header .sign-in > span a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 14px;
  }
  
  @media screen and (max-width: 767px) {
    #farmer-profile-header .sign-in > span a {
      font-size: 12px;
    }
  }
  
  #farmer-profile-header .sign-in i {
    padding: 0 5px;
    font-size: 18px;
  }
  
  @media screen and (max-width: 767px) {
    #farmer-profile-header .sign-in i {
      font-size: 16px;
    }
  }
  
  #farmer-profile-header .sign-in .login-user {
    border-right: 1px solid rgba(255, 255, 255, 0.26);
    display: inline-block;
    padding: 0 20px;
  }
  
  #farmer-profile-header .sign-in .login-user-img {
    width: 30px;
    margin: 0 10px;
  }
  
  .breadcrumb-wrapper {
    background-color: #f5f5f5;
    padding: 0 25px;
  }
  
  @media screen and (max-width: 767px) {
    .breadcrumb-wrapper {
      padding: 0;
    }
  }
  
  .breadcrumb-wrapper .breadcrumb {
    margin: 0;
    padding: 0;
  }
  
  @media screen and (min-width: 2001px) {
    .breadcrumb-wrapper .breadcrumb {
      padding: 0;
    }
  }
  
  @media screen and (max-width: 767px) {
    .breadcrumb-wrapper .breadcrumb {
      padding: 0 10px;
    }
  }
  
  .breadcrumb-wrapper .breadcrumb li + li:before {
    color: #767676;
    content: ">";
  }
  
  .breadcrumb-wrapper .breadcrumb li a {
    color: #767676;
    text-decoration: none;
  }
  
  .navigation-wrapper {
    padding: 10px 25px 0;
    background-color: #FFFFFF;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  }
  
  @media screen and (max-width: 767px) {
    .navigation-wrapper {
      padding: 0 10px;
    }
  }
  
  .navigation-wrapper .navigation-functions {
    text-align: right;
  }
  
  .navigation-wrapper .navigation-functions .dropdown-toggle {
    color: #006B39;
    font-size: 14px;
    line-height: 18px;
  }
  
  .navigation-wrapper .dealer-filter {
    margin: 5px 0;
  }
  
  .navigation-wrapper .nav-tabs {
    border-bottom: none;
    display: inline-block;
  }
  
  .navigation-wrapper .nav-tabs > li > a {
    color: #767676;
    border: none;
    border-bottom: 1px solid transparent;
  }
  
  @media screen and (max-width: 767px) {
    .navigation-wrapper .nav-tabs > li > a {
      font-size: 12px;
      padding: 5px 7px;
    }
  }
  
  .navigation-wrapper .nav-tabs > li > a:hover {
    border-color: transparent;
  }
  
  .navigation-wrapper .nav-tabs > li.active > a, .navigation-wrapper .nav-tabs > li.active > a:focus, .navigation-wrapper .nav-tabs > li.active > a:hover {
    color: #006B39;
    border: none;
    border-bottom: 1px solid #006B39;
  }
  
  .navigation-wrapper .nav > li > a {
    padding: 5px 10px;
  }
  
  @media screen and (max-width: 767px) {
    .navigation-wrapper .nav > li > a {
      padding: 5px 7px;
    }
  }
  
  .navigation-wrapper .nav > li > a:focus, .navigation-wrapper .nav > li > a:hover {
    background-color: transparent;
  }
  
  .navigation-wrapper .nav .open > a, .navigation-wrapper .nav .open > a:focus, .navigation-wrapper .nav .open > a:hover {
    background-color: transparent;
    border-color: transparent;
  }
  
  .navigation-wrapper .search-bar {
    width: 50px;
    font-size: 16px;
    border: none;
    background-color: white;
    background-image: url("../../../assets/Search.svg");
    background-position: 95% 10px;
    background-repeat: no-repeat;
    padding: 7px 20px 7px 11px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    cursor: pointer;
  }
  
  .navigation-wrapper .search-bar:focus {
    width: 100%;
  }
  
  .navigation-wrapper .caret {
    margin: 0 10px;
  }
  
  .navigation-wrapper .dealer-heading {
    color: #0B250D;
    font-size: 18px;
    line-height: 23px;
    font-weight: 900;
    letter-spacing: 0.27px;
    border-right: 1px solid #D7D7D7;
    padding-right: 10px;
  }
  
  @media screen and (max-width: 767px) {
    .navigation-wrapper .dealer-heading {
      display: block;
      border-right: none;
      margin-bottom: 10px;
    }
  }
  
  .navigation-wrapper .dealer-button-wrap {
    text-align: right;
    margin: 5px 0;
  }
  
  @media screen and (max-width: 767px) {
    .navigation-wrapper .dealer-button-wrap {
      margin-top: 10px;
    }
  }
  
  .navigation-wrapper .dealer-button-wrap .add-dealer-button {
    border-radius: 2px;
    background-color: #006B39;
    border: none;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.21px;
    padding: 2px 15px;
  }
  
  .navigation-wrapper .nav-tabs-custom {
    border-bottom: none;
    display: inline-block;
    padding-right: 10px;
    padding-left: 5px;
    border-right: 1px solid #D7D7D7;
  }
  
  .navigation-wrapper .nav-tabs-custom > li > a {
    color: #767676;
    font-size: 10px;
    line-height: 13px;
    letter-spacing: 0.15px;
  }
  
  .navigation-wrapper .nav-tabs-custom > li > a:hover {
    border-color: transparent;
  }
  
  .navigation-wrapper .nav-tabs-custom > li.active > a, .navigation-wrapper .nav-tabs-custom > li.active > a:focus, .navigation-wrapper .nav-tabs-custom > li.active > a:hover {
    color: #006B39;
    border: none;
    border-bottom: 1px solid #006B39;
  }
  
  .navigation-wrapper .nav-custom > li > a {
    padding: 0 5px;
  }
  
  .navigation-wrapper .nav-custom > li > a:focus, .navigation-wrapper .nav-custom > li > a:hover {
    background-color: transparent;
  }
  
  .navigation-wrapper .nav-custom .open > a, .navigation-wrapper .nav-custom .open > a:focus, .navigation-wrapper .nav-custom .open > a:hover {
    background-color: transparent;
    border-color: transparent;
  }
  
  .farmer-farm-wrapper {
    background-color: #FFFFFF;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.24), 0 1px 1.5px 0 rgba(0, 0, 0, 0.12);
            box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.24), 0 1px 1.5px 0 rgba(0, 0, 0, 0.12);
    margin: 20px 0;
  }
  
  .farmer-farm-wrapper .farmer-profile {
    padding: 5px 0;
    border-bottom: 1px solid #006B39;
  }
  
  .farmer-farm-wrapper .farmer-profile .farmer-info .profile-heading {
    padding: 0 10px;
    color: #0B250D;
    font-size: 18px;
    font-weight: 900;
    letter-spacing: 0.27px;
    line-height: 23px;
  }
  
  .farmer-farm-wrapper .farmer-profile .farmer-info .appointment-date, .farmer-farm-wrapper .farmer-profile .farmer-info .update-date {
    display: inline-block;
    padding: 0 10px;
    border-left: 1px solid #f5f5f5;
  }
  
  .farmer-farm-wrapper .farmer-profile .farmer-info .date-description {
    color: #0B250D;
    font-size: 10px;
    letter-spacing: 0.15px;
    line-height: 13px;
  }
  
  .farmer-farm-wrapper .farmer-profile .farmer-info .date {
    color: #767676;
    font-size: 12px;
    letter-spacing: 0.18px;
    line-height: 15px;
    padding-left: 10px;
  }
  
  .farmer-farm-wrapper .farmer-profile .icon-set {
    display: block;
    text-align: right;
  }
  
  .farmer-farm-wrapper .farmer-profile .icon-set i {
    vertical-align: middle;
    padding: 0 5px;
  }
  
  .farmer-farm-wrapper .farmer-profile .icon-set i:first-child {
    border-left: 1px solid #F5F5F5;
  }
  
  .farmer-farm-wrapper .farmer-profile .icon-set .icon-cross-1 {
    margin-left: 15px;
    border-left: none !important;
  }
  
  .farmer-farm-wrapper .farmer-profile .icon-set a {
    text-decoration: none;
  }
  
  .farmer-farm-wrapper .profile-nav-wrap {
    border-bottom: 1px solid #D6D6D6;
  }
  
  .farmer-farm-wrapper .profile-nav-wrap .active {
    border-radius: 2px;
    background-color: #006B39;
    border: none;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.21px;
    padding: 2px 20px;
  }
  
  .farmer-farm-wrapper .profile-nav-wrap .active a {
    color: #FFFFFF !important;
  }
  
  .farmer-farm-wrapper .profile-nav-wrap .farmer-profile-nav {
    list-style: none;
    display: inline-block;
    padding: 0;
    margin: 5px 10px;
  }
  
  .farmer-farm-wrapper .profile-nav-wrap .farmer-profile-nav li {
    display: inline-block;
    padding: 2px 20px;
  }
  
  .farmer-farm-wrapper .profile-nav-wrap .farmer-profile-nav li a {
    color: #767676;
    font-size: 14px;
    letter-spacing: 0.21px;
    line-height: 18px;
    text-decoration: none;
  }
  
  @media screen and (max-width: 767px) {
    .farmer-farm-wrapper .profile-nav-wrap .farmer-profile-nav li a {
      font-size: 12px;
    }
  }
  
  .farmer-farm-wrapper .profile-nav-wrap .product-message-wrapper {
    background-color: #EDF4EF;
    margin: 5px 0;
  }
  
  .farmer-farm-wrapper .profile-nav-wrap .product-message-wrapper .product-message {
    color: #338533;
    font-size: 10px;
    letter-spacing: 0.15px;
    line-height: 13px;
    padding: 4px 10px;
  }
  
  .farmer-farm-wrapper .farms-info-wrap h3 {
    color: #0B250D;
    font-size: 18px;
    letter-spacing: 0.27px;
    margin: 0 0 10px 0;
    line-height: 23px;
    font-weight: 600;
  }
  
  .farmer-farm-wrapper .farms-info-wrap .information-tab {
    border-right: 1px solid #D6D6D6;
    margin: 10px 5px;
    padding: 10px;
    min-height: 500px;
  }
  
  .farmer-farm-wrapper .farms-info-wrap .information-tab .farms-summary {
    margin-top: 40px;
  }
  
  .farmer-farm-wrapper .farms-info-wrap .info {
    margin: 10px 0;
  }
  
  .farmer-farm-wrapper .farms-info-wrap .info label {
    color: #0B250D;
    font-size: 10px;
    letter-spacing: 0.15px;
    line-height: 13px;
    width: 70px;
  }
  
  .farmer-farm-wrapper .farms-info-wrap .info input {
    color: #767676;
    font-size: 14px;
    letter-spacing: 0.21px;
    line-height: 18px;
    border: none;
    border-bottom: 1px solid #D6D6D6;
    width: calc(100% - 80px);
    max-width: 200px;
  }
  
  @media screen and (max-width: 1200px) {
    .farmer-farm-wrapper .farms-info-wrap .info input {
      max-width: 350px;
    }
  }
  
  .farmer-farm-wrapper .farms-info-wrap .info-crop {
    margin: 5px 0;
    position: relative;
  }
  
  .farmer-farm-wrapper .farms-info-wrap .info-crop label {
    color: #0B250D;
    font-size: 10px;
    letter-spacing: 0.15px;
    line-height: 13px;
    width: 70px;
  }
  
  .farmer-farm-wrapper .farms-info-wrap .info-crop .crops-name {
    color: #767676;
    font-size: 14px;
    letter-spacing: 0.21px;
    line-height: 18px;
  }
  
  .farmer-farm-wrapper .farms-info-wrap .info-crop .sowing-date {
    color: #767676;
    font-size: 10px;
    letter-spacing: 0.15px;
    line-height: 13px;
    padding-left: 20px;
    margin-right: 15px;
  }
  
  @media screen and (max-width: 767px) {
    .farmer-farm-wrapper .farms-info-wrap .info-crop .sowing-date {
      padding-left: 10px;
    }
  }
  
  .farmer-farm-wrapper .farms-info-wrap .info-crop i {
    position: absolute;
    right: 0;
    top: 5px;
  }
  
  .farmer-farm-wrapper .farms-info-wrap .farm-group {
    overflow: hidden;
  }
  
  .farmer-farm-wrapper .farms-info-wrap .farm-group h3 {
    margin: 0;
  }
  
  .farmer-farm-wrapper .farms-info-wrap .farm-group input[type=checkbox] {
    height: 16px;
    width: 16px;
  }
  
  .farmer-farm-wrapper .farms-info-wrap .info-section {
    border: 1px solid #F5F5F5;
    border-radius: 4px;
    background-color: #FFFFFF;
    -webkit-box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.5), -10px 9px 21px 0 rgba(128, 152, 213, 0.07);
            box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.5), -10px 9px 21px 0 rgba(128, 152, 213, 0.07);
    padding: 10px;
    margin-bottom: 10px;
    min-height: 200px;
  }
  
  .farmer-farm-wrapper .farms-info-wrap .info-block {
    padding: 10px 5px;
    min-height: 500px;
  }
  
  .farmer-farm-wrapper .farms-info-wrap .info-block .info-heading label {
    width: 70px;
    color: #0B250D;
    font-size: 10px;
    letter-spacing: 0.15px;
    line-height: 13px;
  }
  
  .farmer-farm-wrapper .farms-info-wrap .info-block .info-heading h4 {
    display: inline-block;
    color: #0B250D;
    font-size: 16px;
    letter-spacing: 0.24px;
    line-height: 20px;
    font-weight: 600;
    margin: 0;
  }
  
  .farmer-farm-wrapper .farms-info-wrap .info-block .info-heading .icon-set {
    float: right;
    -webkit-transform: translateY(25%);
            transform: translateY(25%);
  }
  
  .farmer-farm-wrapper .farms-info-wrap .info-block .info-heading i {
    font-size: 16px;
  }
  
  .farmer-farm-wrapper .farms-info-wrap .info-block .info-heading .icon-Notifications {
    position: relative;
  }
  
  .farmer-farm-wrapper .farms-info-wrap .info-block .info-heading .icon-Notifications .notification-number {
    position: absolute;
    font-size: 8px;
    color: white;
    background: #F5AC32;
    padding: 2px 4px;
    border-radius: 117px;
    top: -2px;
    right: -5px;
  }
  
  .farmer-farm-wrapper .submit-button-wrap {
    text-align: right;
    padding: 10px;
  }
  
  .farmer-farm-wrapper .submit-button-wrap .submit-button {
    border-radius: 2px;
    background-color: #006B39;
    border: none;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.21px;
    padding: 2px 20px;
    margin: 5px 10px;
  }
  
  #mySidebar {
    width: 300px;
    background-color: #F5F5F5;
    -webkit-box-shadow: -3px 0 6px 0 rgba(0, 0, 0, 0.24);
            box-shadow: -3px 0 6px 0 rgba(0, 0, 0, 0.24);
    padding: 10px;
    margin: 0 auto;
  }
  
  #mySidebar .notification-panel-head {
    position: relative;
    border-bottom: 1px solid #338533;
  }
  
  #mySidebar .notification-panel-head ul {
    list-style: none;
    padding: 0;
    margin-bottom: 5px;
  }
  
  #mySidebar .notification-panel-head ul li {
    display: inline-block;
    width: 48%;
  }
  
  #mySidebar .notification-panel-head ul li a {
    text-decoration: none;
    color: #0B250D;
    font-size: 16px;
    letter-spacing: 0.24px;
    line-height: 20px;
    font-weight: 600;
  }
  
  #mySidebar .notification-panel-head .icon-cross-1 {
    position: absolute;
    top: 5px;
    right: 5px;
    color: #767676;
  }
  
  #mySidebar .today-notifications h5 {
    color: #0B250D;
    font-size: 14px;
    letter-spacing: 0.21px;
    line-height: 18px;
    font-weight: 600;
  }
  
  #mySidebar .today-notifications .today {
    position: relative;
  }
  
  #mySidebar .today-notifications .today .icon-cross-1 {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 8px;
    color: #767676;
  }
  
  #mySidebar .previous-notification h5 {
    color: #0B250D;
    font-size: 14px;
    letter-spacing: 0.21px;
    line-height: 18px;
    font-weight: 600;
  }
  
  #mySidebar .previous-notification .previous {
    position: relative;
  }
  
  #mySidebar .previous-notification .previous .icon-cross-1 {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 8px;
    color: #767676;
  }
  
  #mySidebar .notification {
    border: 1px solid #F5F5F5;
    border-radius: 4px;
    background-color: #FFFFFF;
    padding: 10px;
    margin-bottom: 10px;
    position: relative;
  }
  
  #mySidebar .notification h6 {
    color: #0B250D;
    font-size: 10px;
    letter-spacing: 0.15px;
    line-height: 13px;
    margin: 0;
  }
  
  #mySidebar .notification p {
    color: #767676;
    font-size: 10px;
    letter-spacing: 0.15px;
    line-height: 13px;
    margin: 10px 0 0;
  }
  
  #mySidebar .notification .time {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #0B250D;
    font-size: 10px;
    letter-spacing: 0.15px;
    line-height: 13px;
  }
  
  #mySidebar .more-redirection {
    color: #006B39;
    font-size: 12px;
    letter-spacing: 0.18px;
    line-height: 15px;
    text-decoration: none;
  }
  .info-block>li , .farms-summary>li{
    display: block;
  }
  .farm-group input[type=radio]{
      -webkit-appearance: checkbox;
      -moz-appearance: checkbox; 
      -ms-appearance: checkbox;
      width: 16px;
      height: 16px;
   } 
    .info select{
    color: #767676;
    font-size: 14px;
    letter-spacing: 0.21px;
    line-height: 18px;
    border: none;
    border-bottom: 1px solid #D6D6D6;
    width: calc(100% - 75px);
    background: url('../../../assets/Down-Arrow.svg');
    background-position: right;
    background-repeat: no-repeat;
    -moz-appearance: none;
    -webkit-appearance: none;
    }
    .info select::-ms-expand{
      display: none;
    }
    .checkbox_wrapper{
    position: relative;
    height: 16px;
    width: 16px;
}

input[type="radio"] {
    opacity:0;
    height: 16px;
    width: 16px;
    position: absolute;
    top: 5px;
    left: 0;
    z-index: 2;
    margin: 0;
}

input[type="radio"] + .custom-checkbox{
    background:url('../../../assets/Box-Blank.svg') no-repeat;
    height: 16px;
    width: 16px;
    display:inline-block;
    padding: 0 0 0 0px;
    position: absolute;
    top: 5px;
    left: 0;
    z-index: 1;
}

input[type="radio"]:checked + .custom-checkbox{
    background:url('../../../assets/Box-Checked.svg') no-repeat;
    height: 16px;
    width: 16px;
    display:inline-block;
    padding: 0 0 0 0px;
}
  /*# sourceMappingURL=farmer-farms.css.map */

  