<div *ngIf="!checkflag">
  <div class="container-fluid">
    <main class="farmer-farm-wrapper">
      <div class="farmer-profile">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6">
              <div class="farmer-info">
                <span class="profile-heading">
                Farmer Farms
              </span>
              <!--
                <div class="appointment-date">
                  <span class="date-description">Registration Date</span>
                  <span class="date">01 Jan 2019</span>
                </div>
                <div class="update-date">
                  <span class="date-description">Update</span>
                  <span class="date">26 Jan 2019</span>
                </div>
                -->
              </div>
            </div>
            <div class="col-md-6">
              <span class="icon-set">
              <!--<i class="icon-edit0"></i>-->
              <!--<i class="icon-delete"></i>-->
              <a title="Close" (click)="goBack()">
                <i class="icon-cross-1"></i>
              </a>
            </span>
            </div>
          </div>
        </div>
      </div>
      <div class="profile-nav-wrap">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-9">
              <ul class="farmer-profile-nav">
                <li>
                  <!--  <a [routerLink]="['/add-farmer']">Profile</a>-->
                  <a (click)="addFarmer()">Profile</a>
                </li>
                <li class="active">
                  <a [routerLink]="['/farmers-add-farms']">Farms</a>
                </li>
                <li>
                  <a (click)="addContracts()">Contracts</a>
                </li>
                <li>
                  <a (click)="addLoans()">Loans</a>
                </li>
                <li>
                  <a (click)="addTickets()"> Tickets</a>
                </li>
                <li>
                    <a (click)="addReports()">Reports</a>
                  </li>
              </ul>
            </div>
            <div class="col-md-3">
              <div class="product-message-wrapper">
                <!-- <span class="product-message">* Fatima Product User</span>-->
              </div>
            </div>
          </div>
        </div>
      </div>
      <form [formGroup]="form">
        <div class="farms-info-wrap">
          <div class="container-fluid">
            <div class="col-lg-3 col-sm-6 col-xs-12">
              <div class="row">
                <div class="information-tab">
                  <h3>Farmer Information</h3>
                  <div class="info">
                    <label for="">Total Area</label>
                    <input type="text" placeholder="175 Acres" disabled>
                  </div>
                  <section class="farms-summary">
                    <h3>Farms</h3>
                    <li *ngFor="let farm of farms">
                      <div class="farm-group">
                        <div class="col-xs-1 nopadding">
                          <span class="checkbox_wrapper">
                      <input  type="radio" name="farmer-farm-check" id="modidar"  (change)="getfarminfo(farm.farmId)">
                        <i class="custom-checkbox"></i>
                      </span>
                        </div>
                        <div class="col-xs-11 nopadding">
                          <label for="modidar">
                        <h3>{{farm.farmName}}</h3>
                      </label>
                          <!-- <div class="info">
                        <label for="">Status</label>
                        <input type="text"  value={{farm.activeStatus}} disabled>
                      </div>-->
                          <div class="info">
                            <label for="">Area</label>
                            <input type="text" value={{farm.totalAreaAcres}} disabled>
                          </div>
                        </div>
                      </div>
                    </li>
                  </section>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-xs-12">
              <div class="row">
                <div class="info-block">
                  <section class="info-section">
                    <h3>Address</h3>
                    <div class="info">
                      <label for="">Address</label>
                      <input type="text" formControlName="farmAddress" [(ngModel)]="farminfo.farmAddress">
                    </div>
                    <div class="info">
                      <label for="">Province</label>
                      <select [disabled]="readOnly" formControlName="provinceCode" [(ngModel)]="farminfo.provinceCode" (change)="getDistricts(farminfo.provinceCode,0)">
                    <option  value="Select Province" disabled selected>
                        Select Province
                        </option> 
                      <option  value="{{prov.provinceCode}}"  *ngFor="let prov of provinces" >
                            {{prov.provinceName}}
                        </option>
                    </select>
                      <!--  <input type="text"  formControlName="provinceCode" [(ngModel)]="farminfo.provinceCode" disabled>-->
                    </div>
                    <!--
                  <div class="info">
                    <label for="">City/Village</label>
                    <!--<input type="text"  disabled>
                     <select  [disabled]="readOnly"  formControlName="regionId" [(ngModel)]="farminfo.regionId" (change)="getDistricts(farminfo.regionId,0)">   
                    <option  value="Select City" disabled selected >
                        Select City
                        </option>  
                      <option  value="{{reg.regionCode}}"  *ngFor="let reg of regions" >
                            {{reg.regionName}}
                        </option>
                    </select>
                  </div>
                  -->
                    <div class="info">
                      <label for="">District</label>
                      <select [disabled]="readOnly" formControlName="districtCode" [(ngModel)]="farminfo.districtCode" (change)="getTehsils(farminfo.districtCode,0)">
                       <option  value="Select District" disabled selected>
                        Select District
                        </option> 
                      <option  value="{{dist.districtCode}}"  *ngFor="let dist of districts" >
                            {{dist.districtName}}
                        </option>
                    </select>
                      <!--<input type="text"   formControlName="districtCode" [(ngModel)]="farminfo.districtCode" disabled>-->
                    </div>
                    <div class="info">
                      <label for="">Tehsil</label>
                      <!--<input type="text"  formControlName="tehsilCode" [(ngModel)]="farminfo.tehsilCode" disabled>-->
                      <select [disabled]="readOnly" formControlName="tehsilCode" [(ngModel)]="farminfo.tehsilCode">
                    <option  value="Select Tehsil" disabled selected>
                        Select Tehsil
                        </option>   
                      <option  value="{{teh.tehsilCode}}"  *ngFor="let teh of tehsils" >
                            {{teh.tehsilName}}
                        </option>
                    </select>
                    </div>
                    <!--
                  <div class="info">
                    <label for="">Union Council</label>
                    <input type="text" placeholder="25 Chak Pati" disabled>
                  </div>-->
                  </section>
                  <section class="info-section">
                    <h3>Water and Irrigation Information</h3>
                    <div class="info">
                      <label for="">Tube Well</label>
                      <select [disabled]="readOnly" formControlName="tubeWellStatus" [(ngModel)]="farminfo.tubeWellStatus">
                        <option  value="{{stat.tubeWellStatusId}}"  *ngFor="let stat of tubeWell" >
                            {{stat.tubeWellStatusName}}
                        </option>
                    </select>
                      <!-- <input type="text"  formControlName="tubeWellStatus" [(ngModel)]="farminfo.tubeWellStatus">-->
                    </div>
                    <div class="info">
                      <label for="">Tube Well Type</label>
                      <select [disabled]="readOnly" formControlName="tubeWellType" [(ngModel)]="farminfo.tubeWellType">
                        <option  value="{{stat.tubeWellTypeId}}"  *ngFor="let stat of tubeWellType" >
                            {{stat.tubeWellTypeName}}
                        </option>
                    </select>
                      <!--<input type="text"  formControlName="tubeWellType" [(ngModel)]="farminfo.tubeWellType">-->
                    </div>
                    <div class="info">
                      <label for="">Irrigation Type</label>
                      <input type="text" formControlName="irrigationType" [(ngModel)]="farminfo.irrigationType">
                    </div>
                    <div class="info">
                      <label for="">Irrigation Area</label>
                      <input type="text" formControlName="irrigationArea" [(ngModel)]="farminfo.irrigationArea">
                    </div>
                    <div class="info">
                      <label for="">Water Course</label>
                      <select [disabled]="readOnly" formControlName="waterCourse" [(ngModel)]="farminfo.waterCourse">
                        <option  value="{{stat.waterCourseTypeId}}"  *ngFor="let stat of waterCourse" >
                            {{stat.waterCourseName}}
                        </option>
                    </select>
                      <!-- <input type="text"  formControlName="waterCourse" [(ngModel)]="farminfo.waterCourse">-->
                    </div>
                    <div class="info">
                      <label for="">Tunnel Structure</label>
                      <select [disabled]="readOnly" formControlName="tunnelType" [(ngModel)]="farminfo.tunnelType">
                        <option  value="{{stat.tunnelId}}"  *ngFor="let stat of tunnel" >
                            {{stat.tunnelTypeName}}
                        </option>
                    </select>
                      <!--<input type="text"  formControlName="tunnelType" [(ngModel)]="farminfo.tunnelType">-->
                    </div>
                  </section>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-xs-12">
              <div class="row">
                <div class="info-block">
                  <li *ngFor="let block of blocks">
                    <section class="info-section">
                      <div class="info-heading">
                        <label for="">Block</label>
                        <h4>{{block.blockName}}</h4>
                        <div class="icon-set">
                          <i class="icon-map2B"></i>
                          <i class="icon-Notifications" (click)="viewNotification();">
                        <span class="notification-number">6</span>
                      </i>
                        </div>
                      </div>
                      <div class="info-crop">
                        <label for="">Area</label>
                        <span class="crops-name">{{block.blockArea}}</span>
                      </div>

                      <div class="info-crop">
                        <label for="">Crop:</label>
                        <span class="crops-name">Wheat</span>
                      </div>

                      <div class="info-crop">
                        <label for="">Major Crop</label>
                        <span class="crops-name">Rabi</span>
                      </div>
                      <div class="info-crop">
                        <label for="">Plan 1</label>
                        <span class="crops-name">Wheat</span>
                        <span class="sowing-date">Sowing Date:
                      <span class="date">10 Aug 2018</span>
                        </span>
                        <i class="icon-Back-Arrow"></i>
                      </div>
                      <div class="info-crop">
                        <label for="">Plan 2</label>
                        <span class="crops-name">Wheat</span>
                        <span class="sowing-date">Sowing Date:
                      <span class="date">10 Aug 2018</span>
                        </span>
                        <i class="icon-Back-Arrow"></i>
                      </div>
                      <div class="info-crop">
                        <label for="">Plan 3</label>
                        <span class="crops-name">Wheat</span>
                        <span class="sowing-date">Sowing Date:
                      <span class="date">18 Aug 2018</span>
                        </span>
                        <i class="icon-Back-Arrow"></i>
                      </div>
                    </section>
                  </li>
                  <!--
                <section class="info-section">
                  <div class="info-heading">
                    <label for="">Block</label>
                    <h4>Barwala Block</h4>
                    <div class="icon-set">
                      <i class="icon-map2B"></i>
                      <i class="icon-Notifications" (click)="viewNotification();">
                        <span class="notification-number">6</span>
                      </i>
                    </div>
                  </div>
                  <div class="info-crop">
                    <label for="">Area</label>
                    <span class="crops-name">20 Acres</span>
                  </div>
                  <div class="info-crop">
                    <label for="">Crop:</label>
                    <span class="crops-name">Wheat, Mustard</span>
                  </div>
                  <div class="info-crop">
                    <label for="">Major Crop</label>
                    <span class="crops-name">Kharif</span>
                  </div>
                  <div class="info-crop">
                    <label for="">Plan 1</label>
                    <span class="crops-name">Wheat</span>
                    <span class="sowing-date">Sowing Date:
                      <span class="date">10 Aug 2018</span>
                    </span>
                    <i class="icon-Back-Arrow"></i>
                  </div>
                  <div class="info-crop">
                    <label for="">Plan 2</label>
                    <span class="crops-name">Wheat</span>
                    <span class="sowing-date">Sowing Date:
                      <span class="date">10 Aug 2018</span>
                    </span>
                    <i class="icon-Back-Arrow"></i>
                  </div>
                  <div class="info-crop">
                    <label for="">Plan 3</label>
                    <span class="crops-name">Wheat</span>
                    <span class="sowing-date">Sowing Date:
                      <span class="date">18 Aug 2018</span>
                    </span>
                    <i class="icon-Back-Arrow"></i>
                  </div>
                </section>
                <section class="info-section">
                  <div class="info-heading">
                    <label for="">Block</label>
                    <h4>Barwala Block</h4>
                    <div class="icon-set">
                      <i class="icon-map2B"></i>
                      <i class="icon-Notifications" (click)="viewNotification();">
                        <span class="notification-number">6</span>
                      </i>
                    </div>
                  </div>
                  <div class="info-crop">
                    <label for="">Area</label>
                    <span class="crops-name">20 Acres</span>
                  </div>
                  <div class="info-crop">
                    <label for="">Crop:</label>
                    <span class="crops-name">Wheat, Mustard</span>
                  </div>
                  <div class="info-crop">
                    <label for="">Major Crop</label>
                    <span class="crops-name">Kharif</span>
                  </div>
                  <div class="info-crop">
                    <label for="">Plan 1</label>
                    <span class="crops-name">Wheat</span>
                    <span class="sowing-date">Sowing Date:
                      <span class="date">10 Aug 2018</span>
                    </span>
                    <i class="icon-Back-Arrow"></i>
                  </div>
                  <div class="info-crop">
                    <label for="">Plan 2</label>
                    <span class="crops-name">Wheat</span>
                    <span class="sowing-date">Sowing Date:
                      <span class="date">10 Aug 2018</span>
                    </span>
                    <i class="icon-Back-Arrow"></i>
                  </div>
                  <div class="info-crop">
                    <label for="">Plan 3</label>
                    <span class="crops-name">Wheat</span>
                    <span class="sowing-date">Sowing Date:
                      <span class="date">18 Aug 2018</span>
                    </span>
                    <i class="icon-Back-Arrow"></i>
                  </div>
                </section>
                -->
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-xs-12">
              <div class="row">
                <div class="info-block">
                  <section class="info-section">
                    <h3>Vehicle Information</h3>
                    <div class="info">
                      <label for="">Transport</label>
                      <input type="text" formControlName="transport1" [(ngModel)]="farminfo.transport1">
                    </div>
                    <div class="info">
                      <label for="">Transport</label>
                      <input type="text" formControlName="transport2" [(ngModel)]="farminfo.transport2">
                    </div>
                    <div class="info">
                      <label for="">Transport</label>
                      <input type="text" formControlName="transport3" [(ngModel)]="farminfo.transport3">
                    </div>
                  </section>
                  <section class="info-section">
                    <h3>Trade Information</h3>
                    <div class="info">
                      <label for="">Input Purchase</label>
                      <!--<input type="text" placeholder="" formControlName="inputPurchase" [(ngModel)]="farminfo.inputPurchase">-->
                      <select [disabled]="readOnly" formControlName="inputPurchase" [(ngModel)]="farminfo.inputPurchase">
                        <option  value="{{stat.inputPurchaseId}}"  *ngFor="let stat of InputPurchase" >
                            {{stat.inputPurchaseName}}
                        </option>
                    </select>
                    </div>
                    <div class="info">
                      <label for="">Export Product</label>
                      <input type="text" placeholder="" formControlName="exportProduct" [(ngModel)]="farminfo.exportProduct">
                    </div>
                    <div class="info">
                      <label for="">Output Export</label>
                      <!--<input type="text" placeholder="" formControlName="outputExport" [(ngModel)]="farminfo.outputExport">-->
                      <select [disabled]="readOnly" formControlName="outputExport" [(ngModel)]="farminfo.outputExport">
                        <option  value="{{stat.outputExportId}}"  *ngFor="let stat of OutputExport" >
                            {{stat.outputExportName}}
                        </option>
                    </select>
                    </div>
                  </section>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="submit-button-wrap" *ngIf="!readOnly">
          <button class="submit-button" (click)="save()">Submit</button>
        </div>
      </form>
    </main>
  </div>
  <!--
<div id="mySidebar" class="sidebar-hide-view" *ngIf="notification">
  <div class="notification-panel-head">
    <ul>
      <li>
        <a>Notifications</a>
      </li>
      <li>
        <a >Alerts</a>
      </li>
    </ul>
    <i class="icon-cross-1" (click)="notificationClose();"></i>
  </div>
  <div class="today-notifications">
    <div class="today">
      <h5>Today</h5>
      <i class="icon-cross-1"></i>
    </div>
    <div class="notification">
      <h6>Subject</h6>
      <span class="time">Time</span>
      <p>Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por scientie, musica, sport etc,
        litot Europa usa li sam vocabular.</p>
    </div>
    <div class="notification">
      <h6>Subject</h6>
      <span class="time">Time</span>
      <p>Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por scientie, musica, sport etc,
        litot Europa usa li sam vocabular.</p>
    </div>
  </div>
  <div class="previous-notification">
    <div class="previous">
      <h5>Last 7 Days</h5>
      <i class="icon-cross-1"></i>
    </div>
    <div class="notification">
      <h6>Subject</h6>
      <span class="time">Date & Time</span>
      <p>Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por scientie, musica, sport etc,
        litot Europa usa li sam vocabular.</p>
    </div>
    <div class="notification">
      <h6>Subject</h6>
      <span class="time">Date & Time</span>
      <p>Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por scientie, musica, sport etc,
        litot Europa usa li sam vocabular.</p>
    </div>
    <div class="notification">
      <h6>Subject</h6>
      <span class="time">Date & Time</span>
      <p>Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por scientie, musica, sport etc,
        litot Europa usa li sam vocabular.</p>
    </div>
  </div>
  <a  class="more-redirection">View More</a>
</div>-->
</div>