.ticket-detail-wrapper {
    border-radius: 4px;
    background-color: #FFFFFF;
    -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
    margin: 20px 0;
    padding: 10px 0;
  }
  
  .ticket-detail-wrapper .farm-information {
    overflow: hidden;
    padding: 5px;
  }
  
  .ticket-detail-wrapper .farm-information input[type="checkbox"] {
    width: 16px;
    height: 16px;
  }
  
  .ticket-detail-wrapper .farm-information [class^='col-'] {
    padding-right: 5px;
    padding-left: 5px;
  }
  
  .ticket-detail-wrapper .farm-information .icon-map2B {
    float: right;
  }
  
  @media screen and (max-width: 767px) {
    .ticket-detail-wrapper .farm-information .icon-map2B {
      float: none;
    }
  }
  
  .ticket-detail-wrapper .blocks-information {
    overflow: auto;
    max-height: 355px;
  }
  
  .ticket-detail-wrapper .blocks-information .blocks {
    border-radius: 6px;
    background-color: #FFFFFF;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.24), 0 1px 1.5px 0 rgba(0, 0, 0, 0.12);
            box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.24), 0 1px 1.5px 0 rgba(0, 0, 0, 0.12);
    margin: 5px;
    padding: 10px;
  }
  
  .ticket-detail-wrapper .blocks-information .blocks .info label {
    color: #767676;
  }
  
  .ticket-detail-wrapper .blocks-information .blocks .block-info {
    font-size: 14px;
    letter-spacing: 0.21px;
    line-height: 18px;
    color: #0B250D;
    font-weight: 600;
  }
  
  .ticket-detail-wrapper .blocks-information .blocks .crop-info .icon-Back-Arrow {
    float: right;
    padding-top: 3px;
  }
  
  .ticket-detail-wrapper .ticket-detail {
    border-bottom: 1px solid #006B39;
  }
  
  .ticket-detail-wrapper .ticket-detail .icons-wrapper {
    text-align: right;
  }
  
  .ticket-detail-wrapper .ticket-detail .icons-wrapper label {
    color: #0B250D;
    font-size: 10px;
    letter-spacing: 0.15px;
    line-height: 13px;
    font-weight: 600;
  }
  
  .ticket-detail-wrapper .ticket-detail .icons-wrapper a {
    text-decoration: none;
  }
  
  .ticket-detail-wrapper .ticket-detail .icons-wrapper i {
    font-size: 16px;
    padding: 0 5px;
  }
  
  .ticket-detail-wrapper .ticket-detail .icons-wrapper .icon-cross-1 {
    margin-left: 20px;
  }
  
  .ticket-detail-wrapper .ticket-detail .ticket-heading {
    color: #0B250D;
    font-size: 18px;
    font-weight: 900;
    letter-spacing: 0.27px;
    line-height: 23px;
    margin-right: 15px;
  }
  
  .ticket-detail-wrapper .ticket-detail .ticket-type {
    padding: 0 10px;
    border-left: 1px solid #f5f5f5;
  }
  
  .ticket-detail-wrapper .ticket-detail .date-description {
    color: #0B250D;
    font-size: 10px;
    letter-spacing: 0.15px;
    line-height: 13px;
    font-weight: 600;
  }
  
  .ticket-detail-wrapper .ticket-detail .date {
    color: #767676;
    font-size: 12px;
    letter-spacing: 0.18px;
    line-height: 15px;
    padding-left:5px;
  }
  
  .ticket-detail-wrapper .ticket-info-wrapper {
    padding: 20px;
    overflow: hidden;
  }
  
  .ticket-detail-wrapper .ticket-info-wrapper h3 {
    color: #0B250D;
    font-size: 16px;
    letter-spacing: 0.24px;
    line-height: 20px;
    font-weight: 600;
    margin: 0 0 5px 0;
  }
  
  .ticket-detail-wrapper .ticket-info-wrapper img {
    max-width: 100px;
  }
  
  .ticket-detail-wrapper .ticket-info-block {
    border: 1px solid #F5F5F5;
    border-radius: 4px;
    background-color: #FFFFFF;
    min-height: 200px;
    padding: 10px;
    margin: 5px;
  }
  
  .scroll-block{
    max-height: 300px;
    overflow-y: auto;
  }
  .ticket-detail-wrapper .ticket-info-block input[type="date"]::-webkit-calendar-picker-indicator,
  .ticket-detail-wrapper .ticket-info-block input[type="date"]::-webkit-inner-spin-button {
    opacity: 0;
    z-index: 2;
    width: 15px;
  }
  
  .ticket-detail-wrapper .ticket-info-block input[type="date"] {
    background: url("../../../assets/Calendar.svg");
    background-repeat: no-repeat;
    background-position: right;
  }
  
  .ticket-detail-wrapper .ticket-info-block textarea {
    width: 100%;
    border: 1px solid #D6D6D6;
    color: #767676;
    font-size: 14px;
    letter-spacing: 0.21px;
    line-height: 18px;
  }
  
  .ticket-detail-wrapper .ticket-info-block .profile-heading {
    position: relative;
  }
  
  .ticket-detail-wrapper .ticket-info-block .profile-heading h3 {
    display: inline-block;
  }
  
  .ticket-detail-wrapper .ticket-info-block .profile-heading a {
    color: #006B39;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.18px;
    line-height: 15px;
    text-decoration: none;
    position: absolute;
    top: 5px;
    right: 0;
  }
  
  .ticket-detail-wrapper .ticket-info-block .info {
    margin: 5px 0;
  }
  
  .ticket-detail-wrapper .ticket-info-block .info label {
    color: #0B250D;
    font-size: 10px;
    letter-spacing: 0.15px;
    line-height: 13px;
    width: 70px;
    margin: 0;
    word-break: break-word;
  }
  
  .ticket-detail-wrapper .ticket-info-block .info input {
    color: #767676;
    font-size: 14px;
    letter-spacing: 0.21px;
    line-height: 18px;
    border: none;
    border-bottom: 1px solid #D6D6D6;
    width: calc(100% - 75px);
  }
  
  .ticket-detail-wrapper .ticket-info-block .info select {
    color: #767676;
    font-size: 14px;
    letter-spacing: 0.21px;
    line-height: 18px;
    border: none;
    border-bottom: 1px solid #D6D6D6;
    width: calc(100% - 80px);
    background: url('../../../assets/DownArrow.svg');
    background-position: right;
    background-repeat: no-repeat;
    /* for Firefox */
    -moz-appearance: none;
    /* for Chrome */
    -webkit-appearance: none;
  }
  
  .ticket-detail-wrapper .ticket-info-block .info select::-ms-expand {
    display: none;
  }
  
  .ticket-detail-wrapper .ticket-info-block p {
    color: #767676;
    font-size: 10px;
    letter-spacing: 0.15px;
    line-height: 13px;
  }
  
  .ticket-detail-wrapper .ticket-info-block .activity-heading h3 {
    display: inline-block;
  }
  
  .ticket-detail-wrapper .ticket-info-block .activity-heading ul {
    list-style: none;
    padding: 0;
    display: inline-block;
    margin-left: 10px;
  }
  
  .ticket-detail-wrapper .ticket-info-block .activity-heading ul li {
    display: inline-block;
    margin: 0 5px;
  }
  
  .ticket-detail-wrapper .ticket-info-block .activity-heading ul a {
    text-decoration: none;
    color: #006B39;
    font-size: 14px;
    font-weight: 600;
  }
  
  .ticket-detail-wrapper .ticket-info-block .comment-info .date-time {
    color: #767676;
    font-size: 10px;
    letter-spacing: 0.15px;
    line-height: 13px;
  }
  
  .ticket-detail-wrapper .ticket-info-block .comment-info .date-time .time {
    float: right;
  }
  
  .ticket-detail-wrapper .ticket-info-block .reply-link-wrapper {
    text-align: right;
  }
  
  .ticket-detail-wrapper .ticket-info-block .reply-link-wrapper a {
    color: #006B39;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.21px;
    line-height: 18px;
  }
  .change-status-btn{
    color: #767676;
    font-size: 14px;
    letter-spacing: 0.21px;
    line-height: 18px;
    padding: 2px 20px;
    background-color: #fff;
    border: 1px solid #D7D7D7;
    border-radius: 2px;
  }

  .status-info{
    display: inline-block;
    color: #767676;
    font-size: 14px;
    letter-spacing: 0.21px;
    line-height: 18px;
    padding: 2px 5px;
  }
  .status-closed{
    /* background-color: #338533; */
    color: #338533;
  }
  .status-inprogress{
    /* background-color : #f5a623; */
    color: #f5a623;
  }
  .status-overdue{
    /* background-color: #d0021b; */
    color: #d0021b;
  }
  .status-onhold{
    color: #ff002f;
  }
  .status-onhold i:before{
    color:#ff002f;
  }
  .icon-onhold-Done:before {
    color: #ff002f;
  }
  .btn-wrapper{
    text-align: center;
    margin-top: 30px;
  }
  .btn-status-inprogress{
    background-color: #f5a623;
    color: white;
  }
  .btn-status-overdue{
    background-color: #d0021b;
    color: white;
  }
  .btn-status-closed{
    background-color: #006B39;
    color: white;
  }
  .btn-status-onhold{
    background-color: #006B39;
    color: white;
  }
  
  .sticky-header{
    position: sticky;
    top: 0;
    z-index: 3;
    background-color: #fff;
    padding-top: 10px;
  }
  /*# sourceMappingURL=ticket-detail.css.map */
  .ticket-detail-wrapper .ticket-info-block1 {
    border: 1px solid #F5F5F5;
    border-radius: 4px;
    background-color: #FFFFFF;
    min-height: 200px;
    padding: 10px;
    margin: 5px;
  }
  .error-msg {
    color: #D8000C;}
    .comments-block .date-time{
      color: gray;
      text-align: right;
      font-size: 12px;
    }
    .comments-block .comments textarea{
      resize: none;
    }
    .comments-block .comment-name{
      color: #0B250D;
      font-size: 12px;
      letter-spacing: 0.15px;
      line-height: 13px;
      margin: 0;
    }