<div class="container-fluid">
  <main class="ticket-detail-wrapper">
    <div class="ticket-detail">
      <div class="container-fluid">
        <div class="col-md-6">
          <div class="ticket-info">
            <span class="ticket-heading" *ngIf="ticket">
              Ticket {{ticket.ticketId}}
            </span>
            <span class="ticket-type" *ngIf="ticket && ticket.ticketType">
              <label class="date-description" for="">Type</label>
              <span class="date">{{ticket.ticketType.ticketTypeName}}</span>
            </span>
            <span class="ticket-type">
              <label class="date-description">Created Date</label>
              <span class="date">{{ticket.createdDate | date}}</span>
            </span>
            <span class="ticket-type">
              <label for="" class="date-description">Due Date</label>
              <span class="date">{{ticket.dueDate | date}}</span>
            </span>
          </div>
        </div>
        <div class="col-md-6">
          <div class="icons-wrapper">
            <span class="status-icon" *ngIf="ticket && ticket.status">
              <label for="">Status</label>
              <a title="Closed" href="javascript:void(0)">
                <i  [ngClass]="{'icon-Complete-Done': ticket.status.statusId == 3}" class="icon-Complete-Default"></i>
              </a>
              <a title="In Progress" href="javascript:void(0)">
                <i [ngClass]="{'icon-In-progress-Done': ticket.status.statusId == 2}" class="icon-In-Progress-Default"></i>
              </a>
              <a title="Overdue" href="javascript:void(0)">
                <i [ngClass]="{'icon-Alarm-Done': ticket.status.statusId == 4}" class="icon-Alarm-Default"></i>
              </a>
              <a title="On hold" href="javascript:void(0)">
                <i [ngClass]="{'icon-onhold-Done': ticket.status.statusId == 5}" class="icon-on-hold-gray"></i>
              </a>
            </span>
            <span class="icon-set">
            <!--
              <a href="javascript:void(0)">
                <i class="icon-More"></i>
              </a>
              <a href="javascript:void(0)">
                <i class="icon-edit0"></i>
              </a>
              <a href="javascript:void(0)">
                <i class="icon-delete"></i>
              </a>
              -->
              <a title="Close" href="javascript:void(0)" >
                <i title="Close" class="icon-cross-1" (click)="goBack()" ></i>
              </a>
            </span>
          </div>
        </div>
      </div>
    </div>
    <form action="">
      <div class="ticket-info-wrapper" *ngIf="ticket">
        <div class="row">
            <div class="col-md-9">
                <div class="row">
                    <div class="col-lg-4 col-sm-6">
                      <div class="row">
                        <div class="ticket-info-block">
                          <h3>Ticket Information</h3>
                          <div class="info">
                            <label for="">Visit Date</label>
                            <input type="" readOnly="true" name="visitDate" [ngModel]="ticket.visitDate | date">
                          </div>
                          <div class="info" *ngIf="false">
                            <label for="">Visit Time</label>
                            <input type="time">
                          </div>
                          <div class="info">
                            <label for="">Resolved Date</label>
                            <input type="text" readOnly="true" name="resolvedDate" [(ngModel)]="ticket.resolvedDate">
                          </div>
                          <div class="info">
                            <label for="">Description</label>
                            <textarea readOnly="true" name="description" [(ngModel)]="ticket.description"></textarea>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                      <div class="row">
                        <div class="ticket-info-block">
                          <div class="profile-heading">
                            <h3>Created By</h3>
                            <!-- <a href="#">View Profile</a>-->
                          </div>
                          <!-- <img src="./images/assignee.png" alt="Assignee"> -->
                          <div class="info">
                            <label for="">Name</label>
                            <input type="text" readOnly="true" name="farmerName" [(ngModel)]="createdBy.farmerName">
                          </div>
                          <div class="info">
                            <label for="">Cell Phone #</label>
                            <!-- <input type="number" name="cellPhone" [(ngModel)]="assignedTo.cellPhone" >-->
                            <input type="text" readOnly="true" name="cellPhone" [(ngModel)]="createdBy.cellPhone">
                          </div>
                          <!--
                          <div class="info">
                            <label for="">Employee ID</label>
                            <input type="text"  readOnly="true" >
                          </div>
                          -->
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                      <div class="row">
                        <div class="ticket-info-block">
                          <h3>Assigned To</h3>
                          <!-- <img src="./images/assignee.png" alt="Assignee"> -->
                          <div class="info">
                            <label for="">Name</label>
                            <input type="text" readOnly="true" name="agentName" [(ngModel)]="assignedTo.tsoname">
                          </div>
                          <div class="info">
                            <label for="">Cell Phone #</label>
                            <!-- <input type="number" name="callPhone" [(ngModel)]="assignedTo.cellPhone" >-->
                            <input type="text" readOnly="true" name="callPhone" [(ngModel)]="assignedTo.cellPhone">
                          </div>
                          <!--
                          <div class="info">
                            <label for="">Employee ID</label>
                            <input type="text"   readOnly="true" name="callCenterAgentId" [(ngModel)]="assignedTo.tsoid"  >
                          </div>-->
                        </div>
                      </div>
                    </div>
                    
                    <div class="col-lg-4 col-sm-6">
                      <div class="row">
                        <div class="ticket-info-block" *ngIf="ticket.farmer">
                          <div class="profile-heading">
                            <h3>Farmer Profile</h3>
                            <!--<a href="#">View Profile</a>-->
                          </div>
                          <!-- <img src="./images/Image.png" alt="Farmer"> -->
                          <div class="info">
                            <label for="">Name</label>
                            <input type="text" readOnly="true" name="farmerName" [(ngModel)]="ticket.farmer.farmerName">
                          </div>
                          <div class="info">
                            <label for="">CNIC #</label>
                            <input type="text" readOnly="true" name="cnic" [(ngModel)]="ticket.farmer.cnic">
                          </div>
                          <div class="info">
                            <label for="">Cell Phone #</label>
                            <!--  <input type="number" readOnly="true" name="cellPhone"  [(ngModel)]="ticket.farmer.cellPhone">-->
                            <input type="text" readOnly="true" name="cellPhone" [(ngModel)]="ticket.farmer.cellPhone">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-8 col-sm-12">
                      <div class="row">
                        <div class="ticket-info-block" *ngIf="ticket.farm">
                          <h3>Farm Information</h3>
                          <div class="farm-information">
                            <div class="col-xs-11">
                              <div class="row">
                                <div class="col-lg-6 col-md-12">
                                  <div class="info">
                                    <label for="">Farm Name</label>
                                    <input type="text" name="farmName" [(ngModel)]="ticket.farm.farmName" readonly="true">
                                  </div>
                                </div>
                                <div class="col-lg-6 col-md-12">
                                  <div class="info">
                                    <label for="">Total Area</label>
                                    <input type="text" name="totalAreaAcres" [(ngModel)]="ticket.farm.totalAreaAcres" readonly="true">
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-lg-6 col-md-12">
                                  <div class="info">
                                    <label for="">Address</label>
                                    <input type="text" name="farmAddress" [(ngModel)]="ticket.farm.farmAddress" readonly="true">
                                  </div>
                                </div>
                                <!--  <div class="col-lg-6 col-md-12">
                             
                                  <div class="info">
                                    <label for="">City/ Village/ Region</label>
                                    <input type="text" name="regionName" [(ngModel)]="FarmLocationData.regionName"   readOnly="true">
                                  </div>
                                
                                </div>
                                  -->
                              </div>
                              <div class="row">
                                <div class="col-lg-4 col-md-12">
                                  <div class="info">
                                    <label for="">Tehsil</label>
                                    <input type="text" readonly="true" name="tehsilName" [(ngModel)]="FarmLocationData.tehsilName">
                                  </div>
                                </div>
                                <div class="col-lg-4 col-md-12">
                                  <div class="info">
                                    <label for="">District</label>
                                    <input type="text" readonly="true" name="districtName" [(ngModel)]="FarmLocationData.districtName">
                                  </div>
                                </div>
                                <div class="col-lg-4 col-md-12">
                                  <div class="info">
                                    <label for="">Province</label>
                                    <input type="text" readonly="true" name="provinceName" [(ngModel)]="FarmLocationData.provinceName">
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col-xs-1 no-padding">
                              <i class="icon-map2B"></i>
                            </div>
                          </div>
                          <div class="blocks-information">
                            <h3 class="sticky-header">Blocks</h3>
                            <div *ngFor="let block of ticket.farm.tbFarmBlock">
                              <div class="col-sm-4 col-xs-12">
                                <div class="row">
                                  <div class="blocks">
                                    <div class="info">
                                      <label for="">Block:</label>
                                      <span class="block-info">{{block.blockName}} </span>
                                    </div>
                                    <div class="info">
                                      <label for="">Area:</label>
                                      <span class="block-info">{{block.blockArea}}</span>
                                    </div>
                                    <div class="info">
                                      <label for="">Crop:</label>
                                      <span class="block-info crop-info">Wheat TODO
                                      <i class="icon-Back-Arrow"></i>
                                    </span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
            <div class="col-md-3">
                <div class="row">
                    <div class="col-lg-12 col-sm-6">
                      <form [formGroup]="form" (ngSubmit)="onSubmit();form.reset()">
                        <div class="row">
                          <div class="ticket-info-block">
                            <h3>Ticket Status</h3>
                            <div class="info" *ngIf="ticket.status">
                              <label for="">Status</label>
                              <span class="status-info  " *ngIf="ticket.status.statusId == 1">Open
                            </span>
                              <span class="status-info  status-inprogress" *ngIf="ticket.status.statusId == 2">In Progress
                                <i title="In Progress" class="icon-In-progress-Done"></i>
                              </span>
                              <span class="status-info  status-closed" *ngIf="ticket.status.statusId == 3">Closed
                                  <i title="Closed" class="icon-Complete-Done"></i>
                                </span>
                              <span class="status-info  status-overdue" *ngIf="ticket.status.statusId == 4">Over Due
                                    <i title="Overdue" class="icon-Alarm-Done"></i>
                                  </span>
                              <span class="status-info  status-onhold" *ngIf="ticket.status.statusId == 5">On Hold
                                <i title="On hold" class="icon-onhold-Done"></i>
                              </span>
              
                            </div>
              
                            <div class="info">
                              <label for="">SLA Status</label>
                              <select name="slastatus" [(ngModel)]="ticket.slastatus" disabled="true">
                                <option value="Within SLA">Within SLA</option>
                               <!-- <option value="Outside SLA">Outside SLA</option>-->
                               <option value="SLA Breached">SLA Breached</option>
                              </select>
                            </div>
                          <div *ngIf="this.readonly==false">
                            <div class="btn-wrapper" *ngIf="ticket.status">
                              <button type="submit" [disabled]="!form.valid" class="change-status-btn btn-status-inprogress" *ngIf="ticket.status.statusId == 1 ||ticket.status.statusId == 5" (click)="updateStatus(2)">In Progress Ticket</button>
                              <button type="submit" [disabled]="!form.valid" class="change-status-btn btn-status-closed" *ngIf="ticket.status.statusId == 2" (click)="updateStatus(3)">Close Ticket</button>
                              <!-- ON hold button --><button type="submit" [disabled]="!form.valid" class="change-status-btn btn-status-onhold" *ngIf="ticket.status.statusId == 1 || ticket.status.statusId == 2" (click)="updateStatus(5)">On Hold</button> 
                              <!-- <button class="change-status-btn">Close Ticket</button> -->
                            </div>
                          </div>
                          </div>
                          <div class="ticket-info-block comments-block scroll-block">
                              <div class="activity-heading sticky-header">
                                <h3 style="margin-top:0px;padding-top:0px">Comments</h3>
                                <div class="reply-link-wrapper">
                                    
                                  <textarea required  style="max-height:50px" required formControlName="commentbox"   rows="5"> </textarea>
                                  <div *ngIf="f.commentbox.errors?.required"class="error-msg">Comment is required</div>
                                </div>
                                 
                                      
                              </div>
                              <!-- <div *ngFor="let comment of ticket.tbTicketActivity">
                                <div class="comment-info">
                                  <div class="date-time">
                                    <span class="date">{{comment.createdDate | date}}</span>
                                    <span class="time">TODO</span>
                                  </div>
                                  <textarea readonly="true" name="description" value="{{comment.description}}"> </textarea>
                                </div>
                              </div> -->
                             
                              <div>
                                <div *ngFor="let comment of TicketActivity">
                                  <div class="comments">
                                      <div >
                                          <span class="comment-name">{{comment.agent.agentName | uppercase}}</span>
                                       </div>
                                  <div> <textarea readonly="true" >{{comment.description}} </textarea></div>
                                    <div class="date-time">
                                      <span class="date">{{comment.createdDate | date: 'dd/MM/yyyy hh:mm a'}}</span>
                                    </div>
                                    
                                </div>
                                  
                                </div>
                              </div>
                            </div>
                       </div>
                      </form>
                     </div>
                </div>
            </div>
        </div>
        
      
        
        <div class="col-lg-3 col-sm-6" *ngIf="false">
          <div class="row">
            <div class="ticket-info-block">
              <h3>Feedback</h3>
              <div>Stars rating</div>
              <div class="comment-info">
                <div class="date-time">
                  <span class="date">05/Jan/2019</span>
                  <span class="time">9:30 a.m</span>
                </div>
                <textarea name="" id=""></textarea>
              </div>
              <div>Volume control</div>
              <p>Client’s Review: Uploaded by M. Shabbir Ahmed</p>
            </div>
          </div>
        </div>
      </div>
    </form>
  </main>
</div>