.viewport {
    height: 200px;
    width: 200px;
    border: 1px solid black;
}

.scrolling-example {
    height: auto;
}

/*typography*/
.clearfix:after {
    content: '';
    display: block;
    clear: both;
  }
  
  .ellipsis {
    white-space: nowrap;
    /* 1 */
    text-overflow: ellipsis;
    /* 2 */
    overflow: hidden;
  }
  
  body {
    background-color: #f5f5f5;
  }
  
  #dealers-profile-header {
    min-height: 60px;
    background: linear-gradient(315deg, #2B6931 0%, #133816 100%);
    padding: 0 25px;
    overflow: hidden;
  }
  
  @media screen and (max-width: 767px) {
    #dealers-profile-header {
      padding: 0 10px;
    }
  }
  
  #dealers-profile-header .logo {
    display: inline-block;
    width: 75px;
    max-width: 75px;
    height: 60px;
    background-color: #FFFFFF;
  }
  
  #dealers-profile-header .logo img {
    width: 100%;
    padding: 10px;
  }
  
  #dealers-profile-header .portal-title {
    display: inline-block;
    vertical-align: middle;
    padding: 0 10px;
  }
  
  #dealers-profile-header .portal-title .title {
    font-size: 28px;
    line-height: 34px;
    color: #FFFFFF;
  }
  
  #dealers-profile-header .portal-title .portal-slogan {
    font-size: 10px;
    line-height: 12px;
    text-align: right;
    color: rgba(255, 255, 255, 0.5);
  }
  
  #dealers-profile-header .sign-in {
    color: #FFFFFF;
    text-align: right;
    height: 60px;
    font-size: 16px;
    padding: 20px 0;
  }
  
  #dealers-profile-header .sign-in > span {
    padding-left: 20px;
  }
  
  @media screen and (max-width: 767px) {
    #dealers-profile-header .sign-in > span {
      padding: 0 10px;
    }
  }
  
  #dealers-profile-header .sign-in > span a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 14px;
  }
  
  @media screen and (max-width: 767px) {
    #dealers-profile-header .sign-in > span a {
      font-size: 12px;
    }
  }
  
  #dealers-profile-header .sign-in i {
    padding: 0 5px;
    font-size: 18px;
  }
  
  @media screen and (max-width: 767px) {
    #dealers-profile-header .sign-in i {
      font-size: 16px;
    }
  }
  
  #dealers-profile-header .sign-in .login-user {
    border-right: 1px solid rgba(255, 255, 255, 0.26);
    display: inline-block;
    padding: 0 20px;
  }
  
  #dealers-profile-header .sign-in .login-user-img {
    width: 30px;
    margin: 0 10px;
  }
  
  .breadcrumb-wrapper {
    background-color: #f5f5f5;
    padding: 0 25px;
  }
  
  @media screen and (max-width: 767px) {
    .breadcrumb-wrapper {
      padding: 0;
    }
  }
  
  .breadcrumb-wrapper .breadcrumb {
    margin: 0;
    padding: 0;
  }
  
  @media screen and (min-width: 2001px) {
    .breadcrumb-wrapper .breadcrumb {
      padding: 0;
    }
  }
  
  @media screen and (max-width: 767px) {
    .breadcrumb-wrapper .breadcrumb {
      padding: 0 10px;
    }
  }
  
  .breadcrumb-wrapper .breadcrumb li + li:before {
    color: #767676;
    content: ">";
  }
  
  .breadcrumb-wrapper .breadcrumb li a {
    color: #767676;
    text-decoration: none;
  }
  
  .navigation-wrapper {
    padding: 10px 25px 0;
    background-color: #FFFFFF;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  }
  
  @media screen and (max-width: 767px) {
    .navigation-wrapper {
      padding: 0 10px;
    }
  }
  
  .navigation-wrapper .navigation-functions {
    text-align: right;
  }
  
  .navigation-wrapper .navigation-functions .dropdown-toggle {
    color: #006B39;
    font-size: 14px;
    line-height: 18px;
  }
  
  .navigation-wrapper .dealer-filter {
    margin: 5px 0;
  }
  
  .navigation-wrapper .nav-tabs {
    border-bottom: none;
    display: inline-block;
  }
  
  .navigation-wrapper .nav-tabs > li > a {
    color: #767676;
    border: none;
    border-bottom: 1px solid transparent;
    text-transform: capitalize;
  }
  
  @media screen and (max-width: 767px) {
    .navigation-wrapper .nav-tabs > li > a {
      font-size: 12px;
      padding: 5px 7px;
    }
  }
  
  .navigation-wrapper .nav-tabs > li > a:hover {
    border-color: transparent;
  }
  
  .navigation-wrapper .nav-tabs > li.active > a, .navigation-wrapper .nav-tabs > li.active > a:focus, .navigation-wrapper .nav-tabs > li.active > a:hover {
    color: #006B39;
    border: none;
    border-bottom: 1px solid #006B39;
  }
  
  .navigation-wrapper .nav > li > a {
    padding: 5px 10px;
  }
  
  @media screen and (max-width: 767px) {
    .navigation-wrapper .nav > li > a {
      padding: 5px 7px;
    }
  }
  
  .navigation-wrapper .nav > li > a:focus, .navigation-wrapper .nav > li > a:hover {
    background-color: transparent;
  }
  
  .navigation-wrapper .nav .open > a, .navigation-wrapper .nav .open > a:focus, .navigation-wrapper .nav .open > a:hover {
    background-color: transparent;
    border-color: transparent;
  }
  
  .navigation-wrapper .search-bar {
    width: 50px;
    font-size: 16px;
    border: none;
    background-color: white;
    /* background-image: url("../images/Search.svg"); */
    background-position: 95% 10px;
    background-repeat: no-repeat;
    padding: 7px 20px 7px 11px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    cursor: pointer;
  }
  .error-msg {
    color: #D8000C;
   
  }
  
  .navigation-wrapper .search-bar:focus {
    width: 100%;
  }
  
  .navigation-wrapper .caret {
    margin: 0 10px;
  }
  
  .navigation-wrapper .dealer-heading {
    color: #0B250D;
    font-size: 18px;
    line-height: 23px;
    font-weight: 900;
    letter-spacing: 0.27px;
    border-right: 1px solid #D7D7D7;
    padding-right: 10px;
  }
  
  @media screen and (max-width: 767px) {
    .navigation-wrapper .dealer-heading {
      display: block;
      border-right: none;
      margin-bottom: 10px;
    }
  }
  
  .navigation-wrapper .dealer-button-wrap {
    text-align: right;
    margin: 5px 0;
  }
  
  @media screen and (max-width: 767px) {
    .navigation-wrapper .dealer-button-wrap {
      margin-top: 10px;
    }
  }
  
  .navigation-wrapper .dealer-button-wrap .add-dealer-button {
    border-radius: 2px;
    background-color: #006B39;
    border: none;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.21px;
    padding: 2px 15px;
  }
  
  .navigation-wrapper .nav-tabs-custom {
    border-bottom: none;
    display: inline-block;
    padding-right: 10px;
    padding-left: 5px;
    border-right: 1px solid #D7D7D7;
  }
  
  .navigation-wrapper .nav-tabs-custom > li > a {
    color: #767676;
    font-size: 10px;
    line-height: 13px;
    letter-spacing: 0.15px;
    text-transform: capitalize;
  }
  
  .navigation-wrapper .nav-tabs-custom > li > a:hover {
    border-color: transparent;
  }
  
  .navigation-wrapper .nav-tabs-custom > li.active > a, .navigation-wrapper .nav-tabs-custom > li.active > a:focus, .navigation-wrapper .nav-tabs-custom > li.active > a:hover {
    color: #006B39;
    border: none;
    border-bottom: 1px solid #006B39;
  }
  
  .navigation-wrapper .nav-custom > li > a {
    padding: 0 5px;
    text-transform: capitalize;
  }
  
  .navigation-wrapper .nav-custom > li > a:focus, .navigation-wrapper .nav-custom > li > a:hover {
    background-color: transparent;
  }
  
  .navigation-wrapper .nav-custom .open > a, .navigation-wrapper .nav-custom .open > a:focus, .navigation-wrapper .nav-custom .open > a:hover {
    background-color: transparent;
    border-color: transparent;
  }
  
  .dealer-profile-wrapper {
    background-color: #FFFFFF;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.24), 0 1px 1.5px 0 rgba(0, 0, 0, 0.12);
            box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.24), 0 1px 1.5px 0 rgba(0, 0, 0, 0.12);
    margin: 20px 0;
  }
  
  .dealer-profile-wrapper .dealer-profile {
    padding: 5px 0;
    border-bottom: 1px solid #006B39;
  }
  
  .dealer-profile-wrapper .dealer-profile .profile-info .profile-heading {
    padding: 0 10px;
    color: #0B250D;
    font-size: 18px;
    font-weight: 900;
    letter-spacing: 0.27px;
    line-height: 23px;
  }
  
  .dealer-profile-wrapper .dealer-profile .profile-info .appointment-date, .dealer-profile-wrapper .dealer-profile .profile-info .update-date {
    display: inline-block;
    padding: 0 10px;
    border-left: 1px solid #f5f5f5;
  }
  
  .dealer-profile-wrapper .dealer-profile .profile-info .date-description {
    color: #0B250D;
    font-size: 10px;
    letter-spacing: 0.15px;
    line-height: 13px;
  }
  
  .dealer-profile-wrapper .dealer-profile .profile-info .date {
    color: #767676;
    font-size: 12px;
    letter-spacing: 0.18px;
    line-height: 15px;
    padding-left: 10px;
  }
  
  .dealer-profile-wrapper .dealer-profile .icon-set {
    display: block;
    text-align: right;
    min-height: 30px;
  }
  
  .dealer-profile-wrapper .dealer-profile .icon-set i {
    vertical-align: middle;
    padding: 0 5px;
  }

  .dealer-profile-wrapper .dealer-profile .icon-set i :first-child{
    border-left: 1px solid #F5F5F5;
  }
  
  .dealer-profile-wrapper .dealer-profile .icon-set .icon-cross-1 {
    margin-left: 15px;
    border-left: none !important;
  }
  
  .dealer-profile-wrapper .profile-button-wrap {
    border-bottom: 1px solid #D6D6D6;
  }
  
  .dealer-profile-wrapper .profile-button-wrap .profile-button {
    border-radius: 2px;
    background-color: #006B39;
    border: none;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.21px;
    padding: 2px 20px;
    margin: 5px 10px;
  }
  
  .dealer-profile-wrapper .info-block {
    border: 1px solid #F5F5F5;
    border-radius: 4px;
    background-color: #FFFFFF;
    -webkit-box-shadow:  -10px 9px 21px 0 rgba(128, 152, 213, 0.07);
            box-shadow:  -10px 9px 21px 0 rgba(128, 152, 213, 0.07);
    min-height: 600px;
    margin: 10px 5px;
    padding: 10px;
  }
  @media screen and (max-width:767px){
    .dealer-profile-wrapper .info-block{
      min-height: 0;
    }
  }
  .dealer-profile-wrapper .info-block:hover{
      border-color:#006B39;
  }
  
  .dealer-profile-wrapper .info-block h3 {
    color: #0B250D;
    font-size: 18px;
    letter-spacing: 0.27px;
    line-height: 23px;
    margin: 0 0 10px 0;
    font-weight: 600;
  }

  .dealer-profile-wrapper .info-block .address-icon{
      position: relative;
  }

  .dealer-profile-wrapper .info-block .icon-map2B{
    position: absolute;
    right: 20px;
    top: 5px;
    font-size: 16px;
  }
  
  .dealer-profile-wrapper .info-block img {
    max-width: 100px;
    max-height: 100px;
  }
  
  .dealer-profile-wrapper .info-block .info {
    margin: 10px 0;
  }
  
  .dealer-profile-wrapper .info-block .info label {
    color: #0B250D;
    font-size: 10px;
    letter-spacing: 0.15px;
    line-height: 13px;
    width: 70px;
  }
  
  .dealer-profile-wrapper .info-block .info input {
    color: #767676;
    font-size: 14px;
    letter-spacing: 0.21px;
    line-height: 18px;
    border: none;
    border-bottom: 1px solid #D6D6D6;
    width: calc(100% - 75px);
  }
  
  
  .dealer-profile-wrapper .submit-button-wrap {
    text-align: right;
    padding: 10px;
  }
  
  .dealer-profile-wrapper .submit-button-wrap .submit-button {
    border-radius: 2px;
    background-color: #006B39;
    border: none;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.21px;
    padding: 2px 20px;
    margin: 5px 10px;
  }
  .info select{
    color: #767676;
    font-size: 14px;
    letter-spacing: 0.21px;
    line-height: 18px;
    border: none;
    border-bottom: 1px solid #D6D6D6;
    width: calc(100% - 75px);
    background: url('../../../assets/Down-Arrow.svg');
    background-position: right;
    background-repeat: no-repeat;
    -moz-appearance: none;
    -webkit-appearance: none;
    }
    .info select::-ms-expand{
      display: none;
    }
    .required-fields{
      color: #D0021B;
      font-size: 12px;
    }
.mandatory-message{
float: right;
margin: 5px 0;
font-size: 12px;
color: #D0021B;
background-color: #F7EDED;
padding: 2px 15px;
}
.mandatory-message .required-fields{
font-size: 16px;
line-height:16px;
}
  /*# sourceMappingURL=dealers-profile.css.map */