<div class="container-fluid">
  <form [formGroup]="form">
    <main class="dealer-profile-wrapper">
      <div class="dealer-profile">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6">
              <div class="profile-info">
                <span class="profile-heading">
                  Dealer Profile
                </span>
                <div class="appointment-date" *ngIf="this.id==0">
                  <span class="date-description">Appointment Date</span>
                  <span class="date">{{myDate| date}}</span>
                </div>
                <div class="update-date" *ngIf="this.id!=0">
                  <span class="date-description">Modified Date</span>
                  <span class="date">{{dealer.modifiedDateTime|date}}</span>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <span class="icon-set">
              <div *ngIf="this.id==0">
              <!--<i class="icon-edit0" ></i>-->
              <a >
                <i title="Close" class="icon-cross-1"(click)="goBack()"></i>
              </a>
              </div >
            <div *ngIf="this.id!=0">
             <i class="icon-delete" (click)="delete()"></i>
              <a >
                <i title="Close" class="icon-cross-1"(click)="goBack()"></i>
              </a> 
            </div>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="profile-button-wrap">
        <div class="container-fluid">
          <button class="profile-button">Profile</button>
          <!--<span class="mandatory-message"><span class='required-fields'>* </span> fields are mandatory to fill</span>-->
        </div>
      </div>
      <div class="info-blocks-wrapper">
        <div class="container-fluid">
          <div class="col-lg-3 col-sm-6 col-xs-12">
            <div class="row">
              <div class="info-block">
                <h3>Personal Information</h3>
                <!-- <img src="assets/person-addedit.png" alt="Farmer"> -->
                <div class="info">
                  <label for="">Name<span class='required-fields'>*</span></label>
                  <input type="text" required [disabled]="readOnly" formControlName="dealerNameUrdu" [(ngModel)]="dealer.dealerNameUrdu">
                  <div *ngIf="f.dealerNameUrdu.touched && f.dealerNameUrdu.errors" class="invalid-feedback">
                    <div *ngIf="f.dealerNameUrdu.errors.required"class="error-msg">Dealer Name is required</div>
                  </div>
                </div>
                <!-- <div class="alert" style="color: red" *ngIf="!form.controls['dealerName'].valid && form.controls['dealerName'].touched">dealerName is required</div> -->
                <div class="info">
                  <label for="">CNIC #</label>
                  <input type="text" placeholder="XXXXX-XXXXXXX-X" [disabled]="readOnly" formControlName="cnic" [(ngModel)]="dealer.cnic" mask='00000-0000000-0'>
                  <!-- <div *ngIf="f.cnic.touched && f.cnic.errors" class="invalid-feedback">
                            <div *ngIf="f.cnic.errors.pattern"> CNIC   Format (35201-4897818-7)</div>
                        </div>-->
                </div>
                <div class="info">
                  <label for="">NTN #</label>
                  <input type="text" [disabled]="readOnly" formControlName="ntn" [(ngModel)]="dealer.ntn">
                </div>
                <div class="info">
                  <label for="">STRN</label>
                  <input type="text" [disabled]="readOnly" formControlName="strn" [(ngModel)]="dealer.strn">
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6 col-xs-12">
            <div class="row">
              <div class="info-block">
                <h3>Dealer Status</h3>
                <div class="info">
                  <label for="">Category</label>
                  <select [disabled]="readOnly" formControlName="dealerCategory" [(ngModel)]="dealer.dealerCategory">
                        <option  value="{{cat.dealerCategoryId}}"  *ngFor="let cat of category" >
                            {{cat.categoryName}}
                        </option>
                    </select>
                  <!-- <input type="text" [disabled]="readOnly" formControlName="dealerCategory" [(ngModel)]="dealer.dealerCategory">-->
                </div>
                <div class="info">
                  <label for="">Dealer Status</label>
                  <select [disabled]="readOnly" formControlName="dealerStatus" [(ngModel)]="dealer.dealerStatus">
                        <option  value="{{stat.dealerStatusId}}"  *ngFor="let stat of status" >
                            {{stat.status}}
                        </option>
                    </select>
                  <!-- <input type="text" [disabled]="readOnly" formControlName="dealerStatus" [(ngModel)]="dealer.dealerStatus">-->
                </div>
                <div class="info">
                  <label for="">Tax Profile</label>
                  <input type="date" [disabled]="readOnly" formControlName="taxProfileDate" [(ngModel)]="dealer.taxProfileDate">
                </div>
                <div class="info">
                  <label for="">Current Status</label>
                  <select [disabled]="readOnly" formControlName="currentStatus" [(ngModel)]="dealer.currentStatus">
                        <option  value="{{stats.value}}"   *ngFor="let stats of currentstatuses" >
                            {{stats.label}}
                        </option>
                    </select>
                  <!-- <input type="text"  [disabled]="readOnly" formControlName="currentStatus" [(ngModel)]="dealer.currentStatus">-->
                </div>
                <div class="info ">
                  <label for="">CC#<span class='required-fields'>*</span></label>
                  <!-- <label for="">CC#</label> -->
                  <input  type="text" [disabled]="readOnly" required formControlName="ccnumber" [(ngModel)]="dealer.ccnumber">
                  <div *ngIf="f.ccnumber.touched && f.ccnumber.errors" class="invalid-feedback">
                      
                      <div *ngIf="f.ccnumber.errors.pattern " class="error-msg"><i class="fa fa-times-circle"></i>CC# Should be in Numbers</div>
                      <div *ngIf="f.ccnumber.errors.required "class="error-msg"><i class="fa fa-times-circle"></i>CC# is required</div>
                   
                  </div>
                </div>
                <div class="info">
                  <label for="">SHERP CC #</label>
                  <input type="text" [disabled]="readOnly" formControlName="sherpCc" [(ngModel)]="dealer.sherpCc">
                  <div *ngIf="f.sherpCc.touched && f.sherpCc.errors" class="invalid-feedback">
                    <div *ngIf="f.sherpCc.errors.pattern"class="error-msg">SHERP CC# Should be in Numbers</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6 col-xs-12">
            <div class="row">
              <div class="info-block">
                <div class="address-icon">
                  <h3>Address</h3>
                  <i class="icon-map2B"></i>
                </div>

                <div class="info">
                  <label for="">Proprieter</label>
                  <input type="text" [disabled]="readOnly" formControlName="proprieter" [(ngModel)]="dealer.proprieter">
                </div>
                <div class="info">
                  <label for="">Address<span class='required-fields'>*</span></label>
                  <input type="text" [disabled]="readOnly" formControlName="address" [(ngModel)]="dealer.address">
                  <div *ngIf="f.address.touched && f.address.errors" class="invalid-feedback">
                    <div *ngIf="f.address.errors.required"class="error-msg">Address is required</div>
                  </div>
                </div>
                <div class="info">
                  <label for="">Province</label>
                  <select [disabled]="readOnly" formControlName="province" [(ngModel)]="dealer.province" (change)="getRegions(dealer.province,0)">
                     <option  value="Select Province" disabled selected>
                        Select Province
                        </option> 
                    <option  value="{{prov.provinceCode}}"  *ngFor="let prov of provinces" >
                            {{prov.provinceName}}
                        </option>
                    </select>
                  <!-- <input type="text"  [disabled]="readOnly" formControlName="province" [(ngModel)]="dealer.province">-->
                </div>
                <div class="info">
                  <label for="">City/Village</label>
                  <select [disabled]="readOnly" formControlName="cityVillage" [(ngModel)]="dealer.cityVillage" (change)="getDistricts(dealer.cityVillage,0)">   
                      <option  value="Select City" disabled selected >
                        Select City
                        </option>  
                    <option  value="{{reg.regionCode}}"  *ngFor="let reg of regions" >
                            {{reg.regionName}}
                        </option>
                    </select>
                  <!-- <input type="text" [disabled]="readOnly" formControlName="cityVillage" [(ngModel)]="dealer.cityVillage" disabled>-->
                </div>
                <div class="info">
                  <label for="">District</label>
                  <select [disabled]="readOnly" formControlName="districtCode" [(ngModel)]="dealer.districtCode" (change)="getTehsils(dealer.districtCode,0)">
                       <option  value="Select District" disabled selected>
                        Select District
                        </option> 
                      <option  value="{{dist.districtCode}}"  *ngFor="let dist of districts" >
                            {{dist.districtName}}
                        </option>
                    </select>
                  <!-- <input type="text" [disabled]="readOnly" formControlName="districtCode" [(ngModel)]="dealer.districtCode" disabled>-->
                </div>
                <div class="info">
                  <label for="">Tehsil/Tualka</label>
                  <select [disabled]="readOnly" formControlName="tehsilCode" [(ngModel)]="dealer.tehsilCode">
                     <option  value="Select Tehsil" disabled selected>
                        Select Tehsil
                        </option>     
                    <option  value="{{teh.tehsilCode}}"  *ngFor="let teh of tehsils" >
                            {{teh.tehsilName}}
                        </option>
                    </select>
                  <!--<input type="text" [disabled]="readOnly" formControlName="tehsilCodeNavigation" disabled [(ngModel)]="dealer.tehsilCodeNavigation">-->
                </div>
                <div class="info">
                  <label for="">Sale Region</label>
                  <select [disabled]="readOnly" formControlName="saleRegion" [(ngModel)]="dealer.saleRegion">   
                    <option  value="Select Sale Region" disabled selected >
                        Select Sale Region
                        </option>  
                    <option  value="{{reg.regionCode}}"  *ngFor="let reg of regions" >
                            {{reg.regionName}}
                        </option>
                    </select>
                  <!-- <input type="text" [disabled]="readOnly" formControlName="saleRegion" disabled [(ngModel)]="dealer.saleRegion">-->
                </div>
                <div class="info">
                  <label for="">Sale Point</label>
                  <select [disabled]="readOnly" formControlName="salePoint" [(ngModel)]="dealer.salePoint">   
                    <option  value="{{sale.salePointCode}}"  *ngFor="let sale of salepoints" >
                            {{sale.salePointName}}
                        </option>
                    </select>
                  <!-- <input type="text" [disabled]="readOnly" formControlName="salePoint" disabled  [(ngModel)]="dealer.salePoint">-->
                </div>
                <div class="info">
                  <label for="">Latitude</label>
                  <input type="text" [disabled]="readOnly" formControlName="latitude" [(ngModel)]="dealer.latitude">
                </div>
                <div class="info">
                  <label for="">Longitude</label>
                  <input type="text" [disabled]="readOnly" formControlName="longitude" [(ngModel)]="dealer.longitude">
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6 col-xs-12">
            <div class="row">
              <div class="info-block">
                <h3>Contact Information</h3>
                <div class="info">
                  <label for="">Cell Phone #<span class='required-fields'>*</span></label>
                  <input type="text" [disabled]="readOnly" formControlName="cellPhone" [(ngModel)]="dealer.cellPhone">
                  <div *ngIf="f.cellPhone.touched && f.cellPhone.errors" class="invalid-feedback">
                    <div *ngIf="f.cellPhone.errors.required"class="error-msg">CellPhone Number is required</div>
                  </div>
                </div>
                <div class="info">
                  <label for="">PTCL #</label>
                  <input type="text" [disabled]="readOnly" formControlName="landline" [(ngModel)]="dealer.landline">
                </div>
                <div class="info">
                  <label for="">Email<span class='required-fields'>*</span></label>
                  <input type="email" required [disabled]="readOnly" formControlName="email" [(ngModel)]="dealer.email">
                  <div *ngIf="f.email.touched && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.email"class="error-msg">Email Should be in Proper Format</div>
                    <div *ngIf="f.email.errors.required "class="error-msg">Email is required </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="submit-button-wrap" *ngIf="!readOnly">
        <button class="submit-button" [disabled]="!form.valid" (click)="save(); onSubmit() ">Save</button>
      </div>
    </main>
  </form>


</div>