<div class="navigation-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="dealer-filter">
                    <span class="dealer-heading">News</span>
                    <ul class="nav nav-tabs nav-custom nav-tabs-custom other-filters">
                        <li [ngClass]="{'active': breadcrumbUrl == 'All'  || breadcrumbUrl == undefined}">
                            <a (click)="search('status','')">All</a>
                        </li>
                        <li *ngFor="let status of newsstatus" [ngClass]="{'active': breadcrumbUrl == status.value}">
                            <a (click)="search('status',status.value)">{{status.label}}
                                        </a>
                        </li>
                        <!--
                <li><a href="">All </a></li>
                <li><a href="">Published
                    </a>
                </li>
                <li><a href="">In-review
                </a></li>
                <li><a href="">Draft</a>
                </li>
                -->
                    </ul>
                    <!-- <i class="icon-Options-Filter"></i> -->
                </div>
            </div>
            <div class="col-md-6">
                <!-- <div class="category-wrapper">
                    <ul class="nav nav-tabs">
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" (click)="openDropDown();">Select Category
                                        <span class="caret"></span>
                                    </a>
                                    <ul [ngClass]="{'dropdown-menu-open': dropDown, 'dropdown-menu-close': !dropDown}">
                                        <li *ngFor="let data of dropDownData">
                                            <a class="btn btn-outline-secondary">
                                                {{data.name}}
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <input type="search" name="search" class="search-bar">
                                </li>
                    </ul>
                </div> -->
                <div class="dealer-button-wrap">
                    <select style="border: 1px solid rgb(230, 231, 231);" class="border-class"  [(ngModel)]="selectedValue">
                        <option *ngFor="let cat of categories">
                            {{cat}}
                        </option>
                    </select>
                    <input type="search" [(ngModel)]="searchvalue" name="search" (change)="search(selectedValue,$event.target.value)" class="search-bar"
                        required>
                    <button class="add-dealer-button" (click)="addedit(0)">Add News</button>
                </div>
            </div>
        </div>
    </div>
</div>
<main class="news-table-wrapper">
    <div class="container-fluid">
        <div class="news-table">
            <div style="height:570px;">
                <div class="tower-grid">
                    <app-ag-grid-base [rowData]="workFlowViewrowData" [columnDefs]="workFlowViewcolumnDefs" (gridReady)="onGridReady($event)"></app-ag-grid-base>

                </div>
            </div>
        </div>
        <pagination [(ngModel)]="currentpage" [boundaryLinks]="showBoundaryLinks" [itemsPerPage]="recordsPerPage" [totalItems]="totalrecords"
            (pageChanged)="pageChanged($event)" [maxSize]="5"></pagination>
    </div>
</main>