<div class="navigation-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-7">
                <div class="dealer-filter">
                    <span class="dealer-heading">Tickets</span>
                    <ul class="nav nav-tabs nav-custom nav-tabs-custom other-filters">
                        <li [ngClass]="{'active': breadcrumbUrl == 'All'  || breadcrumbUrl == undefined}"><a (click)="search('status','')">All <span class="count" >{{totalrecords}}</span></a> </li>
                        <li *ngFor="let status of ticketstatus" [ngClass]="{'active': breadcrumbUrl == status.statusId}">
                            <a (click)="search('status',status.statusId)">{{status.statusName}}
                                       <span class="count"  >{{status.count}}</span>
                                        </a>
                        </li>

                        <!-- <li><a href="">All<span class="count">145</span></a></li>
                            <li><a href="">Open
                            <span class="count">12</span></a>
                            </li>
                            <li><a href="">Closed
                            <span class="count">120</span></a>
                            </li>
                            <li><a href="">In-Progress
                            <span class="count">10</span></a>
                            </li>
                            <li><a href="">Over-Due
                            <span class="count">3</span></a>
                            </li> -->
                    </ul>


                    <!-- <i class="icon-Options-Filter"></i> -->
                </div>
            </div>
            <div class="col-md-5">
                <!-- <div class="category-wrapper">
                    <ul class="nav nav-tabs">
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" (click)="openDropDown();">Select Category
                                        <span class="caret"></span>
                                    </a>
                                    <ul [ngClass]="{'dropdown-menu-open': dropDown, 'dropdown-menu-close': !dropDown}">
                                        <li *ngFor="let data of dropDownData">
                                            <a class="btn btn-outline-secondary">
                                                {{data.name}}
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <input type="search" name="search" class="search-bar">
                                </li>
                    </ul>
                </div> -->
                <div class="dealer-button-wrap">
                    <select style="border: 1px solid rgb(230, 231, 231);" class="border-class" [(ngModel)]="selectedValue" (change)="ResetVal(selectedValue)">
                        <option value="{{cat.value}}"  *ngFor="let cat of categories" >
                            {{cat.label}}
                        </option>
                    </select>
                    <input type="search" [(ngModel)]="searchvalue" name="search" (change)="search(selectedValue,$event.target.value)" (click)="search(selectedValue,$event.target.value)" class="search-bar"
                        required>
                    <button class="add-ticket-button" (click)="addedit(0)">Add Ticket</button>
                </div>
            </div>
            <div><label style="margin-left: 1.1% !important; padding: 0% !important;margin-bottom: 0px !important" for="tso-select">TSO</label></div>
        </div>
        <div class="col-sm-2 filter-select" style="padding-left:0% !important">
            <select style="font-size:12px;width: 110%;margin-bottom: 5%; color: gray" id="tso-select" class="select-style" [(ngModel)]="selectedTSO" (change)="search('tso',selectedTSO)">
                <option disabled value="0" selected>Select TSO</option>
                <option *ngFor="let tsos of tso" [value]="tsos.tsoid">
                    {{tsos.tsoname}}
                </option>
            </select>
        </div>
        <div class="row">
            <div class="col-md-7">

            </div>
            <div class="col-md-5">
              
            </div>
        </div>
    </div>
</div>
<main class="ticket-table-wrapper">
    <div class="container-fluid">
        <div class="tickets-table">
            <div style="height:570px;">
                <div class="tower-grid">
                    <app-ag-grid-base [rowData]="workFlowViewrowData" 
                    [columnDefs]="workFlowViewcolumnDefs" 
                    (gridReady)="onGridReady($event)"
                    ></app-ag-grid-base>

                </div>
            </div>
        </div>
        <pagination [(ngModel)]="currentpage" [boundaryLinks]="showBoundaryLinks" [itemsPerPage]="recordsPerPage" [totalItems]="totalrecords"
            (pageChanged)="pageChanged($event)" [maxSize]="5"></pagination>
    </div>
</main>