<div class="container-fluid">
  <main class="new-ticket-wrapper" *ngIf="ticket && ticket.ticketId">
    <div class="create-ticket">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6">
            <div class="ticket-info">
              <span class="ticket-heading">
                Create Ticket
              </span>
              <div class="appointment-date">
                <span class="date-description">Date</span>
                <span class="date">{{ticket.createdDate | date}}</span>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <span class="icon-set">
              <!--<a [routerLink]="['/ticket-main']">-->
                <i title="Close" class="icon-cross-1"(click)="goBack()"></i>
            <!--  </a>-->
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="ticket-form-wrapper">
      <!-- <form action="" method="POST"> -->
      <!-- <p>Please Select the Ticket Type to proceed to create a ticket</p> -->
      <div class="ticket-form">
        <div class="container-fluid">
          <div class="row">
            <div class="tickets-general-info">
              <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="ticket-entry-form">
                  <label for="">Ticket ID</label>
                  <input type="text" name="ticketId" [(ngModel)]="ticket.ticketId">
                </div>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="ticket-entry-form">
                  <label for="">Ticket Type</label>
                  <!-- <select name="" >
                      <option value="">Soil & Water Testing</option>
                      <option value="">Advisory Visit</option>
                      <option value="">TSO Visit</option>
                      <option value="">Landmarking</option>
                      <option value="">Nemotodes Testing</option>
                    </select> -->
                  <select name="ticketTypeName" readOnly="true" [(ngModel)]="ticket.ticketType.ticketTypeName">
                      <!-- <option  *ngFor="let ticket of ticketTypes" [value]="ticket.ticketTypeId">
                        {{ticket.ticketTypeName}}
                      </option> -->
                      <option>
                        {{ticket.ticketType.ticketTypeName}}
                      </option>
                    </select>
                </div>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="ticket-entry-form">
                  <label for="">Visit Date</label>
                  <div class="calender-info">
                    <input type="text" disabled="true" name="visitDate" [(ngModel)]="ticket.visitDate">
                    <i class="icon-Calendar"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 col-sm-12">
              <div class="row">
                <div class="ticket-info-block">
                  <h3>Ticket Information</h3>
                  <div class="info">
                    <label for="">CNIC #</label>
                    <input type="text" readonly="true" name="cnic" [(ngModel)]="ticket.farmer.cnic">
                  </div>
                  <div class="info">
                    <label for="">Phone #</label>
                    <input type="text" readonly="true" name="cellPhone" [(ngModel)]="ticket.farmer.cellPhone">
                  </div>
                  <div class="info">
                    <label for="">Description</label>
                    <textarea readonly="true" name="description" [(ngModel)]="ticket.description"></textarea>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-12">
              <div class="row">
                <div class="farm-information-block">
                  <div class="farmer-information">
                    <h3>Farmer Information</h3>
                    <div class="col-lg-12">
                      <div class="row">
                        <div class="info">
                          <label for="">Name</label>
                          <input type="text" readOnly="true" name="farmerName" [(ngModel)]="ticket.farmer.farmerName">
                        </div>
                        <div class="info">
                          <label for="">CNIC #</label>
                          <input type="text" readOnly="true" name="cnic" [(ngModel)]="ticket.farmer.cnic">
                        </div>
                        <div class="info">
                          <label for="">Cell Phone #</label>
                          <input type="number" readOnly="true" name="cellPhone" [(ngModel)]="ticket.farmer.cellPhone">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="farm-information">
                    <h3>Farms Information</h3>
                    <div class="farm">
                      <div class="col-xs-11">
                        <div class="row">
                          <div class="col-lg-6 col-md-12">
                            <div class="info">
                              <label for="">Farm Name</label>
                              <input type="text" name="farmName" [(ngModel)]="ticket.farm.farmName" readonly="true">
                            </div>
                          </div>
                          <div class="col-lg-6 col-md-12">
                            <div class="info">
                              <label for="">Total Area</label>
                              <input type="text" name="totalAreaAcres" [(ngModel)]="ticket.farm.totalAreaAcres" readonly="true">
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-lg-6 col-md-12">
                            <div class="info">
                              <label for="">Address</label>
                              <input type="text" name="farmAddress" [(ngModel)]="ticket.farm.farmAddress" readonly="true">
                            </div>
                          </div>
                          <div class="col-lg-6 col-md-12">
                            <div class="info">
                              <label for="">City/ Village/ Region</label>
                              <input type="text" name="regionName" [(ngModel)]="FarmLocationData.regionName" readOnly="true">
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-lg-4 col-md-12">
                            <div class="info">
                              <label for="">Tehsil</label>
                              <input type="text" readonly="true" name="tehsilName" [(ngModel)]="FarmLocationData.tehsilName">
                            </div>
                          </div>
                          <div class="col-lg-4 col-md-12">
                            <div class="info">
                              <label for="">District</label>
                              <input type="text" readonly="true" name="districtName" [(ngModel)]="FarmLocationData.districtName">
                            </div>
                          </div>
                          <div class="col-lg-4 col-md-12">
                            <div class="info">
                              <label for="">Province</label>
                              <input type="text" readonly="true" name="provinceName" [(ngModel)]="FarmLocationData.provinceName">
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-xs-1 no-padding">
                        <i class="icon-map2B"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-12">
              <div class="row">
                <div class="assignee-profile-block">

                  <div class="profile-heading">
                    <h3>Assign To</h3>
                    <a>View Profile</a>
                  </div>
                  <div class="info select-tso">
                    <label for="">Select TSO</label>
                    <select name="assignedTo" [(ngModel)]="ticket.assignedTo" (change)="selectOption($event.target.value)">
                          <option *ngFor="let tsoObj of tsos" [value]="tsoObj.tsoid">
                            {{tsoObj.tsoname}}
                          </option>
                        </select>
                  </div>
                  <div class="info">
                    <label for="">Name</label>
                    <input type="text" readonly="true" name="agentName" [(ngModel)]="tso.tsoname">
                  </div>
                  <div class="info">
                    <label for="">CNIC #</label>
                    <input type="number" readonly="true" name="cnic" [(ngModel)]="tso.cnic">
                  </div>
                  <div class="info">
                    <label for="">Cell Phone #</label>
                    <input type="number" readonly="true" name="cellPhone" [(ngModel)]="tso.cellPhone">
                  </div>
                  <!--nfo">
                      <label for="">Employee ID</label>
                      <input type="text" readonly="true" name="tsoid"  [(ngModel)]="tso.tsoid"  >
                    </div>-->
                </div>
              </div>
            </div>
          </div>
          <div class="assign-button-wrap">
            <div class="row">
              <button class="cancel-button" (click)="goBack()">Cancel</button>
              <button class="assign-button" type="submit" (click)="assignTicket()">Assign</button>
            </div>
          </div>
        </div>
      </div>
      <!-- </form> -->
    </div>
  </main>
</div>