<div class="container-fluid">
  <form [formGroup]="form">
    <main class="farmer-profile-wrapper">
      <div class="farmer-profile">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6">
              <div class="farmer-info">
                <span class="profile-heading">
                  Farmer Profile
                </span>
                <div class="appointment-date" *ngIf="this.id==0">
                  <span class="date-description">Registration Date</span>
                  <span class="date">{{myDate| date}}</span>
                </div>
                <div class="update-date" *ngIf="this.id!=0">
                  <span class="date-description">Modified Date</span>
                  <span class="date">{{farmer.modifiedDateTime|date}}</span>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <span class="icon-set">
                 <div *ngIf="this.id==0">
              <!--<i class="icon-edit0" ></i>-->
              <a >
                <i title="Close" class="icon-cross-1"(click)="goBack()"></i>
              </a>
              </div >
            <div *ngIf="this.id!=0">
             <i title="Delete" class="icon-delete" (click)="delete()"></i>
              <a >
                <i title="Close" class="icon-cross-1"(click)="goBack()"></i>
              </a>
            </div>
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="profile-nav-wrap">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-9">
              <ul class="farmer-profile-nav">
                <li class="active">
                  <a [routerLink]="['/add-farmer']">Profile</a>
                </li>
                <li>
                  <a (click)="addFarms()"> Farms</a>
                </li>
                <li>
                  <a (click)="addContracts()">Contracts</a>
                </li>
                <li>
                  <a (click)="addLoans()">Loans</a>
                </li>
                <li>
                  <a (click)="addReports()">Reports</a>
                </li>
                
              </ul>
            </div>
            <div class="col-md-3">
              <div class="product-message-wrapper">
                <!--
                 <span class="product-message">* Fatima Product User</span>-->
                <!--- <span class="product-negative-message">* Add Farms</span>-->
                <!-- <span class="mandatory-message"><span class='required-fields'>* </span> fields are mandatory to fill</span>-->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="info-blocks-wrapper">
        <div class="container-fluid">
          <div class="col-lg-3 col-sm-6 col-xs-12">
            <div class="row">
              <div class="info-block">
                <h3>Personal Information</h3>
                <div class="info">
                  <label for="">Farmer Name<span class='required-fields'>*</span></label>
                  <input type="text" placeholder="Enter" formControlName="farmerName" [(ngModel)]="farmer.farmerName">
                  <div *ngIf="f.farmerName.touched && f.farmerName.errors" class="invalid-feedback">
                    <div *ngIf="f.farmerName.errors.required">Farmer Name is required</div>
                  </div>
                </div>
                <div class="info">
                  <label for="">CNIC #</label>
                  <input type="text" placeholder="XXXXX-XXXXXXX-X" formControlName="cnic" [(ngModel)]="farmer.cnic" mask='00000-0000000-0'>
                  <!--               
                <div *ngIf="f.cnic.touched && f.cnic.errors" class="invalid-feedback">
                            <div *ngIf="f.cnic.errors.pattern"> CNIC   Format (35201-4897818-7)</div>
                        </div>-->
                </div>
                <div class="info">
                  <label for="">Referal Code #</label>
                  <input [disabled]="readOnly" type="text" placeholder="XXXXX" formControlName="referalCode" [(ngModel)]="farmer.referalCode"
                    mask='00000'>
                </div>
                <div class="info">
                  <label for="">Farmer Status</label>
                  <select [disabled]="readOnly" formControlName="farmerStatusId" [(ngModel)]="farmer.farmerStatusId">
                      <option  value="{{stat.farmerStatusId}}"  *ngFor="let stat of farmerStatus" >
                            {{stat.farmerStatueName}}
                        </option>
                    </select>
                </div>
                <div class="info">
                  <label for="">Date of Birth</label>
                  <div class="calender-info">
                    <!-- datetime="yyyy-MM-dd HH:mm:ss"-->
                    <input type="date" [disabled]="readOnly" placeholder="Enter" formControlName="dateOfBirth" [(ngModel)]="farmer.dateOfBirth">
                    <i class="icon-Calendar"></i>
                  </div>
                </div>
                <div class="info">
                  <label for="">Gender</label>
                  <!--<input type="text" placeholder="Enter" formControlName="gender" [(ngModel)]="farmer.gender">-->
                  <select [disabled]="readOnly" formControlName="gender" [(ngModel)]="farmer.gender">
                      <option  value="{{cat}}"  *ngFor="let cat of categories" >
                            {{cat}}
                        </option>
                    </select>
                </div>
                <div class="info">
                  <label for="">Education</label>
                  <input type="text" placeholder="Enter" formControlName="educationCode" [(ngModel)]="farmer.educationCode">
                </div>
                <div class="info">
                  <label for="">Hobbies</label>
                  <textarea name="hobbies" id="hobbies" placeholder="" formControlName="hobbies" [(ngModel)]="farmer.hobbies"></textarea>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6 col-xs-12">
            <div class="row">
              <div class="info-block">
                <h3>Family Information</h3>
                <div class="info">
                  <label for="">Father's Name</label>
                  <input type="text" placeholder="Enter" formControlName="fatherHusbandName" [(ngModel)]="farmer.fatherHusbandName">
                </div>
                <div class="info">
                  <label for="">Dependant Male(M)</label>
                  <input type="text" placeholder="Enter" formControlName="maleDependant" [(ngModel)]="farmer.maleDependant">
                </div>
                <div class="info">
                  <label for="">Dependant Female(F)</label>
                  <input type="text" placeholder="Enter" formControlName="femaleDependant" [(ngModel)]="farmer.femaleDependant">
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6 col-xs-12">
            <div class="row">
              <div class="info-block">
                <h3>Address</h3>
                <div class="address-icon">
                  <h4>Permanent</h4>
                  <i class="icon-map2B"></i>
                </div>
                <!--
              <div class="info">
                <label for="">House #</label>
                <input type="text" placeholder="Enter" disabled>
              </div>-->
                <div class="info">
                  <label for="">Address</label>
                  <input type="text" placeholder="Enter" formControlName="permanentAddress" [(ngModel)]="farmer.permanentAddress">
                </div>
                <div class="info">
                  <label for="">Province</label>
                  <select [disabled]="readOnly" formControlName="provinceCode" [(ngModel)]="farmer.provinceCode" (change)="getDistricts(farmer.provinceCode,0)">                   
                     <option  value="Select Province" disabled selected>
                        Select Province
                        </option> 
                    <option  value="{{prov.provinceCode}}"  *ngFor="let prov of provinces" >
                            {{prov.provinceName}}
                        </option>
                    </select>
                  <!--  <input type="text" placeholder="Enter" formControlName="provinceCode" [(ngModel)]="farmer.provinceCode">-->
                </div>
                <!--
             <div class="info">
                <label for="">City/Village</label>
                  <select  [disabled]="readOnly"  formControlName="regionCode" [(ngModel)]="farmer.regionCode" (change)="getDistricts(farmer.regionCode,0)">   
                     <option  value="Select City" disabled selected >
                        Select City
                        </option>  
                    <option  value="{{reg.regionCode}}"  *ngFor="let reg of regions" >
                            {{reg.regionName}}
                        </option>
                    </select>
             
              </div>-->
                <div class="info">
                  <label for="">District</label>
                  <select [disabled]="readOnly" formControlName="districtCode" [(ngModel)]="farmer.districtCode" (change)="getTehsils(farmer.districtCode,0)">
                     <option  value="Select District" disabled selected>
                        Select District
                        </option>  
                  <option  value="{{dist.districtCode}}"  *ngFor="let dist of districts" >
                            {{dist.districtName}}
                        </option>
                    </select>
                  <!-- <input type="text" placeholder="Enter" formControlName="districtCode" [(ngModel)]="farmer.districtCode">-->
                </div>

                <div class="info">
                  <label for="">Tehsil/Tualka</label>
                  <select [disabled]="readOnly" formControlName="tehsilCode" [(ngModel)]="farmer.tehsilCode">   
               <option  value="Select Tehsil" disabled selected>
                        Select Tehsil
                        </option>    
                <option  value="{{teh.tehsilCode}}"  *ngFor="let teh of tehsils" >
                            {{teh.tehsilName}}
                        </option>
                    </select>
                  <!--  <input type="text" placeholder="Enter" formControlName="tehsilCode" [(ngModel)]="farmer.tehsilCode">-->
                </div>
                <div class="info">
                  <label for="">Union Council</label>
                  <input type="text" placeholder="Enter" formControlName="unionCouncil" [(ngModel)]="farmer.unionCouncil">
                </div>
                <div class="address-icon">
                  <h4>Presents</h4>
                  <i class="icon-map2B"></i>
                </div>
                <div class="info">
                  <span class="checkbox_wrapper">
                <input type="checkbox" formControlName="check" (change)="getPresentAdress(checkflag)">
                <i class="custom-checkbox"></i>
                </span>
                  <span>Same as Permament</span>
                </div>
                <!--
              <div class="info">
                <label for="">House #</label>
                <input type="text" placeholder="Enter" disabled>
              </div>-->
                <div class="info">
                  <label for="">Address</label>
                  <input type="text" placeholder="Enter" formControlName="presentAddress" [(ngModel)]="farmer.presentAddress">
                </div>
                <div class="info">
                  <label for="">Province</label>
                  <select [disabled]="readOnly" formControlName="presentProvinceCode" [(ngModel)]="farmer.presentProvinceCode" (change)="getPresentDistricts(farmer.presentProvinceCode,0)">
                    <option  value="Select Province" disabled selected>
                        Select Province
                        </option>  
                    <option  value="{{prov.provinceCode}}"  *ngFor="let prov of presentprovinces" >
                            {{prov.provinceName}}
                        </option>
                    </select>
                  <!-- <input type="text" placeholder="Enter" formControlName="presentProvinceCode" [(ngModel)]="farmer.presentProvinceCode">-->
                </div>
                <!--
              <div class="info">
                <label for="">City/Village</label>
                 <select  [disabled]="readOnly"  formControlName="presentRegionCode" [(ngModel)]="farmer.presentRegionCode" (change)="getPresentDistricts(farmer.presentRegionCode,0)">   
                 <option  value="Select City" disabled selected >
                        Select City
                        </option>  
                  <option  value="{{reg.regionCode}}"  *ngFor="let reg of presentregions" >
                            {{reg.regionName}}
                        </option>
                    </select>
                <input type="text" placeholder="Enter" formControlName="presentRegionCode" [(ngModel)]="farmer.presentRegionCode">
              </div>-->
                <div class="info">
                  <label for="">District</label>
                  <select [disabled]="readOnly" formControlName="presentDistrictCode" [(ngModel)]="farmer.presentDistrictCode" (change)="getPresentTehsils(farmer.presentDistrictCode,0)">
                   <option  value="Select District" disabled selected>
                        Select District
                        </option>  
                  <option  value="{{dist.districtCode}}"  *ngFor="let dist of presentdistricts" >
                            {{dist.districtName}}
                        </option>
                    </select>
                  <!-- <input type="text" placeholder="Enter" formControlName="presentDistrictCode" [(ngModel)]="farmer.presentDistrictCode">-->
                </div>
                <div class="info">
                  <label for="">Tehsil/Tualka</label>
                  <select [disabled]="readOnly" formControlName="presentTehsilCode" [(ngModel)]="farmer.presentTehsilCode">
                    <option  value="Select Tehsil" disabled selected>
                        Select Tehsil
                        </option>    
                  <option  value="{{teh.tehsilCode}}"  *ngFor="let teh of presenttehsils" >
                            {{teh.tehsilName}}
                        </option>
                    </select>
                  <!--<input type="text" placeholder="Enter" formControlName="presentTehsilCode" [(ngModel)]="farmer.presentTehsilCode">-->
                </div>
                <div class="info">
                  <label for="">Union Council</label>
                  <input type="text" placeholder="Enter" formControlName="presentUnionConcil" [(ngModel)]="farmer.presentUnionConcil">
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6 col-xs-12">
            <div class="row">
              <div class="info-block">
                <h3>Contact Information</h3>
                <h4>Permament</h4>
                <div class="info">
                  <label for="">PTCL #</label>
                  <input type="text" placeholder="Enter" formControlName="landLine" [(ngModel)]="farmer.landLine">
                </div>
                <div class="info">
                  <label for="">Cell Phone #<span class='required-fields'>*</span></label>
                  <input [disabled]="readOnly" type="text" placeholder="Enter" formControlName="cellPhone" [(ngModel)]="farmer.cellPhone">
                  <div *ngIf="f.cellPhone.touched && f.cellPhone.errors" class="invalid-feedback">
                    <div *ngIf="f.cellPhone.errors.required">CellPhone Number is required</div>
                  </div>
                </div>
                <h4>Alternate Contact</h4>
                <div class="info">
                  <label for="">Name</label>
                  <input type="text" placeholder="Enter" formControlName="alternateName" [(ngModel)]="farmer.alternateName">
                </div>
                <div class="info">
                  <label for="">Cell Phone #</label>
                  <input type="text" placeholder="Enter" formControlName="alternateCellPhoneNo" [(ngModel)]="farmer.alternateCellPhoneNo">
                </div>
                <h4>Adjacent Farmer Friend Contact</h4>
                <div class="info">
                  <label for="">Friend's Name</label>
                  <input type="text" placeholder="Enter" formControlName="adjacentFarmerFriendName" [(ngModel)]="farmer.adjacentFarmerFriendName">
                </div>
                <div class="info">
                  <label for="">Cell Phone #</label>
                  <input type="text" placeholder="Enter" formControlName="adjacentFarmerFriendCellPhone" [(ngModel)]="farmer.adjacentFarmerFriendCellPhone">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="save-button-wrap" *ngIf="!readOnly">
        <button class="cancel-button" (click)="goBack()">Cancel</button>
        <button class="save-button" type="submit" [disabled]="!form.valid" (click)="save()">Save</button>
      </div>
    </main>
  </form>
</div>