.farmer-profile-wrapper {
    background-color: #FFFFFF;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.24), 0 1px 1.5px 0 rgba(0, 0, 0, 0.12);
            box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.24), 0 1px 1.5px 0 rgba(0, 0, 0, 0.12);
    margin: 20px 0;
  }
  
  .farmer-profile-wrapper .farmer-profile {
    padding: 5px 0;
    border-bottom: 1px solid #006B39;
  }
  
  .farmer-profile-wrapper .farmer-profile .farmer-info .profile-heading {
    padding: 0 10px;
    color: #0B250D;
    font-size: 18px;
    font-weight: 900;
    letter-spacing: 0.27px;
    line-height: 23px;
  }
  
  .farmer-profile-wrapper .farmer-profile .farmer-info .appointment-date,.update-date {
    display: inline-block;
    padding: 0 10px;
    border-left: 1px solid #f5f5f5;
  }
  
  .farmer-profile-wrapper .farmer-profile .farmer-info .date-description {
    color: #0B250D;
    font-size: 10px;
    letter-spacing: 0.15px;
    line-height: 13px;
  }
  
  .farmer-profile-wrapper .farmer-profile .farmer-info .date {
    color: #767676;
    font-size: 12px;
    letter-spacing: 0.18px;
    line-height: 15px;
    padding-left: 10px;
  }
  
  .farmer-profile-wrapper .farmer-profile .icon-set {
    display: block;
    text-align: right;
  }
  
  .farmer-profile-wrapper .farmer-profile .icon-set i {
    vertical-align: middle;
    padding: 0 5px;
  }
  
  .farmer-profile-wrapper .farmer-profile .icon-set i:first-child {
    border-left: 1px solid #F5F5F5;
  }
  
  .farmer-profile-wrapper .farmer-profile .icon-set .icon-cross-1 {
    margin-left: 15px;
    border-left: none !important;
  }
  
  .farmer-profile-wrapper .farmer-profile .icon-set a {
    text-decoration: none;
  }
  
  .farmer-profile-wrapper .farmer-profile a {
    text-decoration: none;
  }
  
  .farmer-profile-wrapper .profile-nav-wrap {
    border-bottom: 1px solid #D6D6D6;
  }
  
  .farmer-profile-wrapper .profile-nav-wrap .active {
    border-radius: 2px;
    background-color: #006B39;
    border: none;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.21px;
    padding: 2px 20px;
  }
  
  .farmer-profile-wrapper .profile-nav-wrap .active a {
    color: #FFFFFF !important;
  }
  
  .farmer-profile-wrapper .profile-nav-wrap .farmer-profile-nav {
    list-style: none;
    display: inline-block;
    padding: 0;
    margin: 5px 10px;
  }
  
  @media screen and (max-width: 767px) {
    .farmer-profile-wrapper .profile-nav-wrap .farmer-profile-nav {
      margin: 5px 0;
    }
  }
  
  .farmer-profile-wrapper .profile-nav-wrap .farmer-profile-nav li {
    display: inline-block;
    padding: 2px 20px;
  }
  
  @media screen and (max-width: 767px) {
    .farmer-profile-wrapper .profile-nav-wrap .farmer-profile-nav li {
      padding: 2px 15px;
    }
  }
  
  .farmer-profile-wrapper .profile-nav-wrap .farmer-profile-nav li a {
    color: #767676;
    font-size: 14px;
    letter-spacing: 0.21px;
    line-height: 18px;
    text-decoration: none;
    text-transform: capitalize;
  }
  
  @media screen and (max-width: 767px) {
    .farmer-profile-wrapper .profile-nav-wrap .farmer-profile-nav li a {
      font-size: 10px;
    }
  }
  
  .farmer-profile-wrapper .profile-nav-wrap .product-negative-message-wrapper {
    background-color: #F7EDED;
    margin: 5px 0;
  }
  
  .farmer-profile-wrapper .profile-nav-wrap .product-negative-message-wrapper .product-negative-message {
    color: #D0021B;
    font-size: 10px;
    letter-spacing: 0.15px;
    line-height: 13px;
    padding: 4px 10px;
  }
  
  .farmer-profile-wrapper .info-block {
    border: 1px solid #F5F5F5;
    border-radius: 4px;
    background-color: #FFFFFF;
    -webkit-box-shadow:-10px 9px 21px 0 rgba(128, 152, 213, 0.07);
            box-shadow: -10px 9px 21px 0 rgba(128, 152, 213, 0.07);
    min-height: 700px;
    margin: 10px 5px;
    padding: 10px;
  }
  @media screen and (max-width:767px){
    .farmer-profile-wrapper .info-block {
      min-height: 0;
    }
  }
  
  .farmer-profile-wrapper .info-block:hover {
    border-color: #006B39;
  }
  
  .farmer-profile-wrapper .info-block h3 {
    color: #0B250D;
    font-size: 18px;
    letter-spacing: 0.27px;
    line-height: 23px;
    margin: 0 0 10px 0;
    font-weight: 600;
  }
  
  .farmer-profile-wrapper .info-block h4 {
    color: #0B250D;
    font-size: 14px;
    letter-spacing: 0.21px;
    line-height: 18px;
    font-weight: 600;
    margin: 5px 0;
  }
  
  .farmer-profile-wrapper .info-block .add-photo {
    width: 100%;
  }
  
  .farmer-profile-wrapper .info-block img {
    max-width: 100px;
    max-height: 100px;
  }
  
  .farmer-profile-wrapper .info-block .info label {
    color: #0B250D;
    font-size: 10px;
    letter-spacing: 0.15px;
    line-height: 13px;
    width: 100%;
    margin: 0;
  }
  
  .farmer-profile-wrapper .info-block .info input {
    color: #767676;
    font-size: 14px;
    letter-spacing: 0.21px;
    line-height: 18px;
    border: none;
    border-bottom: 1px solid #D6D6D6;
    width: 100%;
  }
  
  
  .farmer-profile-wrapper .info-block .info input[type=checkbox] {
    height: 20px;
    width: 20px;
  }
  
  .farmer-profile-wrapper .info-block .info span {
    color: #767676;
    font-size: 14px;
    letter-spacing: 0.21px;
    line-height: 18px;
    vertical-align: super;
    padding: 0 15px;
  }
  
  .farmer-profile-wrapper .info-block .info textarea {
    display: block;
    max-height: 100px;
    width: 100%;
    max-width: 300px;
    border: 1px solid #D6D6D6;
  }
  
  .farmer-profile-wrapper .info-block .calender-info {
    position: relative;
  }
  
  .farmer-profile-wrapper .info-block .calender-info .icon-Calendar {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 1;
  }
  
  .farmer-profile-wrapper .info-block .address-icon {
    position: relative;
  }
  
  .farmer-profile-wrapper .info-block .address-icon .icon-map2B {
    position: absolute;
    top: 0px;
    right: 5px;
    font-size: 16px;
  }
  
  .farmer-profile-wrapper .info-block input[type="date"]::-webkit-calendar-picker-indicator,
  .farmer-profile-wrapper .info-block input[type="date"]::-webkit-inner-spin-button {
    opacity: 0;
    z-index: 2;
    width: 15px;
  }
  
  .farmer-profile-wrapper .save-button-wrap {
    text-align: right;
    padding: 10px;
  }
  
  .farmer-profile-wrapper .save-button-wrap .save-button {
    border-radius: 2px;
    background-color: #006B39;
    border: none;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.21px;
    padding: 2px 20px;
    margin: 5px 10px;
  }
  
  .farmer-profile-wrapper .save-button-wrap .cancel-button {
    color: #767676;
    font-size: 14px;
    letter-spacing: 0.21px;
    line-height: 18px;
    padding: 2px 20px;
    background-color: #fff;
    border: 1px solid #D7D7D7;
    border-radius: 2px;
  }

  .farmer-profile-wrapper .profile-nav-wrap .product-message-wrapper {
    background-color: #EDF4EF;
    margin: 5px 0;
  }
  
  .farmer-profile-wrapper .profile-nav-wrap .product-message-wrapper .product-message {
    color: #338533;
    font-size: 10px;
    letter-spacing: 0.15px;
    line-height: 13px;
    padding: 4px 10px;
  }
  /*# sourceMappingURL=add-farmer.css.map */


   .info select{
    color: #767676;
    font-size: 14px;
    letter-spacing: 0.21px;
    line-height: 18px;
    border: none;
    border-bottom: 1px solid #D6D6D6;
    width: 100%;
    background: url('../../../assets/Down-Arrow.svg');
    background-position: right;
    background-repeat: no-repeat;
    -moz-appearance: none;
    -webkit-appearance: none;
    }
    .info select::-ms-expand{
      display: none;
    }
.farmer-profile-wrapper .info-block .info .required-fields{
      color: #D0021B;
      font-size: 12px;
      padding: 0;
      margin: 0;
      vertical-align: middle;
    }
.mandatory-message{
float: right;
margin: 5px 0;
font-size: 12px;
color: #D0021B;
background-color: #F7EDED;
padding: 2px 15px;
}
.mandatory-message .required-fields{
font-size: 16px;
line-height:16px;
}
.checkbox_wrapper{
position: relative;
height: 16px;
width: 16px;
padding: 0 8px !important;
}

input[type="checkbox"] {
opacity:0;
height: 16px;
width: 16px;
position: absolute;
top: 0;
left: 0;
z-index: 2;
margin: 0;
}

input[type="checkbox"] + .custom-checkbox{
background:url('../../../assets/Box-Blank.svg') no-repeat;
height: 16px;
width: 16px;
display:inline-block;
padding: 0 0 0 0px;
position: absolute;
top: 0;
left: 0;
z-index: 1;
}

input[type="checkbox"]:checked + .custom-checkbox{
background:url('../../../assets/Box-Checked.svg') no-repeat;
height: 16px;
width: 16px;
display:inline-block;
padding: 0 0 0 0px;
}        
  /*# sourceMappingURL=add-farmer.css.map */