<!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">-->
<div class="container-fluid">
  <main [formGroup]="form" class="add-news-wrapper">
    <div class="news-profile">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6">
            <div class="news-info">
              <span class="news-heading">
                News Publisher
              </span>
              <div class="created-date" *ngIf="this.id!==0">
                <span class="date-description">Created Date</span>
                <span class="date">{{news.insertionDate |date}}</span>
              </div>
              <div class="created-date" *ngIf="this.id!=0">
                <span class="date-description">Modified Date</span>
                <span class="date">{{news.modifiedDateTime|date}}</span>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <span class="icon-set">
              <div *ngIf="this.id==0">
              <!--<i class="icon-edit0" ></i>-->
              <a >
                <i title="Close" class="icon-cross-1"(click)="goBack()"></i>
              </a>
              </div >
            <div *ngIf="this.id!=0">
             <i title="Delete" class="icon-delete" (click)="delete()"></i>
              <a title="Close">
                <i title="Close" class="icon-cross-1"(click)="goBack()"></i>
              </a>
            </div>
            </span>
          </div>
        </div>
      </div>
    </div>
    <form action="" [formGroup]="form">
      <div class="row">
        <div class="container-fluid">
          <div class="col-lg-3 col-md-6 col-sm-6">
            <!--
            <div class="info">
              <label for="">Title</label>
              <input type="date">
            </div>-->
          </div>
          <div class="col-lg-5 col-md-6 col-sm-6">
            <!--
            <div class="styles-block">
              <span class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" >Normal
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a href="#">Submenu 1-1</a>
                  </li>
                  <li>
                    <a href="#">Submenu 1-2</a>
                  </li>
                  <li>
                    <a href="#">Submenu 1-3</a>
                  </li>
                </ul>
              </span>
              <span class="text-style">
                <i>B</i>
                <i>I</i>
                <i>U</i>
              </span>
              <span class="alignment-style">
                <i class="icon-bullets"></i>
                <i class="icon-Bullet-Numbers"></i>
              </span>
              <span class="other-style">
                <i class="icon-Quote"></i>
                <i class="icon-attach"></i>
              </span>
            </div>
            -->
          </div>
          <div class="col-lg-4 col-md-12">
            <div class="publish-wrapper">
              <div class="info">
                <label for="">Status</label>
                <select [disabled]="readOnly" formControlName="activeStatus" [(ngModel)]="news.activeStatus">
                        <option  value="{{cat.value}}" *ngFor="let cat of categories">
                            {{cat.label}}
                        </option>
                    </select>
              </div>
              <!--<button >Publish</button>-->
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="container-fluid">
          <div class="col-md-3">
            <div class="information-block">
              <h3>Information</h3>
              <div class="info">
                <label for="">News Source</label>
                <input type="text" disabled>
              </div>
              <!--
              <div class="info">
                <label for="">Author</label>
                <input type="text">
              </div>-->
              <!--
              <div class="info">
                <label for="">Region</label>
                <select>
                  <option value="">District/National</option>
                </select>
              </div>
              -->
              <div class="info">
                <label for="">Region</label>
                <select [disabled]="readOnly" formControlName="national" [(ngModel)]="national" (change)="getValues($event.target.value,this.id)">
                      <option  value="{{reg.value}}"  *ngFor="let reg of Region" >
                            {{reg.label}}
                        </option>
                    </select>
              </div>
              <div class="info">
                <label for="">District</label>
                <select [disabled]="readOnly" formControlName="districtCode" [(ngModel)]="news.districtCode">
                       <option  value="Select District" disabled selected>
                        Select District
                        </option> 
                      <option  value="{{dist.districtCode}}"  *ngFor="let dist of districts" >
                            {{dist.districtName}}
                        </option>
                    </select>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="image-uploader-section">
              <img src="{{imgsrc}}" class="image" alt="Image">

              <!-- <div *ngIf="!this.readOnly">-->
              <!--  <p>Drag drop or add image here</p>-->
              <!--  <input type="file" (change)="handleFileInput($event.target.files,$event)" accept="image/gif, image/jpeg, image/png , image/svg">-->
              <input type="file" title="Drag drop or add image here" (change)="handleFileInput($event.target.files,$event)">
              <!--</div>-->
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="container-fluid">
          <div class="col-lg-6 align-center">
            <div class="headline-section">
              <label for="">News Title<span class='required-fields'>*</span></label>
              <textarea [disabled]="readOnly" formControlName="header" [(ngModel)]="news.header" type="text" class="headlines-caption"
                placeholder="Enter the title for your headline here" rows="2">{{news.header}}</textarea>
              <label for="">News Body<span class='required-fields'>*</span></label>
              <div *ngIf="this.readOnly" class="news-body-view" [innerHTML]="news.body">
                <!-- <textarea  [disabled]="readOnly" formControlName="body" [(ngModel)]="news.body"  rows='10' placeholder="Enter your news detail here">{{news.body}}</textarea>-->
              </div>
              <div *ngIf="!this.readOnly">
                <app-ngx-editor [config]="editorConfig" formControlName="body" placeholder="Enter your news detail here" [(ngModel)]="news.body"></app-ngx-editor>
              </div>
              <div class="optional">
                <!--<span> (Optional)</span>s-->
                <!--<p>
                  </p>-->
                <!-- <i>tag</i> Write Tag Here…. (e.g. technology, weather, event)</p>-->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="button-wrap">
        <div class="container-fluid" *ngIf="!readOnly">
          <button  class="cancel-button" (click)="goBack()">Cancel</button>
          <button class="save-button" [disabled]="!form.valid" (click)="save();">Save</button>
        </div>
      </div>
    </form>
  </main>
</div>