
/*typography*/
.clearfix:after {
    content: '';
    display: block;
    clear: both;
  }
  
  .ellipsis {
    white-space: nowrap;
    /* 1 */
    text-overflow: ellipsis;
    /* 2 */
    overflow: hidden;
  }
  
  .align-center {
    margin: 0 25%;
  }
  
  @media screen and (max-width: 992px) {
    .align-center {
      margin: 0;
    }
  }
  
  #add-news-header {
    min-height: 60px;
    background: linear-gradient(315deg, #2B6931 0%, #133816 100%);
    padding: 0 25px;
    overflow: hidden;
  }
  
  @media screen and (max-width: 767px) {
    #add-news-header {
      padding: 0 10px;
    }
  }
  
  #add-news-header .logo {
    display: inline-block;
    width: 75px;
    max-width: 75px;
    height: 60px;
    background-color: #FFFFFF;
  }
  
  #add-news-header .logo img {
    width: 100%;
    padding: 10px;
  }
  
  #add-news-header .portal-title {
    display: inline-block;
    vertical-align: middle;
    padding: 0 10px;
  }
  
  #add-news-header .portal-title .title {
    font-size: 28px;
    line-height: 34px;
    color: #FFFFFF;
  }
  
  #add-news-header .portal-title .portal-slogan {
    font-size: 10px;
    line-height: 12px;
    text-align: right;
    color: rgba(255, 255, 255, 0.5);
  }
  
  #add-news-header .sign-in {
    color: #FFFFFF;
    text-align: right;
    height: 60px;
    font-size: 16px;
    padding: 20px 0;
  }
  
  #add-news-header .sign-in > span {
    padding-left: 20px;
  }
  
  @media screen and (max-width: 767px) {
    #add-news-header .sign-in > span {
      padding: 0 10px;
    }
  }
  
  #add-news-header .sign-in > span a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 14px;
  }
  
  @media screen and (max-width: 767px) {
    #add-news-header .sign-in > span a {
      font-size: 12px;
    }
  }
  
  #add-news-header .sign-in i {
    padding: 0 5px;
    font-size: 18px;
  }
  
  @media screen and (max-width: 767px) {
    #add-news-header .sign-in i {
      font-size: 16px;
    }
  }
  
  #add-news-header .sign-in .login-user {
    border-right: 1px solid rgba(255, 255, 255, 0.26);
    display: inline-block;
    padding: 0 20px;
  }
  
  #add-news-header .sign-in .login-user-img {
    width: 30px;
    margin: 0 10px;
  }
  
  .breadcrumb-wrapper {
    background-color: #f5f5f5;
    padding: 0 25px;
  }
  
  @media screen and (max-width: 767px) {
    .breadcrumb-wrapper {
      padding: 0;
    }
  }
  
  .breadcrumb-wrapper .breadcrumb {
    margin: 0;
    padding: 0;
  }
  
  @media screen and (min-width: 2001px) {
    .breadcrumb-wrapper .breadcrumb {
      padding: 0;
    }
  }
  
  @media screen and (max-width: 767px) {
    .breadcrumb-wrapper .breadcrumb {
      padding: 0 10px;
    }
  }
  
  .breadcrumb-wrapper .breadcrumb li + li:before {
    color: #767676;
    content: ">";
  }
  
  .breadcrumb-wrapper .breadcrumb li a {
    color: #767676;
    text-decoration: none;
  }
  
  .navigation-wrapper {
    padding: 10px 25px 0;
    background-color: #FFFFFF;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  }
  
  @media screen and (max-width: 767px) {
    .navigation-wrapper {
      padding: 0 10px;
    }
  }
  
  .navigation-wrapper .navigation-functions {
    text-align: right;
  }
  
  .navigation-wrapper .navigation-functions .dropdown-toggle {
    color: #006B39;
    font-size: 14px;
    line-height: 18px;
  }
  
  .navigation-wrapper .dealer-filter {
    margin: 5px 0;
  }
  
  .navigation-wrapper .nav-tabs {
    border-bottom: none;
    display: inline-block;
  }
  
  .navigation-wrapper .nav-tabs > li > a {
    color: #767676;
    border: none;
    border-bottom: 1px solid transparent;
  }
  
  @media screen and (max-width: 767px) {
    .navigation-wrapper .nav-tabs > li > a {
      font-size: 12px;
      padding: 5px 7px;
    }
  }
  
  .navigation-wrapper .nav-tabs > li > a:hover {
    border-color: transparent;
  }
  
  .navigation-wrapper .nav-tabs > li.active > a, .navigation-wrapper .nav-tabs > li.active > a:focus, .navigation-wrapper .nav-tabs > li.active > a:hover {
    color: #006B39;
    border: none;
    border-bottom: 1px solid #006B39;
  }
  
  .navigation-wrapper .nav > li > a {
    padding: 5px 10px;
  }
  
  @media screen and (max-width: 767px) {
    .navigation-wrapper .nav > li > a {
      padding: 5px 7px;
    }
  }
  
  .navigation-wrapper .nav > li > a:focus, .navigation-wrapper .nav > li > a:hover {
    background-color: transparent;
  }
  
  .navigation-wrapper .nav .open > a, .navigation-wrapper .nav .open > a:focus, .navigation-wrapper .nav .open > a:hover {
    background-color: transparent;
    border-color: transparent;
  }
  
  .navigation-wrapper .search-bar {
    width: 50px;
    font-size: 16px;
    border: none;
    background-color: white;
    background-image: url('../../assets/Search.svg');
    background-position: 95% 10px;
    background-repeat: no-repeat;
    padding: 7px 20px 7px 11px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    cursor: pointer;
  }
  
  .navigation-wrapper .search-bar:focus {
    width: 100%;
  }
  
  .navigation-wrapper .caret {
    margin: 0 10px;
  }
  
  .navigation-wrapper .nav-tabs-custom {
    border-bottom: none;
    display: inline-block;
    padding-right: 10px;
    padding-left: 5px;
    border-right: 1px solid #D7D7D7;
  }
  
  .navigation-wrapper .nav-tabs-custom > li > a {
    color: #767676;
    font-size: 10px;
    line-height: 13px;
    letter-spacing: 0.15px;
  }
  
  .navigation-wrapper .nav-tabs-custom > li > a:hover {
    border-color: transparent;
  }
  
  .navigation-wrapper .nav-tabs-custom > li.active > a, .navigation-wrapper .nav-tabs-custom > li.active > a:focus, .navigation-wrapper .nav-tabs-custom > li.active > a:hover {
    color: #006B39;
    border: none;
    border-bottom: 1px solid #006B39;
  }
  
  .navigation-wrapper .nav-custom > li > a {
    padding: 0 5px;
  }
  
  .navigation-wrapper .nav-custom > li > a:focus, .navigation-wrapper .nav-custom > li > a:hover {
    background-color: transparent;
  }
  
  .navigation-wrapper .nav-custom .open > a, .navigation-wrapper .nav-custom .open > a:focus, .navigation-wrapper .nav-custom .open > a:hover {
    background-color: transparent;
    border-color: transparent;
  }
  
  .add-news-wrapper {
    margin: 20px 0;
    padding: 10px 0;
    border-radius: 6px;
    background-color: #FFFFFF;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.24), 0 1px 1.5px 0 rgba(0, 0, 0, 0.12);
            box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.24), 0 1px 1.5px 0 rgba(0, 0, 0, 0.12);
  }
  
  .add-news-wrapper .news-profile {
    padding-bottom: 5px;
    border-bottom: 1px solid #006B39;
  }
  
  .add-news-wrapper .news-profile .news-heading {
    color: #0B250D;
    font-size: 18px;
    font-weight: 900;
    letter-spacing: 0.27px;
    line-height: 23px;
    margin-right: 10px;
  }
  
  .add-news-wrapper .news-profile .created-date {
    display: inline-block;
    padding: 0 10px;
    border-left: 1px solid #f5f5f5;
  }
  
  .add-news-wrapper .news-profile .created-date .date-description {
    color: #0B250D;
    font-size: 10px;
    letter-spacing: 0.15px;
    line-height: 13px;
    margin-right: 5px;
  }
  
  .add-news-wrapper .news-profile .created-date .date {
    color: #767676;
    font-size: 12px;
    letter-spacing: 0.18px;
    line-height: 15px;
  }
  
  .add-news-wrapper .news-profile .icon-set {
    display: block;
    text-align: right;
  }
  
  .add-news-wrapper .news-profile .icon-set i {
    margin: 0 5px 0 0;
    width: 16px;
  }
  
  .add-news-wrapper .news-profile .icon-set a {
    text-decoration: none;
  }
  
  .add-news-wrapper .news-profile .icon-set .icon-cross-1 {
    margin: 0 0 0 10px;
  }
  
  .add-news-wrapper form {
    padding: 10px 0;
  }
  
  .add-news-wrapper form .row {
    margin-bottom: 10px;
  }
  
  .add-news-wrapper .styles-block {
    text-align: center;
    color: #767676;
  }
  
  @media screen and (max-width: 767px) {
    .add-news-wrapper .styles-block {
      margin: 10px 0;
    }
  }
  
  .add-news-wrapper .styles-block a {
    text-decoration: none;
    color: #767676;
  }
  
  .add-news-wrapper .styles-block .dropdown {
    padding-right: 15px;
    border-right: 1px solid #D6D6D6;
  }
  
  .add-news-wrapper .styles-block .text-style {
    border-right: 1px solid #d6d6d6;
  }
  
  .add-news-wrapper .styles-block .text-style i {
    padding: 0 10px;
  }
  
  .add-news-wrapper .styles-block .alignment-style {
    border-right: 1px solid #d6d6d6;
    padding: 0 10px;
  }
  
  .add-news-wrapper .styles-block .alignment-style i {
    font-size: 16px;
  }
  
  .add-news-wrapper .styles-block .other-style i {
    padding-left: 20px;
    font-size: 16px;
  }
  @media screen and (max-width:767px){
     .add-news-wrapper .styles-block .other-style i{
       padding-left: 10px;
     }
  }
  .add-news-wrapper .info label {
    width: 70px;
    color: #0B250D;
    font-size: 10px;
    letter-spacing: 0.15px;
    line-height: 13px;
    text-align: left;
  }
  
  .add-news-wrapper .info input, .add-news-wrapper .info select {
    color: #767676;
    font-size: 14px;
    letter-spacing: 0.21px;
    line-height: 18px;
    border: none;
    border-bottom: 1px solid #D6D6D6;
    width: calc(100% - 80px);
  }
  
  
  .add-news-wrapper .info select::-ms-expand {
    display: none;
  }
  
  .add-news-wrapper .information-block {
    border: 1px solid #F5F5F5;
    border-radius: 4px;
    background-color: #FFFFFF;
    padding: 10px;
    min-height: 280px;
  }
  
  .add-news-wrapper .information-block .info {
    margin: 5px 0;
  }
  .add-news-wrapper .publish-wrapper {
    text-align: right;
  }
  
  .add-news-wrapper .publish-wrapper .info {
    display: inline-block;
    min-width: 250px;
  }
  
  .add-news-wrapper .publish-wrapper button {
    border-radius: 2px;
    background-color: #006B39;
    color: #FFFFFF;
    font-size: 14px;
    letter-spacing: 0.21px;
    line-height: 18px;
    border: none;
    padding: 2px 25px;
    margin-left: 20px;
  }
  
  .add-news-wrapper .headline-section {
    border: 1px solid #F5F5F5;
    border-radius: 4px;
    background-color: #FFFFFF;
    -webkit-box-shadow: -10px 9px 21px 0 rgba(128, 152, 213, 0.07);
            box-shadow: -10px 9px 21px 0 rgba(128, 152, 213, 0.07);
    padding: 10px;
    min-height: 350px;
  }
  
  .add-news-wrapper .headline-section h3 {
    color: #0B250D;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0.36px;
    line-height: 31px;
    margin: 0 0 5px 0;
  }
  
  .add-news-wrapper .headline-section textarea , .news-body-view{
    border: 1px solid #D6D6D6;
    border-radius: 4px;
    max-width: 100%;
    min-width: 100%;
    min-height: 200px;
    padding: 10px;
    direction: rtl;
    overflow: auto;
  }
  .ngx-wrapper .ngx-editor-textarea{
    padding: 10px;
    direction: rtl;
    border: 1px solid #D6D6D6;
    border-radius: 4px;
  }

   .add-news-wrapper .headline-section .headlines-caption {
    font-size: 18px;
    letter-spacing: 0.27px;
    line-height: 23px;
    color: #0B250D;
    font-weight: 600;
    margin: 0 0 10px 0;
    outline: none;
    resize: none;
    width: 100%;
    min-height: 0px;
  }
  .add-news-wrapper .headline-section textarea:focus , .add-news-wrapper .headline-section textarea:hover{
    border-color:#006B39;
  }
    
  .add-news-wrapper .headline-section .optional {
    color: #767676;
    font-size: 10px;
    letter-spacing: 0.15px;
    line-height: 13px;
  }
  
  .add-news-wrapper .headline-section label{
    color: #0B250D;
  }

  .add-news-wrapper .image-uploader-section {
    min-height: 280px;
    max-height: 300px;
    background-color: #F5F5F5;
    border-radius: 4px;
    background-image: url(../../assets/image-uploader.svg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 75%;
    position: relative;
  }
  
  @media screen and (max-width: 992px) {
    .add-news-wrapper .image-uploader-section {
      margin-top: 10px;
    }
  }
  
  .add-news-wrapper .image-uploader-section .image {
    width: 100%;
    min-height: 280px;
    max-height: 300px;
    border-radius: 4px;
    z-index: 2;
  }
  
  .add-news-wrapper .image-uploader-section p {
    position: absolute;
    bottom: 5%;
    left: 50%;
    font-size: 10px;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  
  .add-news-wrapper .image-uploader-section input {
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 3;
  }

  .add-news-wrapper .button-wrap {
    text-align: right;
  }
  
  .add-news-wrapper .button-wrap .cancel-button {
    color: #767676;
    font-size: 14px;
    letter-spacing: 0.21px;
    line-height: 18px;
    padding: 2px 20px;
    background-color: #fff;
    border: 1px solid #D7D7D7;
    border-radius: 2px;
  }
  
  .add-news-wrapper .button-wrap .save-button {
    border-radius: 2px;
    background-color: #006B39;
    border: 1px solid #006B39;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.21px;
    padding: 2px 20px;
    margin: 5px 10px;
  }
  
  .add-news-wrapper input[type="date"]::-webkit-calendar-picker-indicator,
  .add-news-wrapper input[type="date"]::-webkit-inner-spin-button {
    opacity: 0;
    z-index: 2;
    width: 15px;
  }
  .add-news-wrapper input[type="date"]{
    background: url("../../assets/Calendar.svg");
    background-repeat: no-repeat;
    background-position: right;
  }

  .info select{
    color: #767676;
    font-size: 14px;
    letter-spacing: 0.21px;
    line-height: 18px;
    border: none;
    border-bottom: 1px solid #D6D6D6;
    width: calc(100% - 75px);
    background: url("../../assets/Down-Arrow.svg");
    background-position: right;
    background-repeat: no-repeat;
    -moz-appearance: none;
    -webkit-appearance: none;
    }
    .info select::-ms-expand{
      display: none;
    }
     .required-fields{
      color: #D0021B;
      font-size: 12px;
    }
