.new-farms-wrapper {
    background-color: #FFFFFF;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.24), 0 1px 1.5px 0 rgba(0, 0, 0, 0.12);
            box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.24), 0 1px 1.5px 0 rgba(0, 0, 0, 0.12);
    margin: 20px 0;
  }
  
  .new-farms-wrapper .farmer-profile {
    padding: 5px 0;
    border-bottom: 1px solid #006B39;
  }
  
  .new-farms-wrapper .farmer-profile .farmer-info .profile-heading {
    padding: 0 10px;
    color: #0B250D;
    font-size: 18px;
    font-weight: 900;
    letter-spacing: 0.27px;
    line-height: 23px;
  }
  
  .new-farms-wrapper .farmer-profile .farmer-info .appointment-date {
    display: inline-block;
    padding: 0 10px;
    border-left: 1px solid #f5f5f5;
  }
  
  .new-farms-wrapper .farmer-profile .farmer-info .date-description {
    color: #0B250D;
    font-size: 10px;
    letter-spacing: 0.15px;
    line-height: 13px;
  }
  
  .new-farms-wrapper .farmer-profile .farmer-info .date {
    color: #767676;
    font-size: 12px;
    letter-spacing: 0.18px;
    line-height: 15px;
    padding-left: 10px;
  }
  
  .new-farms-wrapper .farmer-profile .icon-set {
    display: block;
    text-align: right;
  }
  
  .new-farms-wrapper .farmer-profile .icon-set i {
    vertical-align: middle;
    padding: 0 5px;
  }
  
  .new-farms-wrapper .farmer-profile .icon-set i:first-child {
    border-left: 1px solid #F5F5F5;
  }
  
  .new-farms-wrapper .farmer-profile .icon-set .icon-cross-1 {
    margin-left: 15px;
    border-left: none !important;
  }
  
  .new-farms-wrapper .farmer-profile .icon-set a {
    text-decoration: none;
  }
  
  .new-farms-wrapper .farmer-profile a {
    text-decoration: none;
  }
  
  .new-farms-wrapper .profile-nav-wrap {
    border-bottom: 1px solid #D6D6D6;
  }
  
  .new-farms-wrapper .profile-nav-wrap .active {
    border-radius: 2px;
    background-color: #006B39;
    border: none;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.21px;
    padding: 2px 20px;
  }
  
  .new-farms-wrapper .profile-nav-wrap .active a {
    color: #FFFFFF !important;
  }
  
  .new-farms-wrapper .profile-nav-wrap .farmer-profile-nav {
    list-style: none;
    display: inline-block;
    padding: 0;
    margin: 5px 10px;
  }
  
  @media screen and (max-width: 767px) {
    .new-farms-wrapper .profile-nav-wrap .farmer-profile-nav {
      margin: 5px 0;
    }
  }
  
  .new-farms-wrapper .profile-nav-wrap .farmer-profile-nav li {
    display: inline-block;
    padding: 2px 20px;
  }
  
  @media screen and (max-width: 767px) {
    .new-farms-wrapper .profile-nav-wrap .farmer-profile-nav li {
      padding: 2px 15px;
    }
  }
  
  .new-farms-wrapper .profile-nav-wrap .farmer-profile-nav li a {
    color: #767676;
    font-size: 14px;
    letter-spacing: 0.21px;
    line-height: 18px;
    text-decoration: none;
    text-transform: capitalize;
  }
  
  @media screen and (max-width: 767px) {
    .new-farms-wrapper .profile-nav-wrap .farmer-profile-nav li a {
      font-size: 10px;
    }
  }
  
  .new-farms-wrapper .profile-nav-wrap .product-negative-message-wrapper {
    background-color: #F7EDED;
    margin: 5px 0;
  }
  
  .new-farms-wrapper .profile-nav-wrap .product-negative-message-wrapper .product-negative-message {
    color: #D0021B;
    font-size: 10px;
    letter-spacing: 0.15px;
    line-height: 13px;
    padding: 4px 10px;
  }
  
  .new-farms-wrapper .farms-info-wrap h3 {
    color: #0B250D;
    font-size: 18px;
    letter-spacing: 0.27px;
    margin: 0 0 10px 0;
    line-height: 23px;
    font-weight: 600;
  }
  
  .new-farms-wrapper .farms-info-wrap h4 {
    color: #0B250D;
    font-size: 14px;
    letter-spacing: 0.21px;
    line-height: 18px;
    font-weight: 600;
    margin: 20px 0 5px;
  }
  
  .new-farms-wrapper .farms-info-wrap .information-tab {
    border-right: 1px solid #D6D6D6;
    margin: 10px 5px;
    padding: 10px;
    min-height: 800px;
  }
  
  @media screen and (max-width: 767px) {
    .new-farms-wrapper .farms-info-wrap .information-tab {
      padding: 0;
      margin: 10px 0;
    }
  }
  
  .new-farms-wrapper .farms-info-wrap .information-tab .farms-summary {
    margin-top: 40px;
  }
  
  .new-farms-wrapper .farms-info-wrap .farm-info {
    margin-bottom: 30px;
  }
  
  .new-farms-wrapper .farms-info-wrap .farm-info .info {
    margin: 10px 0;
  }
  
  .new-farms-wrapper .farms-info-wrap .farm-info .info label {
    color: #0B250D;
    font-size: 10px;
    letter-spacing: 0.15px;
    line-height: 13px;
    width: 70px;
  }
  
  .new-farms-wrapper .farms-info-wrap .farm-info .info input {
    color: #767676;
    font-size: 14px;
    letter-spacing: 0.21px;
    line-height: 18px;
    border: none;
    border-bottom: 1px solid #D6D6D6;
    width: calc(100% - 80px);
    max-width: 200px;
  }
  
  @media screen and (max-width: 1200px) {
    .new-farms-wrapper .farms-info-wrap .farm-info .info input {
      max-width: 350px;
    }
  }
  
  .new-farms-wrapper .farms-info-wrap .info label {
    color: #0B250D;
    font-size: 10px;
    letter-spacing: 0.15px;
    line-height: 13px;
    width: 100%;
    margin: 0;
  }
  
  .new-farms-wrapper .farms-info-wrap .info input {
    color: #767676;
    font-size: 14px;
    letter-spacing: 0.21px;
    line-height: 18px;
    border: none;
    border-bottom: 1px solid #D6D6D6;
    width: 100%;
  }
  
  .new-farms-wrapper .farms-info-wrap .info select {
    color: #767676;
    font-size: 14px;
    letter-spacing: 0.21px;
    line-height: 18px;
    border: none;
    border-bottom: 1px solid #D6D6D6;
    width: 100%;
    background: url('../../../assets/DownArrow.svg');
    background-position: right;
    background-repeat: no-repeat;
    /* for Firefox */
    -moz-appearance: none;
    /* for Chrome */
    -webkit-appearance: none;
  }
  
  .new-farms-wrapper .farms-info-wrap .info select::-ms-expand {
    display: none;
  }
  
  .new-farms-wrapper .farms-info-wrap .calender-info {
    position: relative;
  }
  
  .new-farms-wrapper .farms-info-wrap .calender-info .icon-Calendar {
    position: absolute;
    top: 5px;
    right: 0;
    z-index: 1;
  }
  
  .new-farms-wrapper .farms-info-wrap input[type="date"]::-webkit-calendar-picker-indicator,
  .new-farms-wrapper .farms-info-wrap input[type="date"]::-webkit-inner-spin-button {
    opacity: 0;
    z-index: 2;
    width: 15px;
  }
  
  .new-farms-wrapper .farms-info-wrap .info-block {
    padding: 10px 5px;
    margin: 10px 0;
    min-height: 800px;
  }
  
  @media screen and (max-width: 767px) {
    .new-farms-wrapper .farms-info-wrap .info-block {
      padding: 0;
    }
  }
  
  .new-farms-wrapper .farms-info-wrap .info-block .farms-summary {
    margin-bottom: 50px;
  }
  
  .new-farms-wrapper .farms-info-wrap .add-btn {
    border-radius: 2px;
    background-color: #006B39;
    border: none;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.21px;
    padding: 2px 20px;
    color: #FFFFFF;
    margin: 30px auto;
    display: block;
  }
  
  .new-farms-wrapper .save-button-wrap {
    text-align: right;
    padding: 10px;
  }
  
  .new-farms-wrapper .save-button-wrap .save-button {
    border-radius: 2px;
    background-color: #006B39;
    border: none;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.21px;
    padding: 2px 20px;
    margin: 5px 10px;
  }
  
  .new-farms-wrapper .save-button-wrap .cancel-button {
    color: #767676;
    font-size: 14px;
    letter-spacing: 0.21px;
    line-height: 18px;
    padding: 2px 20px;
    background-color: #fff;
    border: 1px solid #D7D7D7;
    border-radius: 2px;
  }
  /*# sourceMappingURL=add-farmer-farms.css.map */