<div class="container-fluid">
  <main class="new-farms-wrapper">
    <div class="farmer-profile">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6">
            <div class="farmer-info">
              <span class="profile-heading">
                Farmer Profile
              </span>
              <div class="appointment-date">
                <span class="date-description">Registration Date</span>
                <span class="date">01 Jan 2019</span>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <span class="icon-set">
              <a href="./farmer-main.html">
                <i class="icon-cross-1"></i>
              </a>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="profile-nav-wrap">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-9">
            <ul class="farmer-profile-nav">
              <li>
                <a [routerLink]="['/add-farmer']">Profile</a>
              </li>
              <li class="active">
                <a [routerLink]="['/add-farmer-farm']">Add Farms</a>
              </li>
              <li>
                <a >Contracts & Loans</a>
              </li>
            </ul>
          </div>
          <div class="col-md-3">
            <!-- <div class="product-negative-message-wrapper">
                <span class="product-negative-message">* Add Farms</span>
              </div> -->
          </div>
        </div>
      </div>
    </div>
    <form action="">
      <div class="farms-info-wrap">
        <div class="container-fluid">
          <div class="col-lg-3 col-sm-6 col-xs-12">
            <div class="information-tab">
              <section class="farm-info">
                <h3>Farmer Information</h3>
                <div class="info">
                  <label for="">Total Area</label>
                  <input type="text" placeholder="175 Acres">
                </div>
                <div class="info">
                  <label for="">Ownership</label>
                  <input type="text" placeholder="1 Farm">
                </div>
              </section>
              <section class="farm-info">
                <h3>Farmer Information</h3>
                <div class="info">
                  <label for="">Farms</label>
                  <input type="text" placeholder="Modidar Nursery Farm">
                </div>
                <div class="info">
                  <label for="">Farms Area</label>
                  <input type="text" placeholder="75 Acres">
                </div>
              </section>
              <button class="add-btn add-farm-btn">Add Farm</button>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6 col-xs-12">
            <div class="info-block">
              <section class="info-section farms-summary">
                <h3>Farms Information</h3>
                <div class="info">
                  <label for="">Farm Name *</label>
                  <input type="text" placeholder="Enter">
                </div>
                <div class="info">
                  <label for="">Ownership Status *</label>
                  <input type="text" placeholder="Enter">
                </div>
                <div class="info">
                  <label for="">Area *</label>
                  <input type="text" placeholder="Enter">
                </div>
                <div class="info">
                  <label for="">Province *</label>
                  <input type="text" placeholder="Enter">
                </div>
                <div class="info">
                  <label for="">District *</label>
                  <input type="text" placeholder="Enter">
                </div>
                <div class="info">
                  <label for="">Tehsil/Taulak *</label>
                  <input type="text" placeholder="Enter">
                </div>
                <div class="info">
                  <label for="">City/Village *</label>
                  <input type="text" placeholder="Enter">
                </div>
                <div class="info">
                  <label for="">Union Council *</label>
                  <input type="text" placeholder="Enter">
                </div>
                <div class="info">
                  <label for="">Street/Address *</label>
                  <input type="text" placeholder="Enter">
                </div>
              </section>
              <section class="info-section">
                <h3>Water and Irrigation Information</h3>
                <div class="info">
                  <label for="">Tube Well Status</label>
                  <select>
                    <option value="Enter">Enter</option>
                  </select>
                </div>
                <div class="info">
                  <label for="">Tube Well Type</label>
                  <select>
                    <option value="Enter">Enter</option>
                  </select>
                </div>
                <div class="info">
                  <label for="">Irrigation Type</label>
                  <select>
                    <option value="Enter">Enter</option>
                  </select>
                </div>
                <div class="info">
                  <label for="">Irrigation Area</label>
                  <input type="text" placeholder="Enter">
                </div>
                <div class="info">
                  <label for="">Water Course</label>
                  <select>
                    <option value="Enter">Enter</option>
                  </select>
                </div>
                <div class="info">
                  <label for="">Tunnel Structure</label>
                  <input type="text" placeholder="Enter">
                </div>
              </section>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6 col-xs-12">
            <div class="info-block">
              <h3>Farm Blocks</h3>
              <div class="info">
                <label for="">Number of Blocks/Orchards</label>
                <input type="text" placeholder="Enter">
              </div>
              <section class="info-section">
                <h4>Block Information</h4>
                <div class="info">
                  <label for="">Number of Blocks/Orchards</label>
                  <input type="text" placeholder="Enter">
                </div>
                <div class="info">
                  <label for="">Block Area</label>
                  <input type="text" placeholder="Enter">
                </div>
                <div class="info">
                  <label for="">Crops</label>
                  <select>
                    <option value="Enter">Enter</option>
                  </select>
                </div>
                <div class="info">
                  <label for="">Major Crop Type</label>
                  <select>
                    <option value="Enter">Enter</option>
                  </select>
                </div>
                <div class="info">
                  <label for="">Crop Plans</label>
                  <input type="text" placeholder="Enter">
                </div>
              </section>
              <section class="info-section">
                <h4>Crop Plans</h4>
                <div class="info">
                  <label for="">Crop Plans</label>
                  <select>
                    <option value="Enter">Enter</option>
                  </select>
                </div>
                <div class="info">
                  <label for="">Sowing Date</label>
                  <div class="calender-info">
                    <input type="date" placeholder="Enter">
                    <i class="icon-Calendar"></i>
                  </div>
                </div>
                <div class="info">
                  <label for="">Area</label>
                  <input type="text" placeholder="Enter">
                </div>
                <div class="info">
                  <label for="">Crop</label>
                  <select>
                    <option value="Enter">Enter</option>
                  </select>
                </div>
              </section>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6 col-xs-12">
            <div class="info-block">
              <section class="info-section farms-summary">
                <h3>Vehicle Information</h3>
                <div class="info">
                  <label for="">Transport Available</label>
                  <input type="text" placeholder="Enter">
                  <label for="">Transport Status</label>
                  <select>
                    <option value="Enter">Enter</option>
                  </select>
                </div>
                <div class="info">
                  <label for="">Transport Available</label>
                  <input type="text" placeholder="Enter">
                  <label for="">Transport Status</label>
                  <select>
                    <option value="Enter">Enter</option>
                  </select>
                </div>
                <button class="add-btn add-vehicle-btn">Add Vehicle</button>
              </section>
              <section class="info-section">
                <h3>Produce Information</h3>
                <div class="info">
                  <label for="">Input Purchase</label>
                  <input type="text" placeholder="Enter">
                </div>
                <div class="info">
                  <label for="">Export Product</label>
                  <input type="text" placeholder="Enter">
                </div>
                <div class="info">
                  <label for="">Output Export</label>
                  <input type="text" placeholder="Enter">
                </div>
              </section>
            </div>
          </div>
        </div>
      </div>
      <div class="save-button-wrap">
        <button class="cancel-button">Cancel</button>
        <button class="save-button" type="submit" onclick="window.location.href='./farmer-main.html'">Submit</button>
      </div>
    </form>
  </main>
</div>