
<div class="export-csv">
    <a class="export-button" (click)="convertToCsv()">
        Export to CSV
    </a>
</div>
<ag-grid-angular style="width: 100%; height: calc(100% - 40px);"  [gridOptions]="gridOptionsExcel" [rowHeight]="30" [headerHeight]="51" class="ag-theme-material"
[rowData]="rowData" [columnDefs]="columnDefs" (gridReady)="onGridReady($event)"  [rowSelection]="rowSelection"
[components]="components" (selectionChanged)="onSelectionChanged($event)" [gridOptions]="gridOptions" [frameworkComponents]="frameworkComponents"
(selectEditorValueChange)="selectEditorValueChange($event)"  [headerHeight]="headerHeight" [pagination]="pagination" 
[editType]="editType" #agGrid  id="myGrid"  
[overlayNoRowsTemplate]="'<span>No Records Found<span>'"
>
</ag-grid-angular>
