::-webkit-scrollbar {
    width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: red; 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
}
.export-csv {
    padding: 10px 15px 0;
    text-align: right;
    cursor: pointer;
}


.export-csv  .export-button{
    color: #fff;
    background-color: #006B39;
    padding: 2px 20px;
    text-decoration: none;
}