/*typography*/
.clearfix:after {
  content: '';
  display: block;
  clear: both;
}

.ellipsis {
  white-space: nowrap;
  /* 1 */
  text-overflow: ellipsis;
  /* 2 */
  overflow: hidden;
}

body {
  background-color: #f5f5f5;
}

#header {
  min-height: 60px;
  background: linear-gradient(315deg, #2B6931 0%, #133816 100%);
  padding: 0 25px;
  overflow: hidden;
}

#header .logo {
  display: inline-block;
  width: 75px;
  max-width: 75px;
  height: 60px;
  background-color: #FFFFFF;
}

#header .logo img {
  width: 100%;
  padding: 10px;
}

#header .portal-title {
  display: inline-block;
  vertical-align: middle;
  padding: 0 10px;
}

#header .portal-title .title {
  font-size: 28px;
  line-height: 34px;
  color: #FFFFFF;
}

#header .portal-title .portal-slogan {
  font-size: 10px;
  line-height: 12px;
  text-align: right;
  color: rgba(255, 255, 255, 0.5);
}

#header .sign-in {
  color: #FFFFFF;
  text-align: right;
  height: 60px;
  font-size: 16px;
  padding: 20px 0;
}

#header .sign-in span {
  width: 100%;
}

#header .sign-in span a {
  text-decoration: none;
  color: #FFFFFF;
}

#header .sign-in i {
  padding: 0 5px;
  font-size: 18px;
}

#main .forgot-wrapper {
  margin: 50px auto 10px;
  padding: 40px 10px;
  max-width: 640px;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.24), 0 1px 1.5px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.24), 0 1px 1.5px 0 rgba(0, 0, 0, 0.12);
  background-color: #FFFFFF;
  border-radius: 6px;
  min-height: 530px;
}

#main .logo-forgot {
  max-width: 150px;
  min-height: 150px;
  display: block;
  margin: 0 auto 30px;
}

#main p {
  max-width: 300px;
  color: #767676;
  font-size: 10px;
  line-height: 13px;
  letter-spacing: 0.15px;
  text-align: center;
  margin: 15px auto 30px;
}

#main form {
  max-width: 300px;
  margin: 0 auto;
}

#main form .button-group {
  text-align: center;
}

#main form .btn {
  display: inline-block;
  margin: 30px 10px;
}

#main form label {
  display: block;
  color: #0B250D;
  font-size: 10px;
  line-height: 13px;
  letter-spacing: 0.15px;
}

#main form input {
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #EDF4EF;
  margin-bottom: 15px;
}

#main form .login-anchor {
  color: #006B39;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.21px;
  text-decoration: none;
  text-align: center;
}

#main form .anchor-wrapper {
  text-align: center;
}
/*# sourceMappingURL=forgot-password.css.map */