<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login - Web Portal</title>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:600" rel="stylesheet">
</head>

<body>
    <!-- <header id="header" class="container-fluid">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6">
                    <div class="logo">
                        <a href="javascript:void(0)" [routerLink]="['/login']">
                           <img src="./assets/Fatima Group Logo.svg" alt="Fatima Group">
                        </a>
                    </div>
                    <div class="portal-title">
                        <div class="title">Web Portal</div>
                        <div class="portal-slogan">Power by Fatima Group</div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="sign-in">
                        <span><a  href="javascript:void(0)" [routerLink]="['/login']">
                            Signin
                            <i class="icon-1x-Signin"></i></a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </header> -->
    <main id="main">
        <div class="container-fluid">
            <div class="signin-wrapper">
                <img src="./assets/Fatima Group Logo.svg" class="logo-signin" alt="Fatima Group">
                <p>Enter your user name and password to sign-in</p>
                <form (ngSubmit)="Submit()">
                    <label for="login-username">User Name</label>
                    <input type="text" id="login-username" name="UserName" [(ngModel)]="user.UserName" placeholder="Enter UserName" required>
                    <label for="login-password">Password</label>
                    <input type="password" id="login-password" name="passkey" [(ngModel)]="user.passkey" placeholder="Enter Password" required>
                    <button type="submit" class="btn btn-primary">Login</button>
                    <div class="anchor-wrapper">
                        <a href="javascript:void(0)" [routerLink]="['/forget-password']" class="forget-password">Forget Password</a>
                    </div>
                </form>
            </div>
        </div>
    </main>
</body>

</html>