<div class="container-fluid">
    <main class="farmer-reports-wrapper">
          <div class="farmer-profile">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-6">
                  <div class="farmer-info">
                    <span class="profile-heading">
                    Reports
                  </span>
                
                  </div>
                </div>
                <div class="col-md-6">
                  <span class="icon-set">
                  <!--<i class="icon-edit0"></i>-->
                  <!--<i class="icon-delete"></i>-->
                  <a title="Close" (click)="goBack()">
                    <i class="icon-cross-1"></i>
                  </a>
                </span>
                </div>
              </div>
            </div>
          </div>
          <div class="profile-nav-wrap">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-9">
                  <ul class="farmer-profile-nav">
                    <li>
                     
                      <a (click)="addFarmer()">Profile</a>
                    </li>
                    <li >
                         <a (click)="addFarms()">Farms</a>
                    </li>
                    <li>
                      <a (click)="addContracts()">Contracts</a>
                    </li>
                    <li>
                      <a (click)="addLoans()">Loans</a>
                    </li>
                    <li>
                      <a (click)="addTickets()"> Tickets</a>
                    </li>
                    <li class="active">
                        <a (click)="addReports()">Reports</a>
                      </li>
                  </ul>
                </div>
                <div class="col-md-3">
                  <div class="product-message-wrapper">
                    <!-- <span class="product-message">* Fatima Product User</span>-->
                  </div>
            
                </div>
              </div>
            </div>
          </div>
          <div class="image-uploader-section">
            <div class="col-md-8" style="padding-left:0%">
              <h3 style="    font-size: 21px;
              padding: 9px;">Select A PDF File To Upload </h3>
              <form [formGroup]="form" (ngSubmit)="onSubmit(); form.reset()">
                  <div class="col-md-6"style="padding-left:1%">
                    <div class="form-group">
                      <label for="">Report Name</label>
                      <input  required type="text" formControlName="name" class="form-control" >
                      <input formControlName="fileupload" style="padding-top:5px " id="file" required (change)="handleFileInput($event.target.files,$event);" type="file" accept=".pdf"  />
                    </div>
                  </div>
                  <div class="col-md-6"style="padding-left:1%">
                    <mat-form-field style="padding-top:5px">
                      <input matInput [matDatepicker] = "picker" formControlName="datepicker" placeholder = "Choose Report Date" >
                      <mat-datepicker-toggle matSuffix [for] = "picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                  </div>
                  <div class="col-md-12"style="padding-left:1%; padding-top:3%">
                    <div class="form-group">
                      <button type="submit" [disabled]="!form.valid"  class="btn btn-primary">Submit</button>
              </div>
                  </div>
              </form>
              
            </div>
          </div>
          <!-- <app-ag-grid-base [rowData]="workFlowViewrowData" [columnDefs]="workFlowViewcolumnDefs" (gridReady)="onGridReady($event)"></app-ag-grid-base> -->
          <div class="grid-wrap" style="height: calc(100vh - 60vh);">
              <ag-grid-angular 
            style="width: 50%; height: calc(100vh - 60vh); padding-left: 8px" 
            [rowHeight]="30" [headerHeight]="51"  class="ag-theme-material"
            [rowData]="rowData "
            [columnDefs]="columnDefs"
            rowSelection="multiple"
            [frameworkComponents]="frameworkComponents1"
            
            >
            
            </ag-grid-angular>
          </div>
        </main>
        
      </div>