
.farmer-reports-wrapper {
    background-color: #FFFFFF;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.24), 0 1px 1.5px 0 rgba(0, 0, 0, 0.12);
            box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.24), 0 1px 1.5px 0 rgba(0, 0, 0, 0.12);
    margin: 20px 0;
  }
  
  .farmer-reports-wrapper .farmer-profile {
    padding: 5px 0;
    border-bottom: 1px solid #006B39;
  }
  
  .farmer-reports-wrapper .farmer-profile .farmer-info .profile-heading {
    padding: 0 10px;
    color: #0B250D;
    font-size: 18px;
    font-weight: 900;
    letter-spacing: 0.27px;
    line-height: 23px;
  }
  
  .farmer-reports-wrapper .farmer-profile .farmer-info .appointment-date, .farmer-reports-wrapper .farmer-profile .farmer-info .update-date {
    display: inline-block;
    padding: 0 10px;
    border-left: 1px solid #f5f5f5;
  }
  
  .farmer-reports-wrapper .farmer-profile .farmer-info .date-description {
    color: #0B250D;
    font-size: 10px;
    letter-spacing: 0.15px;
    line-height: 13px;
  }
  
  .farmer-reports-wrapper .farmer-profile .farmer-info .date {
    color: #767676;
    font-size: 12px;
    letter-spacing: 0.18px;
    line-height: 15px;
    padding-left: 10px;
  }
  
  .farmer-reports-wrapper .farmer-profile .icon-set {
    display: block;
    text-align: right;
  }
  
  .farmer-reports-wrapper .farmer-profile .icon-set i {
    vertical-align: middle;
    padding: 0 5px;
  }
  
  .farmer-reports-wrapper .farmer-profile .icon-set i:first-child {
    border-left: 1px solid #F5F5F5;
  }
  
  .farmer-reports-wrapper .farmer-profile .icon-set .icon-cross-1 {
    margin-left: 15px;
    border-left: none !important;
  }
  
  .farmer-reports-wrapper .farmer-profile .icon-set a {
    text-decoration: none;
  }
  
  .farmer-reports-wrapper .profile-nav-wrap {
    border-bottom: 1px solid #D6D6D6;
  }
  
  .farmer-reports-wrapper .profile-nav-wrap .active {
    border-radius: 2px;
    background-color: #006B39;
    border: none;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.21px;
    padding: 2px 20px;
  }
  
  .farmer-reports-wrapper .profile-nav-wrap .active a {
    color: #FFFFFF !important;
  }
  
  .farmer-reports-wrapper .profile-nav-wrap .farmer-profile-nav {
    list-style: none;
    display: inline-block;
    padding: 0;
    margin: 5px 10px;
  }
  
  .farmer-reports-wrapper .profile-nav-wrap .farmer-profile-nav li {
    display: inline-block;
    padding: 2px 20px;
  }
  
  .farmer-reports-wrapper .profile-nav-wrap .farmer-profile-nav li a {
    color: #767676;
    font-size: 14px;
    letter-spacing: 0.21px;
    line-height: 18px;
    text-decoration: none;
  }
  
  @media screen and (max-width: 767px) {
    .farmer-reports-wrapper .profile-nav-wrap .farmer-profile-nav li a {
      font-size: 12px;
    }
  }
  
  .farmer-reports-wrapper .profile-nav-wrap .product-message-wrapper {
    background-color: #EDF4EF;
    margin: 5px 0;
  }
  
  .farmer-reports-wrapper .profile-nav-wrap .product-message-wrapper .product-message {
    color: #338533;
    font-size: 10px;
    letter-spacing: 0.15px;
    line-height: 13px;
    padding: 4px 10px;
  }
  
  .farmer-reports-wrapper .farms-info-wrap h3 {
    color: #0B250D;
    font-size: 18px;
    letter-spacing: 0.27px;
    margin: 0 0 10px 0;
    line-height: 23px;
    font-weight: 600;
  }
  
  .farmer-reports-wrapper .farms-info-wrap .information-tab {
    border-right: 1px solid #D6D6D6;
    margin: 10px 5px;
    padding: 10px;
    min-height: 750px;
  }
  
  .farmer-reports-wrapper .farms-info-wrap .information-tab .farms-summary {
    margin-top: 40px;
  }
  
  .farmer-reports-wrapper .farms-info-wrap .info {
    margin: 10px 0;
  }
  
  .farmer-reports-wrapper .farms-info-wrap .info label {
    color: #0B250D;
    font-size: 10px;
    letter-spacing: 0.15px;
    line-height: 13px;
    width: 70px;
  }
  
  .farmer-reports-wrapper .farms-info-wrap .info input {
    color: #767676;
    font-size: 14px;
    letter-spacing: 0.21px;
    line-height: 18px;
    border: none;
    border-bottom: 1px solid #D6D6D6;
    width: calc(100% - 80px);
    max-width: 200px;
  }
  
  @media screen and (max-width: 1200px) {
    .farmer-reports-wrapper .farms-info-wrap .info input {
      max-width: 350px;
    }
  }
  
  .farmer-reports-wrapper .farms-info-wrap .info-crop {
    margin: 5px 0;
    position: relative;
  }
  
  .farmer-reports-wrapper .farms-info-wrap .info-crop label {
    color: #0B250D;
    font-size: 10px;
    letter-spacing: 0.15px;
    line-height: 13px;
    width: 70px;
  }
  
  .farmer-reports-wrapper .farms-info-wrap .info-crop .crops-name {
    color: #767676;
    font-size: 14px;
    letter-spacing: 0.21px;
    line-height: 18px;
  }
  
  .farmer-reports-wrapper .farms-info-wrap .info-crop .sowing-date {
    color: #767676;
    font-size: 10px;
    letter-spacing: 0.15px;
    line-height: 13px;
    padding-left: 20px;
    margin-right: 15px;
  }
  
  @media screen and (max-width: 767px) {
    .farmer-reports-wrapper .farms-info-wrap .info-crop .sowing-date {
      padding-left: 10px;
    }
  }
  
  .farmer-reports-wrapper .farms-info-wrap .info-crop i {
    position: absolute;
    right: 0;
    top: 5px;
  }
  
  .farmer-reports-wrapper .farms-info-wrap .farm-group {
    overflow: hidden;
  }
  
  .farmer-reports-wrapper .farms-info-wrap .farm-group h3 {
    margin: 0;
  }
  
  .farmer-reports-wrapper .farms-info-wrap .farm-group input[type=checkbox] {
    height: 16px;
    width: 16px;
  }
  
  .farmer-reports-wrapper .farms-info-wrap .info-section {
    border: 1px solid #F5F5F5;
    border-radius: 4px;
    background-color: #FFFFFF;
    -webkit-box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.5), -10px 9px 21px 0 rgba(128, 152, 213, 0.07);
            box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.5), -10px 9px 21px 0 rgba(128, 152, 213, 0.07);
    padding: 10px;
    margin-bottom: 10px;
    min-height: 200px;
  }
  
  .farmer-reports-wrapper .farms-info-wrap .info-block {
    padding: 10px 5px;
    min-height: 800px;
  }
  
  .farmer-reports-wrapper .farms-info-wrap .info-block .info-heading label {
    width: 70px;
    color: #0B250D;
    font-size: 10px;
    letter-spacing: 0.15px;
    line-height: 13px;
  }
  
  .farmer-reports-wrapper .farms-info-wrap .info-block .info-heading h4 {
    display: inline-block;
    color: #0B250D;
    font-size: 16px;
    letter-spacing: 0.24px;
    line-height: 20px;
    font-weight: 600;
    margin: 0;
  }
  
  .farmer-reports-wrapper .farms-info-wrap .info-block .info-heading .icon-set {
    float: right;
    -webkit-transform: translateY(25%);
            transform: translateY(25%);
  }
  
  .farmer-reports-wrapper .farms-info-wrap .info-block .info-heading i {
    font-size: 16px;
  }
  
  .farmer-reports-wrapper .farms-info-wrap .info-block .info-heading .icon-Notifications {
    position: relative;
  }
  
  .farmer-reports-wrapper .farms-info-wrap .info-block .info-heading .icon-Notifications .notification-number {
    position: absolute;
    font-size: 8px;
    color: white;
    background: #F5AC32;
    padding: 2px 4px;
    border-radius: 117px;
    top: -2px;
    right: -5px;
  }
  
  .farmer-reports-wrapper .submit-button-wrap {
    text-align: right;
    padding: 10px;
  }
  
  .farmer-reports-wrapper .submit-button-wrap .submit-button {
    border-radius: 2px;
    background-color: #006B39;
    border: none;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.21px;
    padding: 2px 20px;
    margin: 5px 10px;
  }
  .image-uploader-section{
    overflow: hidden;
  }
  .ag-header .ag-header-cell , .ag-row .ag-cell{
    padding-left: 15px;
    height: 42px;
    
  }
   /* input[type='file'] {
    color: transparent 
  } */
  