<div *ngIf="currentUser">
    <header id="dealers-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6">
                    <div class="logo">
                        <a>
                                <img src="./assets/Fatima Group Logo.svg" alt="Fatima Group">
                            </a>
                    </div>
                    <div class="portal-title">
                        <div class="title">iCare Portal</div>
                        <!-- <div class="portal-slogan">Power by Fatima Group</div> -->
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="sign-in">
                        <span class="login-user">
                                <a >
                                    <img src="./assets/User.png" alt="User" class="login-user-img">
                                    <span>agenttest2</span>
                        </a>
                        </span>
                        <span>
                                <a href="javascript:void(0)" (click)="logout()" >
                                    Signout
                                    <i class="icon-1x-Signin"></i>
                                </a>
                            </span>
                    </div>
                </div>
            </div>

        </div>
    </header>

    <div class="breadcrumb-wrapper">
        <div class="container-fluid">
            <ul class="breadcrumb">
                <li>
                    <i class="icon-Home"></i> Dashboard
                    <!--
                        <a href="#">
                            <i class="icon-Home"></i> Dashboard</a>-->
                </li>
                <li class="active">{{breadcrumbUrl}}</li>
            </ul>
        </div>
    </div>
    <div class="navigation-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-sm-8">
                    <ul class="nav nav-tabs">
                        <li [ngClass]="{'active': breadcrumbUrl == 'Tickets'}">
                            <a href="javascript:void(0)" [routerLink]="['/tickets']" (click)="tickets()">Tickets</a>
                        </li>
                       
                        <li [ngClass]="{'active': breadcrumbUrl == 'Farmers'}">
                            <a href="javascript:void(0)" [routerLink]="['/farmers']" (click)="farmer()">Farmers</a>
                        </li>
                        <li [ngClass]="{'active': breadcrumbUrl == 'Dealers'}">
                            <a href="javascript:void(0)" [routerLink]="['/dealers']" (click)="dealers()">Dealers</a>
                        </li>
                        <li [ngClass]="{'active': breadcrumbUrl == 'News'}">
                            <a href="javascript:void(0)" [routerLink]="['/news']" (click)="news()">News</a>
                        </li>
                    </ul>
                </div>

                <!-- <div class="col-md-6 col-sm-4">
                        <div class="navigation-functions">
                            <ul class="nav nav-tabs">
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" (click)="openDropDown();">Select Category
                                        <span class="caret"></span>
                                    </a>
                                    <ul [ngClass]="{'dropdown-menu-open': dropDown, 'dropdown-menu-close': !dropDown}">
                                        <li *ngFor="let data of dropDownData">
                                            <a class="btn btn-outline-secondary">
                                                {{data.name}}
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <input type="search" name="search" class="search-bar">
                                </li>
                            </ul>
                        </div>
                    </div> -->
            </div>
        </div>
    </div>
</div>

<div *ngIf="!currentUser">
    <header id="dealers-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6">
                    <div class="logo">
                        <a href="javascript:void(0)" [routerLink]="['/login']">
                   <img src="./assets/Fatima Group Logo.svg" alt="Fatima Group">
                </a>
                    </div>
                    <div class="portal-title">
                        <div class="title">iCare Portal</div>
                        <!-- <div class="portal-slogan">Power by Fatima Group</div> -->
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="sign-in">
                        <span><a  href="javascript:void(0)" [routerLink]="['/login']">
                    Signin
                    <i class="icon-1x-Signin"></i></a>
                </span>
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>

<router-outlet></router-outlet>