/*typography*/
.icon-Search:before {
  content: "\e923";
  color: #767676;
}

.clearfix:after {
    content: '';
    display: block;
    clear: both;
  }
  
  .ellipsis {
    white-space: nowrap;
    /* 1 */
    text-overflow: ellipsis;
    /* 2 */
    overflow: hidden;
  }
  
  #dealers-header {
    min-height: 60px;
    background: linear-gradient(315deg, #2B6931 0%, #133816 100%);
    padding: 0 25px;
    overflow: hidden;
  }
  
  @media screen and (max-width: 767px) {
    #dealers-header {
      padding: 0 10px;
    }
  }
  
  #dealers-header .logo {
    display: inline-block;
    width: 75px;
    max-width: 75px;
    height: 60px;
    background-color: #FFFFFF;
  }
  
  #dealers-header .logo img {
    width: 100%;
    padding: 10px;
  }
  
  #dealers-header .portal-title {
    display: inline-block;
    vertical-align: middle;
    padding: 0 10px;
  }
  
  #dealers-header .portal-title .title {
    font-size: 28px;
    line-height: 34px;
    color: #FFFFFF;
  }
  
  #dealers-header .portal-title .portal-slogan {
    font-size: 10px;
    line-height: 12px;
    text-align: right;
    color: rgba(255, 255, 255, 0.5);
  }
  
  #dealers-header .sign-in {
    color: #FFFFFF;
    text-align: right;
    height: 60px;
    font-size: 16px;
    padding: 20px 0;
  }
  
  #dealers-header .sign-in > span {
    padding-left: 20px;
  }
  
  @media screen and (max-width: 767px) {
    #dealers-header .sign-in > span {
      padding: 0 10px;
    }
  }
  
  #dealers-header .sign-in > span a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 14px;
  }
  
  @media screen and (max-width: 767px) {
    #dealers-header .sign-in > span a {
      font-size: 12px;
    }
  }
  
  #dealers-header .sign-in i {
    padding: 0 5px;
    font-size: 18px;
  }
  
  @media screen and (max-width: 767px) {
    #dealers-header .sign-in i {
      font-size: 16px;
    }
  }
  
  #dealers-header .sign-in .login-user {
    border-right: 1px solid rgba(255, 255, 255, 0.26);
    display: inline-block;
    padding: 0 20px;
  }
  
  #dealers-header .sign-in .login-user-img {
    width: 30px;
    margin: 0 10px;
  }
  
  .breadcrumb-wrapper {
    background-color: #f5f5f5;
    padding: 0 25px;
  }
  
  .breadcrumb-wrapper .breadcrumb {
    margin: 0;
    padding: 0;
  }
  
  @media screen and (min-width: 2001px) {
    .breadcrumb-wrapper .breadcrumb {
      padding: 0;
    }
  }
  
  @media screen and (max-width: 767px) {
    .breadcrumb-wrapper .breadcrumb {
      padding: 0 10px;
    }
  }
  
  .breadcrumb-wrapper .breadcrumb li + li:before {
    color: #767676;
    content: ">";
  }
  
  .breadcrumb-wrapper .breadcrumb li a {
    color: #767676;
    text-decoration: none;
  }
  
  .navigation-wrapper {
    padding: 10px 25px 0;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  }
  
  @media screen and (max-width: 767px) {
    .navigation-wrapper {
      padding: 0 10px;
    }
  }
  
  .navigation-wrapper .navigation-functions {
    text-align: right;
  }
  
  .navigation-wrapper .navigation-functions .dropdown-toggle {
    color: #006B39;
    font-size: 14px;
    line-height: 18px;
  }
  
  .navigation-wrapper .dealer-filter {
    margin: 5px 0;
  }
  
  .navigation-wrapper .nav-tabs {
    border-bottom: none;
    display: inline-block;
  }
  
  .navigation-wrapper .nav-tabs > li > a {
    color: #767676;
    border: none;
    border-bottom: 1px solid transparent;
  }
  
  @media screen and (max-width: 767px) {
    .navigation-wrapper .nav-tabs > li > a {
      font-size: 12px;
      padding: 5px 7px;
    }
  }
  
  .navigation-wrapper .nav-tabs > li > a:hover {
    border-color: transparent;
  }
  
  .navigation-wrapper .nav-tabs > li.active > a, .navigation-wrapper .nav-tabs > li.active > a:focus, .navigation-wrapper .nav-tabs > li.active > a:hover {
    color: #006B39;
    border: none;
    background-color: #D7D7D7;
    border-bottom: 1px solid #006B39;
  }
  
  .navigation-wrapper .nav > li > a {
    padding: 5px 10px;
  }
  
  @media screen and (max-width: 767px) {
    .navigation-wrapper .nav > li > a {
      padding: 5px 7px;
    }
  }
  
  .navigation-wrapper .nav > li > a:focus, .navigation-wrapper .nav > li > a:hover {
    background-color: transparent;
  }
  
  .navigation-wrapper .nav .open > a, .navigation-wrapper .nav .open > a:focus, .navigation-wrapper .nav .open > a:hover {
    background-color: transparent;
    border-color: transparent;
  }
  
  .navigation-wrapper .search-bar {
    width: 50px;
    font-size: 16px;
    border: none;
    background-color: white;
    background-image: url("../assets/Search.svg");
    background-position: 95% 10px;
    background-repeat: no-repeat;
    padding: 7px 20px 7px 11px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    cursor: pointer;
  }
  
  .navigation-wrapper .search-bar:focus {
    width: 100%;
  }
  
  .navigation-wrapper .caret {
    margin: 0 10px;
  }
  
  .navigation-wrapper .dealer-heading {
    color: #0B250D;
    font-size: 18px;
    line-height: 23px;
    font-weight: 900;
    letter-spacing: 0.27px;
    border-right: 1px solid #D7D7D7;
    padding-right: 10px;
  }
  
  @media screen and (max-width: 767px) {
    .navigation-wrapper .dealer-heading {
      display: block;
      border-right: none;
      margin-bottom: 10px;
    }
  }
  
  .navigation-wrapper .dealer-button-wrap {
    text-align: right;
    margin: 5px 0;
  }
  
  @media screen and (max-width: 767px) {
    .navigation-wrapper .dealer-button-wrap {
      margin-top: 10px;
    }
  }
  
  .navigation-wrapper .dealer-button-wrap .add-dealer-button {
    border-radius: 2px;
    background-color: #006B39;
    border: none;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.21px;
    padding: 2px 15px;
  }
  
  .navigation-wrapper .nav-tabs-custom {
    border-bottom: none;
    display: inline-block;
    padding-right: 10px;
    padding-left: 5px;
    border-right: 1px solid #D7D7D7;
  }
  
  .navigation-wrapper .nav-tabs-custom > li > a {
    color: #767676;
    font-size: 10px;
    line-height: 13px;
    letter-spacing: 0.15px;
  }
  
  .navigation-wrapper .nav-tabs-custom > li > a:hover {
    border-color: transparent;
  }
  
  .navigation-wrapper .nav-tabs-custom > li.active > a, .navigation-wrapper .nav-tabs-custom > li.active > a:focus, .navigation-wrapper .nav-tabs-custom > li.active > a:hover {
    color: #006B39;
    border: none;
    border-bottom: 1px solid #006B39;
  }
  
  .navigation-wrapper .nav-custom > li > a {
    padding: 0 5px;
  }
  
  .navigation-wrapper .nav-custom > li > a:focus, .navigation-wrapper .nav-custom > li > a:hover {
    background-color: transparent;
  }
  
  .navigation-wrapper .nav-custom .open > a, .navigation-wrapper .nav-custom .open > a:focus, .navigation-wrapper .nav-custom .open > a:hover {
    background-color: transparent;
    border-color: transparent;
  }
  
  .dealer-main-wrapper {
    background-color: #f5f5f5;
  }
  
  .dealer-main-wrapper .table {
    background-color: #FFFFFF;
    -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    border: 1px solid #D7D7D7;
    margin: 10px auto;
  }
  
  .dealer-main-wrapper .table input[type=checkbox] {
    width: 16px;
    height: 16px;
  }
  
  .dealer-main-wrapper .table thead {
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
            box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
    border-radius: 4px 4px 0 0;
  }
  
  .dealer-main-wrapper .table thead th {
    font-size: 16px;
    line-height: 20px;
    color: #0B250D;
    font-weight: 600;
    padding: 15px 5px;
    border-bottom-color: #338533;
  }
  
  .dealer-main-wrapper .table thead th:first-child {
    padding-left: 15px;
  }
  
  .dealer-main-wrapper .table tr td {
    color: #767676;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.18px;
    padding-top: 10px;
  }
  
  .dealer-main-wrapper .table tr td:first-child {
    padding-left: 15px;
  }
  
  .dealer-main-wrapper .table tr td a {
    text-decoration: none;
  }
  
  .dealer-main-wrapper .table tr i {
    padding-right: 10px;
    font-size: 16px;
  }
  
  .dealer-main-wrapper .table tr .dropdown-menu {
    left: -40px;
    min-width: 100px;
    padding: 15px 0;
    margin-top: 10px;
  }
  
  .dealer-main-wrapper .table tr .dropdown-menu:before {
    border-bottom: 9px solid rgba(0, 0, 0, 0.1);
    border-left: 9px solid rgba(0, 0, 0, 0);
    border-right: 9px solid rgba(0, 0, 0, 0);
    content: "";
    display: inline-block;
    left: 40px;
    position: absolute;
    top: -10px;
  }
  /*# sourceMappingURL=dealers-main.css.map */

/* Drop Down Toggle */
.dropdown-menu-open {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 115px;
  padding: 5px 0;
  margin: 2px 10px 0;
  font-size: 14px;
  color: black;
  display: block;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.dropdown-menu-open >li> a {
  color: black;
  text-decoration: none;
}


.dropdown-menu-close {
  display: none;
  
}