.farmer-loans-wrapper {
    background-color: #FFFFFF;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.24), 0 1px 1.5px 0 rgba(0, 0, 0, 0.12);
            box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.24), 0 1px 1.5px 0 rgba(0, 0, 0, 0.12);
    margin: 20px 0;
  }
  
  .farmer-loans-wrapper .farmer-profile {
    padding: 5px 0;
    border-bottom: 1px solid #006B39;
  }
  
  .farmer-loans-wrapper .farmer-profile .farmer-info .profile-heading {
    padding: 0 10px;
    color: #0B250D;
    font-size: 18px;
    font-weight: 900;
    letter-spacing: 0.27px;
    line-height: 23px;
  }
  
  .farmer-loans-wrapper .farmer-profile .farmer-info .appointment-date, .farmer-loans-wrapper .farmer-profile .farmer-info .update-date {
    display: inline-block;
    padding: 0 10px;
    border-left: 1px solid #f5f5f5;
  }
  
  .farmer-loans-wrapper .farmer-profile .farmer-info .date-description {
    color: #0B250D;
    font-size: 10px;
    letter-spacing: 0.15px;
    line-height: 13px;
  }
  
  .farmer-loans-wrapper .farmer-profile .farmer-info .date {
    color: #767676;
    font-size: 12px;
    letter-spacing: 0.18px;
    line-height: 15px;
    padding-left: 10px;
  }
  
  .farmer-loans-wrapper .farmer-profile .icon-set {
    display: block;
    text-align: right;
  }
  
  .farmer-loans-wrapper .farmer-profile .icon-set i {
    vertical-align: middle;
    padding: 0 5px;
  }
  
  .farmer-loans-wrapper .farmer-profile .icon-set i:first-child {
    border-left: 1px solid #F5F5F5;
  }
  
  .farmer-loans-wrapper .farmer-profile .icon-set .icon-cross-1 {
    margin-left: 15px;
    border-left: none !important;
  }
  
  .farmer-loans-wrapper .farmer-profile .icon-set a {
    text-decoration: none;
  }
  
  .farmer-loans-wrapper .profile-nav-wrap {
    border-bottom: 1px solid #D6D6D6;
  }
  
  .farmer-loans-wrapper .profile-nav-wrap .active {
    border-radius: 2px;
    background-color: #006B39;
    border: none;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.21px;
    padding: 2px 20px;
  }
  
  .farmer-loans-wrapper .profile-nav-wrap .active a {
    color: #FFFFFF !important;
  }
  
  @media screen and (max-width: 767px) {
    .farmer-loans-wrapper .profile-nav-wrap .active a {
      font-size: 12px;
    }
  }
  
  .farmer-loans-wrapper .profile-nav-wrap .farmer-profile-nav {
    list-style: none;
    display: inline-block;
    padding: 0;
    margin: 5px 10px;
  }
  
  .farmer-loans-wrapper .profile-nav-wrap .farmer-profile-nav li {
    display: inline-block;
    padding: 2px 20px;
  }
  
  .farmer-loans-wrapper .profile-nav-wrap .farmer-profile-nav li a {
    color: #767676;
    font-size: 14px;
    letter-spacing: 0.21px;
    line-height: 18px;
    text-decoration: none;
    text-transform: capitalize;
  }
  
  @media screen and (max-width: 767px) {
    .farmer-loans-wrapper .profile-nav-wrap .farmer-profile-nav li a {
      font-size: 12px;
    }
  }
  
  .farmer-loans-wrapper .profile-nav-wrap .product-message-wrapper {
    background-color: #EDF4EF;
    margin: 5px 0;
  }
  
  .farmer-loans-wrapper .profile-nav-wrap .product-message-wrapper .product-message {
    color: #338533;
    font-size: 10px;
    letter-spacing: 0.15px;
    line-height: 13px;
    padding: 4px 10px;
  }
  
  .farmer-loans-wrapper .loans-info-wrapper {
    min-height: 700px;
  }
  
  .farmer-loans-wrapper .loans-blocks {
    border: 1px solid #F5F5F5;
    border-radius: 4px;
    background-color: #FFFFFF;
    -webkit-box-shadow: -10px 9px 21px 0 rgba(128, 152, 213, 0.07);
            box-shadow: -10px 9px 21px 0 rgba(128, 152, 213, 0.07);
    margin: 10px;
    padding: 10px;
  }
  
  @media screen and (max-width: 767px) {
    .farmer-loans-wrapper .loans-blocks {
      margin: 10px 0;
    }
  }
  
  .farmer-loans-wrapper .loans-blocks h4 {
    color: #0B250D;
    font-size: 18px;
    letter-spacing: 0.27px;
    line-height: 23px;
    font-weight: 600;
    margin: 0;
  }
  
  .farmer-loans-wrapper .loans-blocks .info {
    margin: 10px 0;
  }
  
  .farmer-loans-wrapper .loans-blocks .info label {
    color: #0B250D;
    font-size: 10px;
    letter-spacing: 0.15px;
    line-height: 13px;
    width: 70px;
  }
  
  .farmer-loans-wrapper .loans-blocks .info input {
    color: #767676;
    font-size: 14px;
    letter-spacing: 0.21px;
    line-height: 18px;
    border: none;
    border-bottom: 1px solid #D6D6D6;
    width: calc(100% - 80px);
  }