<div class="container-fluid">
  <main class="farmer-loans-wrapper">
    <div class="farmer-profile">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6">
            <div class="farmer-info">
              <span class="profile-heading">
                Farmer loans
              </span>
              <!--
              <div class="appointment-date">
                <span class="date-description">Registration Date</span>
                <span class="date">01 Jan 2019</span>
              </div>
              <div class="update-date">
                <span class="date-description">Update</span>
                <span class="date">26 Jan 2019</span>
              </div>
              -->
            </div>
          </div>
          <div class="col-md-6">
            <span class="icon-set">
              <!--
              <i class="icon-edit0"></i>
              <i class="icon-delete"></i>
              -->
                <i title="Close" class="icon-cross-1"(click)="goBack()"></i>
                
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="profile-nav-wrap">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-9">
            <ul class="farmer-profile-nav">
              <li>
                <a (click)="addFarmer()">Profile</a>
              </li>
              <li>
                <a (click)="addFarms()">Farms</a>
                <!-- <a [routerLink]="['/add-farmer-farm']">Add Farms</a>-->
              </li>
              <li>
                <a (click)="addContracts()">Contracts</a>
              </li>
              <li class="active">
                <a [routerLink]="['/farmers-loan']">Loans</a>
              </li>
              <li>
                <a (click)="addTickets()">Tickets</a>
              </li>
          
            </ul>
          </div>
          <div class="col-md-3">
            <div class="product-message-wrapper">
            <!--  <span class="product-message">* Fatima Product User</span>-->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="loans-info-wrapper">
      <div class="container-fluid">
        <form action="">
          <div class="col-lg-3 col-sm-6 col-xs-12">
            <div class="row">
              <div class="loans-blocks">
                <h4>Modidar Nursery Farm</h4>
                <div class="info">
                  <label for="">Loan</label>
                  <input type="text" placeholder="Micro Financing">
                </div>
                <div class="info">
                  <label for="">Tensure</label>
                  <input type="text" placeholder="3 Years">
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6 col-xs-12">
            <div class="row">
              <div class="loans-blocks">
                <h4>Gulabpur Nursery Farm</h4>
                <div class="info">
                  <label for="">Loan</label>
                  <input type="text" placeholder="Micro Financing">
                </div>
                <div class="info">
                  <label for="">Tensure</label>
                  <input type="text" placeholder="3 Years">
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6 col-xs-12">
            <div class="row">
              <div class="loans-blocks">
                <h4>Gul Nursery Farm</h4>
                <div class="info">
                  <label for="">Loan</label>
                  <input type="text" placeholder="Enter">
                </div>
                <div class="info">
                  <label for="">Tensure</label>
                  <input type="text" placeholder="Enter">
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </main>
</div>