<main class="farmer-ticket-wrapper">
  <div class="container-fluid">
    <div class="farmer-profile">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6">
            <div class="farmer-info">
              <span class="profile-heading">
              Farmer Tickets
              </span>
                      <!--
              <div class="appointment-date">
                <span class="date-description">Registration Date</span>
                <span class="date">01 Jan 2019</span>
              </div>
              <div class="update-date">
                <span class="date-description">Update</span>
                <span class="date">26 Jan 2019</span>
              </div>-->
            </div>
          </div>
          <div class="col-md-6">
            <span class="icon-set">
                <!--<i class="icon-edit0"></i>
                <i class="icon-delete"></i>
                -->
                <i title="Close" class="icon-cross-1" (click)="goBack()"></i>
              </span>
          </div>
        </div>
      </div>
    </div>
    <div class="profile-nav-wrap">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-9">
            <ul class="farmer-profile-nav">
              <li>
                <a (click)="addFarmer()">Profile</a>
              </li>
              <li>
                <a (click)="addFarms()"> Farms</a>
                <a [routerLink]="['/add-farmer-farm']">Add Farms</a>
              </li>
              <li>
                <a (click)="addContracts()">Contracts</a>
              </li>
              <li>
                <a (click)="addLoans()">Loans</a>
              </li>
              <li class="active">
                <a [routerLink]="['/farmer-list-ticket']">Tickets</a>
              </li>
            </ul>
          </div>
          <div class="col-md-3">
            <div class="product-message-wrapper">
              <!-- <span class="product-negative-message">* Add Farms</span>-->
              <!--<span class="product-message">* Fatima Product User</span>-->
            </div>
          </div>
        </div>
        <div class="row">
          <ul class="nav nav-tabs nav-custom nav-tabs-custom other-filters">
            <li [ngClass]="{'active': breadcrumbUrl == 'All'  || breadcrumbUrl == undefined}"><a (click)="search('status','')">All <span class="count" >{{totalrecords}}</span></a> </li>
            <li *ngFor="let status of ticketstatus" [ngClass]="{'active': breadcrumbUrl == status.statusId}">
              <a (click)="search('status',status.statusId)">{{status.statusName}}
                           <span class="count">{{status.count}}</span>
                            </a>
            </li>
            <!--       
                <li><a href="">All<span class="count">145</span></a></li>
                <li><a href="">Open
                <span class="count">12</span></a>
                </li>
                <li><a href="">Closed
                <span class="count">120</span></a>
                </li>
                <li><a href="">In-Progress
                <span class="count">10</span></a>
                </li>
                <li><a href="">Over-Due
                <span class="count">3</span></a>
                </li>-->
          </ul>

        </div>
      </div>
    </div>
    <div class="farmer-ticket-table">
      <div style="height:570px;">
        <div class="tower-grid">
          <app-ag-grid-base [rowData]="workFlowViewrowData" [columnDefs]="workFlowViewcolumnDefs" (gridReady)="onGridReady($event)"></app-ag-grid-base>
        </div>
      </div>
    </div>
    <pagination [(ngModel)]="currentpage" [boundaryLinks]="showBoundaryLinks" [itemsPerPage]="recordsPerPage" [totalItems]="totalrecords"
      (pageChanged)="pageChanged($event)" [maxSize]="5"></pagination>
  </div>
</main>