/*typography*/
.tower-grid {
  height: 100%;
  text-align: left
}

.clearfix:after {
    content: '';
    display: block;
    clear: both;
  }
  
  .ellipsis {
    white-space: nowrap;
    /* 1 */
    text-overflow: ellipsis;
    /* 2 */
    overflow: hidden;
  }
  
  #dealers-header {
    min-height: 60px;
    background: linear-gradient(315deg, #2B6931 0%, #133816 100%);
    padding: 0 25px;
    overflow: hidden;
  }
  
  @media screen and (max-width: 767px) {
    #dealers-header {
      padding: 0 10px;
    }
  }
  
  #dealers-header .logo {
    display: inline-block;
    width: 75px;
    max-width: 75px;
    height: 60px;
    background-color: #FFFFFF;
  }
  
  #dealers-header .logo img {
    width: 100%;
    padding: 10px;
  }
  
  #dealers-header .portal-title {
    display: inline-block;
    vertical-align: middle;
    padding: 0 10px;
  }
  
  #dealers-header .portal-title .title {
    font-size: 28px;
    line-height: 34px;
    color: #FFFFFF;
  }
  
  #dealers-header .portal-title .portal-slogan {
    font-size: 10px;
    line-height: 12px;
    text-align: right;
    color: rgba(255, 255, 255, 0.5);
  }
  
  #dealers-header .sign-in {
    color: #FFFFFF;
    text-align: right;
    height: 60px;
    font-size: 16px;
    padding: 20px 0;
  }
  
  #dealers-header .sign-in > span {
    padding-left: 20px;
  }
  
  @media screen and (max-width: 767px) {
    #dealers-header .sign-in > span {
      padding: 0 10px;
    }
  }
  
  #dealers-header .sign-in > span a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 14px;
  }
  
  @media screen and (max-width: 767px) {
    #dealers-header .sign-in > span a {
      font-size: 12px;
    }
  }
  
  #dealers-header .sign-in i {
    padding: 0 5px;
    font-size: 18px;
  }
  
  @media screen and (max-width: 767px) {
    #dealers-header .sign-in i {
      font-size: 16px;
    }
  }
  
  #dealers-header .sign-in .login-user {
    border-right: 1px solid rgba(255, 255, 255, 0.26);
    display: inline-block;
    padding: 0 20px;
  }
  
  #dealers-header .sign-in .login-user-img {
    width: 30px;
    margin: 0 10px;
  }
  
  .breadcrumb-wrapper {
    background-color: #f5f5f5;
    padding: 0 25px;
  }
  
  .breadcrumb-wrapper .breadcrumb {
    margin: 0;
    padding: 0;
  }
  
  @media screen and (min-width: 2001px) {
    .breadcrumb-wrapper .breadcrumb {
      padding: 0;
    }
  }
  
  @media screen and (max-width: 767px) {
    .breadcrumb-wrapper .breadcrumb {
      padding: 0 10px;
    }
  }
  
  .breadcrumb-wrapper .breadcrumb li + li:before {
    color: #767676;
    content: ">";
  }
  
  .breadcrumb-wrapper .breadcrumb li a {
    color: #767676;
    text-decoration: none;
  }
  
  .navigation-wrapper {
    padding: 10px 25px 0;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  }
  
  @media screen and (max-width: 767px) {
    .navigation-wrapper {
      padding: 0 10px;
    }
  }
  
  .navigation-wrapper .category-wrapper{
    text-align: right;
  }
  
  .navigation-wrapper .navigation-functions {
    text-align: right;
  }
  
  .navigation-wrapper .navigation-functions .dropdown-toggle {
    color: #006B39;
    font-size: 14px;
    line-height: 18px;
  }
  
  .navigation-wrapper .dealer-filter {
    margin: 5px 0;
  }
  
  .navigation-wrapper .nav-tabs {
    border-bottom: none;
    display: inline-block;
  }
  
  .navigation-wrapper .nav-tabs > li > a {
    color: #767676;
    border: none;
    border-bottom: 1px solid transparent;
  }
  
  @media screen and (max-width: 767px) {
    .navigation-wrapper .nav-tabs > li > a {
      font-size: 12px;
      padding: 5px 7px;
    }
  }
  
  .navigation-wrapper .nav-tabs > li > a:hover {
    border-color: transparent;
  }
  
  .navigation-wrapper .nav-tabs > li.active > a, .navigation-wrapper .nav-tabs > li.active > a:focus, .navigation-wrapper .nav-tabs > li.active > a:hover {
    color: #006B39;
    border: none;    
    border-bottom: 1px solid #006B39;
    background-color: #D7D7D7;
  }
  
  .navigation-wrapper .nav > li > a {
    padding: 5px 10px;
  }
  
  @media screen and (max-width: 767px) {
    .navigation-wrapper .nav > li > a {
      padding: 5px 7px;
    }
  }
  
  .navigation-wrapper .nav > li > a:focus, .navigation-wrapper .nav > li > a:hover {
    background-color: transparent;
  }
  
  .navigation-wrapper .nav .open > a, .navigation-wrapper .nav .open > a:focus, .navigation-wrapper .nav .open > a:hover {
    background-color: transparent;
    border-color: transparent;
  }
  
  .navigation-wrapper .search-bar {
    font-size: 16px;
    border: none;
    background-color: white;
    background-image: url("../../../assets/Search.svg");
    background-position: right;
    background-repeat: no-repeat;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    cursor: pointer;
    margin-left: 10px;
    border: 1px solid #f5f5f5;
  }
  
  .navigation-wrapper .search-bar:focus {
    max-width: 200px;
   
  }
  
  .navigation-wrapper .caret {
    margin: 0 10px;
  }
  
  .navigation-wrapper .dealer-heading {
    color: #0B250D;
    font-size: 18px;
    line-height: 23px;
    font-weight: 900;
    letter-spacing: 0.27px;
    border-right: 1px solid #D7D7D7;
    padding-right: 10px;
  }
  
  @media screen and (max-width: 767px) {
    .navigation-wrapper .dealer-heading {
      display: block;
      border-right: none;
      margin-bottom: 10px;
    }
  }
  
  .navigation-wrapper .dealer-button-wrap {
    text-align: right;
    margin: 5px 0;
  }
  
  .navigation-wrapper .dealer-button-wrap select{
    border: none;
    color: gray;
  }

  @media screen and (max-width: 767px) {
    .navigation-wrapper .dealer-button-wrap {
      margin-top: 10px;
    }
  }
  
  .navigation-wrapper .dealer-button-wrap .add-dealer-button {
    border-radius: 2px;
    background-color: #006B39;
    border: none;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.21px;
    padding: 2px 15px;
  }
  
  .navigation-wrapper .nav-tabs-custom {
    border-bottom: none;
    display: inline-block;
    padding-right: 10px;
    padding-left: 5px;
    border-right: 1px solid #D7D7D7;
  }
  
  .navigation-wrapper .nav-tabs-custom > li > a {
    color: #767676;
    font-size: 10px;
    line-height: 13px;
    letter-spacing: 0.15px;
  }
  
  .navigation-wrapper .nav-tabs-custom > li > a:hover {
    border-color: transparent;
  }
  
  .navigation-wrapper .nav-tabs-custom > li.active > a, .navigation-wrapper .nav-tabs-custom > li.active > a:focus, .navigation-wrapper .nav-tabs-custom > li.active > a:hover {
    color: #006B39;
    border: none;
    border-bottom: 1px solid #006B39;
    background-color: #D7D7D7;
  }
  
  .navigation-wrapper .nav-custom > li > a {
    padding: 0 5px;
    text-transform: capitalize;
  }
  
  .navigation-wrapper .nav-custom > li > a:focus, .navigation-wrapper .nav-custom > li > a:hover {
    background-color: transparent;
  }
  
  .navigation-wrapper .nav-custom .open > a, .navigation-wrapper .nav-custom .open > a:focus, .navigation-wrapper .nav-custom .open > a:hover {
    background-color: transparent;
    border-color: transparent;
  }
  
  
  .farmer-ticket-wrapper {
        background-color: #FFFFFF;
        -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
        box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        border: 1px solid #D7D7D7;
        margin: 20px;
        padding:15px 0;
  }
  
  .farmer-ticket-wrapper .farmer-profile{
    padding: 5px 0;
    border-bottom: 1px solid #006B39;
  }
  
  .farmer-ticket-wrapper .farmer-profile .farmer-info .profile-heading {
    padding: 0 10px;
    color: #0B250D;
    font-size: 18px;
    font-weight: 900;
    letter-spacing: 0.27px;
    line-height: 23px;
  }
  
  .farmer-ticket-wrapper .farmer-profile .farmer-info .appointment-date,.update-date  {
    display: inline-block;
    padding: 0 10px;
    border-left: 1px solid #f5f5f5;
  }
  
  .farmer-ticket-wrapper .farmer-profile .farmer-info .date-description {
    color: #0B250D;
    font-size: 10px;
    letter-spacing: 0.15px;
    line-height: 13px;
  }
  
  .farmer-ticket-wrapper .farmer-profile .farmer-info .date {
    color: #767676;
    font-size: 12px;
    letter-spacing: 0.18px;
    line-height: 15px;
    padding-left: 10px;
  }
  
  .farmer-ticket-wrapper .farmer-profile .icon-set {
    display: block;
    text-align: right;
  }
  
  .farmer-ticket-wrapper .farmer-profile .icon-set i {
    vertical-align: middle;
    padding: 0 5px;
  }
  
  .farmer-ticket-wrapper .farmer-profile .icon-set i:first-child {
    border-left: 1px solid #F5F5F5;
  }
  
  .farmer-ticket-wrapper .farmer-profile .icon-set .icon-cross-1 {
    margin-left: 15px;
    border-left: none !important;
  }
  
  .farmer-ticket-wrapper .farmer-profile .icon-set a {
    text-decoration: none;
  }
  
  .farmer-ticket-wrapper .farmer-profile a {
    text-decoration: none;
  }
  
  .farmer-ticket-wrapper .profile-nav-wrap {
    border-bottom: 1px solid #D6D6D6;
  }
  
  .farmer-ticket-wrapper .profile-nav-wrap .active {
    border-radius: 2px;
    background-color: #006B39;
    border: none;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.21px;
    padding: 2px 20px;
  }
  
  .farmer-ticket-wrapper .profile-nav-wrap .active a {
    color: #FFFFFF !important;
  }
  
  .farmer-ticket-wrapper .profile-nav-wrap .farmer-profile-nav {
    list-style: none;
    display: inline-block;
    padding: 0;
    margin: 5px 10px;
  }
  
  @media screen and (max-width: 767px) {
    .farmer-ticket-wrapper .profile-nav-wrap .farmer-profile-nav {
      margin: 5px 0;
    }
  }
  
  .farmer-ticket-wrapper .profile-nav-wrap .farmer-profile-nav li {
    display: inline-block;
    padding: 2px 20px;
  }
  
  @media screen and (max-width: 767px) {
    .farmer-ticket-wrapper .profile-nav-wrap .farmer-profile-nav li {
      padding: 2px 15px;
    }
  }
  
  .farmer-ticket-wrapper .profile-nav-wrap .farmer-profile-nav li a {
    color: #767676;
    font-size: 14px;
    letter-spacing: 0.21px;
    line-height: 18px;
    text-decoration: none;
    text-transform: capitalize;
  }
  
  @media screen and (max-width: 767px) {
    .farmer-ticket-wrapper .profile-nav-wrap .farmer-profile-nav li a {
      font-size: 10px;
    }
  }
  
  .farmer-ticket-wrapper .profile-nav-wrap .product-negative-message-wrapper {
    background-color: #F7EDED;
    margin: 5px 0;
  }
  
  .farmer-ticket-wrapper .profile-nav-wrap .product-negative-message-wrapper .product-negative-message {
    color: #D0021B;
    font-size: 10px;
    letter-spacing: 0.15px;
    line-height: 13px;
    padding: 4px 10px;
  }

  .farmer-ticket-wrapper .ticket-filters {
  margin: 5px 0;
}

.farmer-ticket-wrapper .nav-tabs {
  border-bottom: none;
  display: inline-block;
}

.farmer-ticket-wrapper .nav-tabs > li > a {
  color: #767676;
  border: none;
  border-bottom: 1px solid transparent;
}

@media screen and (max-width: 767px) {
  .farmer-ticket-wrapper .nav-tabs > li > a {
    font-size: 12px;
    padding: 5px 7px;
  }
}

.farmer-ticket-wrapper .nav-tabs > li > a:hover {
  border-color: transparent;
}

.farmer-ticket-wrapper .nav-tabs > li.active > a, .farmer-ticket-wrapper .nav-tabs > li.active > a:focus, .farmer-ticket-wrapper .nav-tabs > li.active > a:hover {
  color: #006B39;
  border: none;
  border-bottom: 1px solid #006B39;
  background-color: #D7D7D7;
}

.farmer-ticket-wrapper .nav > li > a {
  padding: 5px 10px;
}

@media screen and (max-width: 767px) {
  .farmer-ticket-wrapper .nav > li > a {
    padding: 5px 7px;
  }
}

.farmer-ticket-wrapper .nav > li > a:focus, .farmer-ticket-wrapper .nav > li > a:hover {
  background-color: transparent;
}

.farmer-ticket-wrapper .nav .open > a, .farmer-ticket-wrapper .nav .open > a:focus, .farmer-ticket-wrapper .nav .open > a:hover {
  background-color: transparent;
  border-color: transparent;
}


.farmer-ticket-wrapper .nav-tabs-custom {
  border-bottom: none;
  display: inline-block;
  padding-right: 10px;
  padding-left: 5px;
  border-right: 1px solid #D7D7D7;
}

.farmer-ticket-wrapper .nav-tabs-custom > li > a {
  color: #767676;
  font-size: 10px;
  line-height: 13px;
  letter-spacing: 0.15px;
}

.farmer-ticket-wrapper .nav-tabs-custom > li > a:hover {
  border-color: transparent;
}

.farmer-ticket-wrapper .nav-tabs-custom > li.active > a, .farmer-ticket-wrapper .nav-tabs-custom > li.active > a:focus, .farmer-ticket-wrapper .nav-tabs-custom > li.active > a:hover {
  color: #006B39;
  border: none;
  border-bottom: 1px solid #006B39;
  background-color: #D7D7D7;
}

.farmer-ticket-wrapper .nav-custom > li > a {
  padding: 0 5px;
}

.farmer-ticket-wrapper .nav-custom > li > a:focus, .farmer-ticket-wrapper .nav-custom > li > a:hover {
  background-color: transparent;
}

.farmer-ticket-wrapper .nav-custom .open > a, .farmer-ticket-wrapper .nav-custom .open > a:focus, .farmer-ticket-wrapper.nav-custom .open > a:hover {
  background-color: transparent;
  border-color: transparent;
}

.farmer-ticket-wrapper .count {
  font-size: 8px;
  padding: 0 5px;
  border: 1px solid #767676;
  margin-left: 5px;
}

@media screen and (max-width: 767px) {
  .navigation-wrapper .ticket-filters {
    position: relative;
  }
  .farmer-ticket-wrapper .ticket-filters .icon-Options-Filter {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .farmer-ticket-wrapper .other-filters {
    display: block;
  }
  .farmer-ticket-wrapper .other-filters li {
    float: none;
    margin-bottom: 2px;
  }
}
.farmer-ticket-wrapper .icon-Options-Filter{
  padding-left: 10px;
}

  .farmer-ticket-wrapper .profile-nav-wrap .product-message-wrapper {
    background-color: #EDF4EF;
    margin: 5px 0;
  }
  
  .farmer-ticket-wrapper .profile-nav-wrap .product-message-wrapper .product-message {
    color: #338533;
    font-size: 10px;
    letter-spacing: 0.15px;
    line-height: 13px;
    padding: 4px 10px;
  }

    .farmer-ticket-table{
      background-color: #FFFFFF;
        -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
        box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        border: 1px solid #D7D7D7;
        margin: 10px auto;
    }
    .farmer-ticket-wrapper .profile-nav-wrap .other-filters .active{
    color: #006B39;
    border: none;
    background-color: #fff;
    padding: 0;
  }
  .farmer-ticket-wrapper .profile-nav-wrap .other-filters .active a{
    color: #006B39 !important;
  }
  /*# sourceMappingURL=dealers-main.css.map */

  