<div class="container-fluid">
  <main class="new-ticket-wrapper">
    <div class="create-ticket">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6">
            <div class="ticket-info">
              <span class="ticket-heading">
                Create Ticket
              </span>
              <div class="appointment-date">
                <span class="date-description">Date</span>
                <span class="date">{{myDate| date}}</span>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <span class="icon-set">
                <i class="icon-cross-1" (click)="goBack()"></i>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="ticket-form-wrapper">
      <form action="" method="POST">
        <p>Please Select the Ticket Type to proceed to create a ticket</p>
        <div class="ticket-form">
          <div class="container-fluid">
            <div class="row">
              <div class="tickets-general-info">
                <!--
                <div class="col-md-3 col-sm-6 col-xs-12">
                  <div class="ticket-entry-form">
                    <label for="">Ticket ID</label>
                    <input type="text" disabled="true" placeholder="">
                  </div>
                </div>-->
                <div class="col-md-3 col-sm-6 col-xs-12">
                  <div class="ticket-entry-form">
                    <label for="">Ticket Type</label>
                    <!-- <select name="" >
                      <option value="">Soil & Water Testing</option>
                      <option value="">Advisory Visit</option>
                      <option value="">TSO Visit</option>
                      <option value="">Landmarking</option>
                      <option value="">Nemotodes Testing</option>
                    </select> -->
                    <select name="ticketValue" [(ngModel)]="ticket.ticketTypeId">
                      <option *ngFor="let ticket of ticketTypes" [value]="ticket.ticketTypeId">
                        {{ticket.ticketTypeName}}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12" *ngIf="ticket.ticketTypeId">
                  <div class="ticket-entry-form">
                    <label for="">Visit Date</label>
                    <div class="calender-info">
                      <input type="date" placeholder="Enter" name="visitDate" [(ngModel)]="ticket.visitDate" (change)="onChange()">
                      <i class="icon-Calendar"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3 col-sm-12" *ngIf="ticket.visitDate">
                <div class="row">
                  <div class="ticket-info-block">
                    <h3>Ticket Information</h3>
                    <div class="plain-text">Enter CNIC or Phone number</div>
                    <div class="info">
                      <label for="">CNIC Of Farmer#</label>
                      <input type="search" placeholder="Enter CNIC" name="cnic" (change)="getFarmerDetail('cnic',cnic)" [(ngModel)]="cnic">
                    </div>
                    <div class="info">
                      <label for="">Phone Of Farmer #</label>
                      <input type="search" placeholder="Enter Phone No" name="phone" (change)="getFarmerDetail('phone',phone)" [(ngModel)]="phone">
                    </div>
                    <div class="info">
                      <label for="">Description</label>
                      <textarea name="description" rows='5' placeholder="Enter Description of the ticket" name="description" [(ngModel)]="ticket.description"
                        (input)="farmersInfoProfile()"></textarea>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-sm-12" *ngIf="farms && farms.length">
                <div class="row">
                  <div class="farm-information-block">
                    <h3 class="sticky-header">Farms Information</h3>
                    <div *ngFor="let farm of farms">
                      <div class="farm-information">
                        <div class="col-xs-2 col-sm-1 no-padding">
                          <span class='checkbox_wrapper'>
                        <input type="radio" (change)="farmSelected(farm.farmModel.farmId)" name="farm-check" id="">
                        <i class="custom-checkbox"></i>
                        </span>
                        </div>
                        <div class="col-xs-9 col-sm-10">
                          <div class="row">
                            <div class="col-lg-6 col-md-12">
                              <div class="info">
                                <label for="">Farm Name</label>
                                <input type="text" readonly="true" name="farmName" value="{{farm.farmModel.farmName}}">
                              </div>
                            </div>
                            <div class="col-lg-6 col-md-12">
                              <div class="info">
                                <label for="">Total Area</label>
                                <input type="text" readonly="true" name="totalAreaAcres" value="{{farm.farmModel.totalAreaAcres}}">
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-lg-6 col-md-12">
                              <div class="info">
                                <label for="">Address</label>
                                <input type="text" readonly="true" name="farmAddress" value="{{farm.farmModel.farmAddress}}">
                              </div>
                            </div>
                            <!--<div class="col-lg-6 col-md-12">
                            <div class="info">
                              <label for="">City/Village</label>
                              <input type="text" name="" disabled="true" id="" placeholder="Billianwala">
                            </div>
                          </div>-->
                          </div>
                          <div class="row">
                            <div class="col-lg-4 col-md-12">
                              <div class="info">
                                <label for="">Tehsil</label>
                                <input type="text" readonly="true" name="tehsilName" value="{{farm.tehsilName}}">
                              </div>
                            </div>
                            <div class="col-lg-4 col-md-12">
                              <div class="info">
                                <label for="">District</label>
                                <input type="text" readonly="true" name="districtName" value="{{farm.districtName}}">
                              </div>
                            </div>
                            <div class="col-lg-4 col-md-12">
                              <div class="info">
                                <label for="">Province</label>
                                <input type="text" readonly="true" name="provinceName" value="{{farm.provinceName}}">
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-xs-1 no-padding">
                          <i class="icon-map2B"></i>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-12" *ngIf="farmer && farmer.farmerId">
                <div class="row">
                  <div class="farmer-profile-block">
                    <div class="profile-heading">
                      <h3>Farmer Profile</h3>
                      <a href="#">View Profile</a>
                    </div>

                    <div class="info">
                      <label for="">Name</label>
                      <input type="text" readonly="true" name="farmerName" [(ngModel)]="farmer.farmerName" placeholder="M. Shabbir Ahmed">
                    </div>
                    <div class="info">
                      <label for="">CNIC #</label>
                      <input type="number" readonly="true" name="cnic" [(ngModel)]="farmer.cnic" placeholder="35202-1234567-8">
                    </div>
                    <div class="info">
                      <label for="">Cell Phone #</label>
                      <input type="number" readonly="true" name="cellPhone" [(ngModel)]="farmer.cellPhone">
                    </div>
                    <div class="info">
                      <label for="">Ownership</label>
                      <input type="text" disabled="true" placeholder="3 Farms">
                    </div>
                    <div class="info">
                      <label for="">Total Area</label>
                      <input type="text" disabled="true" placeholder="175 Acres">
                    </div>
                    <h4>Alternate Contact</h4>
                    <div class="info">
                      <label for="">Name</label>
                      <input type="text" readonly="true" name="alternateName" [(ngModel)]="farmer.alternateName">
                    </div>
                    <div class="info">
                      <label for="">Cell Phone #</label>
                      <input type="number" readonly="true" name="alternateCellPhoneNo" [(ngModel)]="farmer.alternateCellPhoneNo">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="create-button-wrap">
              <div class="row">
                <button class="cancel-button" (click)="goBack()">Cancel</button>
                <button class="create-button" [disabled]="!(ticket && ticket.ticketTypeId && ticket.visitDate && ticket.farmerId)"                 
                  (click)="save()" type="submit">Create</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </main>
</div>