.new-ticket-wrapper {
    background-color: #FFFFFF;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.24), 0 1px 1.5px 0 rgba(0, 0, 0, 0.12);
            box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.24), 0 1px 1.5px 0 rgba(0, 0, 0, 0.12);
    margin: 20px 0;
  }
  
  .new-ticket-wrapper .create-ticket {
    padding: 5px 0;
    border-bottom: 1px solid #006B39;
  }
  
  .new-ticket-wrapper .create-ticket .ticket-info .ticket-heading {
    padding: 0 10px;
    color: #0B250D;
    font-size: 18px;
    font-weight: 900;
    letter-spacing: 0.27px;
    line-height: 23px;
  }
  
  .new-ticket-wrapper .create-ticket .ticket-info .appointment-date {
    display: inline-block;
    padding: 0 10px;
    border-left: 1px solid #f5f5f5;
  }
  
  .new-ticket-wrapper .create-ticket .ticket-info .date-description {
    color: #0B250D;
    font-size: 10px;
    letter-spacing: 0.15px;
    line-height: 13px;
  }
  
  .new-ticket-wrapper .create-ticket .ticket-info .date {
    color: #767676;
    font-size: 12px;
    letter-spacing: 0.18px;
    line-height: 15px;
    padding-left: 10px;
  }
  
  .new-ticket-wrapper .create-ticket .icon-set {
    display: block;
    text-align: right;
  }
  
  .new-ticket-wrapper .create-ticket .icon-set i {
    vertical-align: middle;
    padding: 0 5px;
  }
  
  .new-ticket-wrapper .create-ticket .icon-set i:first-child {
    border-left: 1px solid #F5F5F5;
  }
  
  .new-ticket-wrapper .create-ticket .icon-set .icon-cross-1 {
    margin-left: 15px;
    border-left: none !important;
  }
  
  .new-ticket-wrapper .create-ticket a {
    text-decoration: none;
  }
  
  .new-ticket-wrapper .ticket-form-wrapper {
    padding: 10px 20px;
  }
  
  @media screen and (max-width: 767px) {
    .new-ticket-wrapper .ticket-form-wrapper {
      padding: 10px;
    }
  }
  
  .new-ticket-wrapper .ticket-form-wrapper p {
    color: #767676;
    font-size: 14px;
    letter-spacing: 0.21px;
    line-height: 18px;
  }
  
  .new-ticket-wrapper .ticket-form .tickets-general-info {
    overflow: hidden;
    border: 1px solid #F5F5F5;
    border-radius: 4px;
    background-color: #FFFFFF;
    padding: 0px 10px 10px;
  }
  
  .new-ticket-wrapper .ticket-form .tickets-general-info:hover {
    border-color: #338533;
  }
  
  .new-ticket-wrapper .ticket-form .tickets-general-info .ticket-entry-form label {
    color: #0B250D;
    font-size: 10px;
    letter-spacing: 0.15px;
    line-height: 13px;
    margin-bottom: 0;
    width: 100%;
  }
  
  .new-ticket-wrapper .ticket-form .tickets-general-info .ticket-entry-form input {
    color: #767676;
    font-size: 14px;
    letter-spacing: 0.21px;
    line-height: 18px;
    border: none;
    border-bottom: 1px solid #D6D6D6;
    width: 100%;
  }
  
  
  .new-ticket-wrapper .ticket-form .tickets-general-info .ticket-entry-form select {
    color: #767676;
    font-size: 14px;
    letter-spacing: 0.21px;
    line-height: 18px;
    border: none;
    border-bottom: 1px solid #D6D6D6;
    width: 100%;
    background: url('../../../assets/Down-Arrow.svg');
    background-position: right;
    background-repeat: no-repeat;
    /* for Firefox */
    -moz-appearance: none;
    /* for Chrome */
    -webkit-appearance: none;
  }
  
  .new-ticket-wrapper .ticket-form .tickets-general-info .ticket-entry-form select::-ms-expand {
    display: none;
  }
  
  .new-ticket-wrapper .ticket-form .tickets-general-info .ticket-entry-form .calender-info {
    position: relative;
  }
  
  .new-ticket-wrapper .ticket-form .tickets-general-info .ticket-entry-form .calender-info i {
    position: absolute;
    right: 5px;
    top: 5px;
    z-index: 1;
  }
  
  .new-ticket-wrapper .ticket-form .tickets-general-info .ticket-entry-form input[type="date"]::-webkit-calendar-picker-indicator,
  .new-ticket-wrapper .ticket-form .tickets-general-info .ticket-entry-form input[type="date"]::-webkit-inner-spin-button {
    opacity: 0;
    z-index: 2;
    width: 15px;
  }
  
  .new-ticket-wrapper .ticket-form h3 {
    color: #0B250D;
    font-size: 16px;
    letter-spacing: 0.24px;
    line-height: 20px;
    font-weight: 600;
    margin: 0 0 15px 0;
  }
  
  .new-ticket-wrapper .ticket-form .ticket-info-block {
    border: 1px solid #F5F5F5;
    border-radius: 4px;
    background-color: #FFFFFF;
    padding: 10px 20px;
    margin: 10px 0;
    min-height: 400px;
  }
  
  @media screen and (max-width: 767px) {
    .new-ticket-wrapper .ticket-form .ticket-info-block {
      padding: 10px;
    }
  }
  
  .new-ticket-wrapper .ticket-form .ticket-info-block:hover {
    border-color: #006B39;
  }
  
  .new-ticket-wrapper .ticket-form .ticket-info-block .info label {
    color: #0B250D;
    font-size: 10px;
    letter-spacing: 0.15px;
    line-height: 13px;
    margin-bottom: 0;
    width: 100%;
  }
  
  .new-ticket-wrapper .ticket-form .ticket-info-block .info input {
    color: #767676;
    font-size: 14px;
    letter-spacing: 0.21px;
    line-height: 18px;
    border: none;
    border-bottom: 1px solid #D6D6D6;
    width: 100%;
  }
  
  
  .new-ticket-wrapper .ticket-form .ticket-info-block .info textarea {
    width: 100%;
    border: 1px solid #D6D6D6;
  }
  
  .new-ticket-wrapper .ticket-form .farm-information-block {
    border: 1px solid #F5F5F5;
    border-radius: 4px;
    background-color: #FFFFFF;
    padding: 10px 20px;
    margin: 10px;
    min-height: 400px;
    max-height: 400px;
    overflow-y: auto;
  }
  
  @media screen and (max-width: 767px) {
    .new-ticket-wrapper .ticket-form .farm-information-block {
      padding: 10px;
    }
  }
  
  .new-ticket-wrapper .ticket-form .farm-information-block:hover {
    border-color: #006B39;
  }
  
  @media screen and (max-width: 767px) {
    .new-ticket-wrapper .ticket-form .farm-information-block {
      margin: 10px 0;
    }
  }
  
  .new-ticket-wrapper .ticket-form .farm-information-block .farm-information {
    overflow: hidden;
    padding: 5px 0;
  }
  
  .new-ticket-wrapper .ticket-form .farm-information-block .farm-information:not(:last-child) {
    border-bottom: 1px solid #f5f5f5;
  }
  
  .new-ticket-wrapper .ticket-form .farm-information-block .farm-information input[type="checkbox"] {
    width: 16px;
    height: 16px;
  }
  
  .new-ticket-wrapper .ticket-form .farm-information-block .farm-information .info {
    margin: 5px 0;
  }
  
  .new-ticket-wrapper .ticket-form .farm-information-block .farm-information .info label {
    color: #0B250D;
    font-size: 10px;
    letter-spacing: 0.15px;
    line-height: 13px;
    width: 70px;
  }
  
  .new-ticket-wrapper .ticket-form .farm-information-block .farm-information .info input {
    color: #767676;
    font-size: 14px;
    letter-spacing: 0.21px;
    line-height: 18px;
    border: none;
    border-bottom: 1px solid #D6D6D6;
    width: calc(100% - 75px);
  }
  
  
  .new-ticket-wrapper .ticket-form .farm-information-block .farm-information [class^='col-'] {
    padding-right: 5px;
    padding-left: 5px;
  }
  
  .new-ticket-wrapper .ticket-form .farm-information-block .farm-information .icon-map2B {
    float: right;
  }
  
  @media screen and (max-width: 767px) {
    .new-ticket-wrapper .ticket-form .farm-information-block .farm-information .icon-map2B {
      float: none;
    }
  }
  
  .new-ticket-wrapper .ticket-form .farmer-profile-block {
    border: 1px solid #F5F5F5;
    border-radius: 4px;
    background-color: #FFFFFF;
    padding: 10px 20px;
    margin: 10px 0;
    min-height: 400px;
  }
  
  @media screen and (max-width: 767px) {
    .new-ticket-wrapper .ticket-form .farmer-profile-block {
      padding: 10px;
    }
  }
  
  .new-ticket-wrapper .ticket-form .farmer-profile-block:hover {
    border-color: #006B39;
  }
  
  .new-ticket-wrapper .ticket-form .farmer-profile-block .profile-heading {
    position: relative;
  }
  
  .new-ticket-wrapper .ticket-form .farmer-profile-block .profile-heading h3 {
    display: inline-block;
  }
  
  .new-ticket-wrapper .ticket-form .farmer-profile-block .profile-heading a {
    color: #006B39;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.18px;
    line-height: 15px;
    text-decoration: none;
    position: absolute;
    top: 5px;
    right: 0;
  }
  
  .new-ticket-wrapper .ticket-form .farmer-profile-block .info {
    margin: 5px 0;
  }
  
  .new-ticket-wrapper .ticket-form .farmer-profile-block .info label {
    color: #0B250D;
    font-size: 10px;
    letter-spacing: 0.15px;
    line-height: 13px;
    width: 70px;
  }
  
  .new-ticket-wrapper .ticket-form .farmer-profile-block .info input {
    color: #767676;
    font-size: 14px;
    letter-spacing: 0.21px;
    line-height: 18px;
    border: none;
    border-bottom: 1px solid #D6D6D6;
    width: calc(100% - 75px);
  }

  
  .new-ticket-wrapper .ticket-form .farmer-profile-block h4 {
    font-size: 16px;
    letter-spacing: 0.24px;
    line-height: 20px;
    color: #0B250D;
    font-weight: 600;
    margin: 20px 0 5px 0;
  }
  
  .new-ticket-wrapper .ticket-form .create-button-wrap {
    text-align: right;
    padding: 10px;
  }
  
  @media screen and (max-width: 767px) {
    .new-ticket-wrapper .ticket-form .create-button-wrap {
      padding: 10px 0;
    }
  }
  
  .new-ticket-wrapper .ticket-form .create-button-wrap .create-button {
    border-radius: 2px;
    background-color: #006B39;
    border: none;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.21px;
    padding: 2px 20px;
    margin: 5px 10px;
  }
  
  .new-ticket-wrapper .ticket-form .create-button-wrap .cancel-button {
    color: #767676;
    font-size: 14px;
    letter-spacing: 0.21px;
    line-height: 18px;
    padding: 2px 20px;
    background-color: #fff;
    border: 1px solid #D7D7D7;
    border-radius: 2px;
  }

  .farm-information-block .farm-information input[type=radio]{
      -webkit-appearance: checkbox;
      -moz-appearance: checkbox; 
      -ms-appearance: checkbox;
      width: 16px;
      height: 16px;
   } 
.sticky-header{
    position: sticky;
    top: 0;
    z-index: 3;
    background-color: #fff;
    padding-top: 10px;
  }

  .checkbox_wrapper{
    position: relative;
    height: 16px;
    width: 16px;
}

input[type="radio"] {
    opacity:0;
    height: 16px;
    width: 16px;
    position: absolute;
    top: 5px;
    left: 0;
    z-index: 2;
    margin: 0;
}

input[type="radio"] + .custom-checkbox{
    background:url('../../../assets/Box-Blank.svg') no-repeat;
    height: 16px;
    width: 16px;
    display:inline-block;
    padding: 0 0 0 0px;
    position: absolute;
    top: 5px;
    left: 0;
    z-index: 1;
}

input[type="radio"]:checked + .custom-checkbox{
    background:url('../../../assets/Box-Checked.svg') no-repeat;
    height: 16px;
    width: 16px;
    display:inline-block;
    padding: 0 0 0 0px;
}
  .plain-text{
  color: #006B39;
  font-size: 12px;
  text-align: left;
}

