
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~bootstrap/dist/css/bootstrap-theme.min.css";
/* @import "~ag-grid/dist/styles/ag-grid.css";
@import "~ag-grid/dist/styles/ag-theme-material.css";
@import "~ag-grid/dist/styles/theme-material.css"; */
@import "~ag-grid/dist/styles/ag-grid.css";
@import "~ag-grid/dist/styles/ag-theme-balham.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import '~ngx-toastr/toastr.css';

@font-face {
  font-family: 'icomoon';
  src:  url('./fonts/icomoon.eot?zi5d27');
  src:  url('./fonts/icomoon.eot?zi5d27#iefix') format('embedded-opentype'),
    url('./fonts/icomoon.ttf?zi5d27') format('truetype'),
    url('./fonts/icomoon.woff?zi5d27') format('woff'),
    url('./fonts/icomoon.svg?zi5d27#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-attach:before {
  content: "\e915";
}
.icon-Bullet-Numbers:before {
  content: "\e90a";
}
.icon-bullets:before {
  content: "\e909";
}
.icon-Quote:before {
  content: "\e908";
}
.icon-1x-Signin:before {
  content: "\e900";
  color: #fff;
}
.icon-Add-1:before {
  content: "\e901";
  color: #d8d8d8;
}
.icon-Add:before {
  content: "\e902";
  color: #939393;
}
.icon-Alarm-Default:before {
  content: "\e903";
  color: #767676;
}
.icon-Alarm-Done:before {
  content: "\e904";
  color: #d0021b;
}
.icon-Arrow-Left:before {
  content: "\e905";
  color: #767676;
}
.icon-Arrow-Right:before {
  content: "\e906";
  color: #767676;
}
.icon-Back-Arrow:before {
  content: "\e907";
  color: #338533;
}
.icon-Calendar:before {
  content: "\e90b";
  color: #767676;
}
.icon-Camera:before {
  content: "\e90c";
  color: #767676;
}
.icon-Clock:before {
  content: "\e90d";
  color: #767676;
}
.icon-Complete-Default:before {
  content: "\e90e";
  color: #767676;
}
.icon-Complete-Done:before {
  content: "\e90f";
  color: #338533;
}
.icon-on-hold-gray:before {
  content: "\e916";
  color: #5b5b5b;
}
.icon-onhold-Done:before {
  content: "\e916";
  color: #ff002f;
}
.icon-cross-1:before {
  content: "\e910";
  color: #767676;
}
.icon-delete:before {
  content: "\e911";
  /* color: #767676; */
  color: rgb(34,139,34,0.8);
}
.icon-Down-Arrow-Copy-4:before {
  content: "\e912";
  color: #006b39;
}
.icon-Down-Arrow:before {
  content: "\e913";
  color: #767676;
}
.icon-edit0:before {
  content: "\e914";
  /* color: #767676; */
  color: rgb(34,139,34,0.8);
}
.icon-Field-Expand:before {
  content: "\e917";
  color: #d6d6d6;
}
.icon-Home:before {
  content: "\e918";
  color: #767676;
}
.icon-In-Progress-Default:before {
  content: "\e919";
  color: #767676;
}
.icon-In-progress-Done:before {
  content: "\e91a";
  color: #f5a623;
}
.icon-Location:before {
  content: "\e91b";
  color: #767676;
}
.icon-map:before {
  content: "\e91c";
  color: #767676;
}
.icon-map2:before {
  content: "\e91d";
  color: #006b39;
}
.icon-map2B:before {
  content: "\e91e";
  color: #767676;
}
.icon-More:before {
  content: "\e91f";
  color: #767676;
}
.icon-Notifications:before {
  content: "\e920";
  color: #767676;
}
.icon-Options-Filter:before {
  content: "\e921";
  color: #767676;
}
.icon-Phone:before {
  content: "\e922";
  color: #767676;
}
.icon-Search:before {
  content: "\e923";
  color: #767676;
}
.icon-User-1:before {
  content: "\e924";
  color: #767676;
}
.icon-User .path1:before {
  content: "\e925";
  color: rgb(245, 245, 245);
}
.icon-User .path2:before {
  content: "\e926";
  margin-left: -1em;
  color: rgb(118, 118, 118);
}
.icon-view:before {
  content: "\e927";
  color: #767676;
  color: rgb(34,139,34,0.8);
}


/* .icon-on-hold-gray-blue:before{
  content: "\e916";
  color: #00a2ea;
} */


*{
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}

	 .btn-primary{ 
    border-radius: 2px;
    border: none;
		background: #006B39;
		color: white;
		font-size: 14px;	
    line-height: 18px;
    padding: 10px 35px;
   }
   .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary:active:focus{
      background: #006B39;
      color: white;
      border: none;
   }
	 .btn-secondary{
		border-radius: 2px;	
		background: white;
		border: 1px solid #D7D7D7;
		color: #767676;
		font-size: 14px;
    line-height: 18px;
    padding: 10px 35px;
   }
   .btn-secondary:hover,.btn-secondary:focus,.btn-secondary:active, .btn-secondary:active:focus{
      background: white;
      color: #767676;
      border: 1px solid #D7D7D7;
    }
   .container-fluid{
     max-width: 2000px;
   }
   .ag-header{
    font-size: 16px;
    line-height: 20px;
    color: #0B250D;
    font-weight: 600;
    padding: 15px 0;
    border-bottom: 2px solid #338533;
    /* width: calc(100% - 1em); */
    border-radius: 4px 4px 0 0;
  }
 

  .ag-icon-checkbox-checked ,.ag-icon-checkbox-unchecked{
    width: 16px;
    height: 16px;
    background-size: 16px 16px;
  } 
  .ag-cell:focus{
    outline: transparent;
  }
  .dealer-actions i ,  .dealer-status i{
    padding-right: 10px;
    font-size: 16px;
  }
  .ag-row{
    padding-top: 7px;
  }
  .ag-row .ag-cell{
    color: #767676;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.18px;
    padding-right: 5px;
    height: calc(100% - 6px);
        border-bottom: 1px solid #d6d6d6;
  }
  @media screen and (max-width:1200px){
      .ag-row .ag-cell{
        height: calc(100% - 6px);
        border-bottom: 1px solid #d6d6d6;
      }
  }
  .ag-row .ag-cell a{
    text-decoration: none;
  }

   .ag-body-container{
    width: 100% !important;
  }
  .pagination{
    width: 100%;
    text-align: center;
  }

  .pagination li{
    display: inline-block;
  }
  .pagination>.active>a,
  .pagination>.active>a:focus,
  .pagination>.active>a:hover,
  .pagination>.active>span,
  .pagination>.active>span:focus,
  .pagination>.active>span:hover{
    background-color: #006B39;
    border-color: #006B39;
    color: #fff;
  }
  .pagination>li>a, .pagination>li>span{
    color: #006B39;
  }
  input:disabled , textarea:disabled{
    background-color: #fff;
  }
  .ag-row{
    border-bottom: 1px solid #D6D6D6;
  }
  @media screen and (max-width:1200px){
    .ag-row
    {
      border-bottom: none;
    }
  }
   
a , i{
  cursor: pointer;
}
.search-bar{
  margin: 0 10px;
  padding: 2px 15px 2px 0;
}
.pagination{
  margin: 10px 0;
}
@media screen and (max-width:767px){
  .pagination>li>a, .pagination>li>span{
    font-size: 11px;
    padding: 4px 8px;
  }
}
.ag-header-cell-text{
  color: #0B250D;
  font-size: 16px;
  letter-spacing: 0.24px;
  line-height: 20px;
}
.ag-header .ag-header-cell , .ag-row .ag-cell{
  padding-left: 15px;
}

.ag-icon-checkbox-unchecked{
  background: url(./assets/Box-Blank.svg) center no-repeat;
}

.ag-icon-checkbox-checked{
  background: url(./assets/Box-Checked.svg) center no-repeat;
}

.ag-icon-checkbox-indeterminate{
  background: url(./assets/Partial-Selection.svg) center no-repeat;
  width: 16px;
  height: 16px;
}

.ngx-wrapper .ngx-editor-textarea{
    padding: 10px;
    direction: rtl;
    border: 1px solid #D6D6D6;
    border-radius: 4px;
    max-height: 400px;
  }
.ngx-toolbar .ngx-toolbar-set .ngx-editor-button{
  font-size: 14px;
  padding: 2px 5px;
}

  .ngx-editor-button .fa-bold::before{
  content: 'B';
  font-weight: 900;
}
.ngx-editor-button .fa-italic::before{
  content: "I";
  font-style: italic;
}
.ngx-editor-button .fa-underline::before{
  content: "U";
  text-decoration: underline;
}
.ngx-editor-button .fa-list-ul:before{
 content: "\e909";
 font-family: icomoon;
 font-style: normal;
}
.ngx-editor-button .fa-list-ol:before{
  content: '\e90a';
  font-family: icomoon;
  font-style: normal;
}
.ngx-editor-button .fa-link::before{
  content: '\e915';
  font-family: icomoon;
  font-style: normal;
}

.ngx-editor .ngx-wrapper.show-placeholder .ngx-editor-placeholder{
  width: 100%;
  direction: rtl;
  text-align: right;
}