<div class="navigation-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5">
                <div class="dealer-filter">
                    <span class="dealer-heading">Dealers</span>
                    <ul class="nav nav-tabs nav-custom nav-tabs-custom">
                        <li [ngClass]="{'active': breadcrumbUrl == 'All' || breadcrumbUrl == undefined}">
                            <a (click)="search('Province','')">All</a>
                        </li>
                        <li *ngFor="let province of provinces" [ngClass]="{'active': breadcrumbUrl == province.provinceCode  }">
                            <a (click)="search('Province',province.provinceCode)">{{province.provinceName}}</a>
                        </li>
                    </ul>
                    <!-- <i class="icon-Options-Filter"></i> -->
                </div>
            </div>
            <div class="col-md-7">
         
                
                <div class="dealer-button-wrap">
                   
                    <select  style="border: 1px solid rgb(230, 231, 231);" class="border-class" [(ngModel)]="selectedValue">
                        <option *ngFor="let cat of categories">
                            {{cat}}
                        </option>
                    </select>
                    <input type="search" [(ngModel)]="searchvalue" name="search" (change)="search(selectedValue,$event.target.value)" class="search-bar"
                        required>
                    <button class="add-dealer-button" (click)="addedit(0)">Add Dealer</button>
                </div>
            </div>
        </div>

    </div>

    <div class="filter-wraper-select">
        <div class="container-fluid">
            <div class="row">
                    <div class="col-sm-2 filter-select">
                            <label for="region-select">Region</label>        
                            <select style="font-size:12px !important; color: gray !important"  class="select-style reg" id='region-select'  [(ngModel)] = "selectedRegion" (change)="search('Region',selectedRegion)">
                                <option style="font-size:12px; color: gray" disabled value="0"  selected >Select Region</option>  
                                <option style="font-size:12px; color: gray" *ngFor="let region of regions"  [value]="region.regionCode">
                                          {{region.regionName}}  
                                </option>
                                          
                            </select>
                    </div>
                    <div class="col-sm-2 filter-select">
                            <label for="district-select">District</label>
                            <select style="font-size:12px;  color: gray"   id="district-select" class="select-style" [(ngModel)] = "selectedDistrict" (change)="search('District',selectedDistrict)">
                                <option disabled value="0"  selected>Select District</option>
                                <option *ngFor="let district of districts"  [value]="district.districtCode">
                                        {{district.districtName}}  
                                </option>
                                
                            </select>
                    </div>
                    <div class="col-sm-2 filter-select">
                            <label for="salepoint-select">Sales Point</label>
                            <select style="font-size:12px ; color: gray" id='salepoint-select' class="select-style" [(ngModel)] = "selectedSalespoint" (change)="search('salepoint',selectedSalespoint)">
                                <option  disabled value="0"  selected>Select  Salespoint</option>
                                <option  *ngFor="let salespoint of salespoints"  [value]="salespoint.salePointCode" >
                                    {{salespoint.salePointName}}  
                                </option>
                            </select>
                    </div>
                    
            
            </div>
        </div>
    </div>
</div>

<main class="dealer-main-wrapper">
    <div class="container-fluid">
        <div class="dealer-table">
            <div style="height:570px;">
                <div class="tower-grid">
                    <app-ag-grid-base [rowData]="workFlowViewrowData" [columnDefs]="workFlowViewcolumnDefs" (gridReady)="onGridReady($event)"></app-ag-grid-base>
                    
                </div>
            </div>
        </div>
        <pagination [(ngModel)]="currentpage" [boundaryLinks]="showBoundaryLinks" [itemsPerPage]="recordsPerPage" [totalItems]="totalrecords"
                        (pageChanged)="pageChanged($event)" [maxSize]="5"></pagination>
    </div>
</main>