typography
.tower-grid {
  height: 100%;
  text-align: left
}

.clearfix:after {
    content: '';
    display: block;
    clear: both;
  }
  
  .ellipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  
  #dealers-header {
    min-height: 60px;
    background: linear-gradient(315deg, #2B6931 0%, #133816 100%);
    padding: 0 25px;
    overflow: hidden;
  }
  
  @media screen and (max-width: 767px) {
    #dealers-header {
      padding: 0 10px;
    }
  }
  
  #dealers-header .logo {
    display: inline-block;
    width: 75px;
    max-width: 75px;
    height: 60px;
    background-color: #FFFFFF;
  }
  
  #dealers-header .logo img {
    width: 100%;
    padding: 10px;
  }
  
  #dealers-header .portal-title {
    display: inline-block;
    vertical-align: middle;
    padding: 0 10px;
  }
  
  #dealers-header .portal-title .title {
    font-size: 28px;
    line-height: 34px;
    color: #FFFFFF;
  }
  
  #dealers-header .portal-title .portal-slogan {
    font-size: 10px;
    line-height: 12px;
    text-align: right;
    color: rgba(255, 255, 255, 0.5);
  }
  
  #dealers-header .sign-in {
    color: #FFFFFF;
    text-align: right;
    height: 60px;
    font-size: 16px;
    padding: 20px 0;
  }
  
  #dealers-header .sign-in > span {
    padding-left: 20px;
  }
  
  @media screen and (max-width: 767px) {
    #dealers-header .sign-in > span {
      padding: 0 10px;
    }
  }
  
  #dealers-header .sign-in > span a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 14px;
  }
  
  @media screen and (max-width: 767px) {
    #dealers-header .sign-in > span a {
      font-size: 12px;
    }
  }
  
  #dealers-header .sign-in i {
    padding: 0 5px;
    font-size: 18px;
  }
  
  @media screen and (max-width: 767px) {
    #dealers-header .sign-in i {
      font-size: 16px;
    }
  }
  
  #dealers-header .sign-in .login-user {
    border-right: 1px solid rgba(255, 255, 255, 0.26);
    display: inline-block;
    padding: 0 20px;
  }
  
  #dealers-header .sign-in .login-user-img {
    width: 30px;
    margin: 0 10px;
  }
  
  .breadcrumb-wrapper {
    background-color: #f5f5f5;
    padding: 0 25px;
  }
  
  .breadcrumb-wrapper .breadcrumb {
    margin: 0;
    padding: 0;
  }
  
  @media screen and (min-width: 2001px) {
    .breadcrumb-wrapper .breadcrumb {
      padding: 0;
    }
  }
  
  @media screen and (max-width: 767px) {
    .breadcrumb-wrapper .breadcrumb {
      padding: 0 10px;
    }
  }
  
  .breadcrumb-wrapper .breadcrumb li + li:before {
    color: #767676;
    content: ">";
  }
  
  .breadcrumb-wrapper .breadcrumb li a {
    color: #767676;
    text-decoration: none;
  }
  
  .navigation-wrapper {
    padding: 10px 25px 0;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  }
  
  @media screen and (max-width: 767px) {
    .navigation-wrapper {
      padding: 0 10px;
    }
  }
  
  .navigation-wrapper .navigation-functions {
    text-align: right;
  }
  
  .navigation-wrapper .navigation-functions .dropdown-toggle {
    color: #006B39;
    font-size: 14px;
    line-height: 18px;
  }
  
  .navigation-wrapper .dealer-filter {
    margin: 5px 0;
  }
  
  .navigation-wrapper .nav-tabs {
    border-bottom: none;
    display: inline-block;
  }
  
  .navigation-wrapper .nav-tabs > li > a {
    color: #767676;
    border: none;
    border-bottom: 1px solid transparent;
  }
  
  @media screen and (max-width: 767px) {
    .navigation-wrapper .nav-tabs > li > a {
      font-size: 12px;
      padding: 5px 7px;
    }
  }
  
  .navigation-wrapper .nav-tabs > li > a:hover {
    border-color: transparent;
  }
  
  .navigation-wrapper .nav-tabs > li.active > a, .navigation-wrapper .nav-tabs > li.active > a:focus, .navigation-wrapper .nav-tabs > li.active > a:hover {
    color: #006B39;
    border: none;
    border-bottom: 1px solid #006B39;
    background-color: #D7D7D7;
  }
  
  .navigation-wrapper .nav > li > a {
    padding: 5px 10px;
  }
  
  @media screen and (max-width: 767px) {
    .navigation-wrapper .nav > li > a {
      padding: 5px 7px;
    }
  }
  
  .navigation-wrapper .nav > li > a:focus, .navigation-wrapper .nav > li > a:hover {
    background-color: transparent;
  }
  
  .navigation-wrapper .nav .open > a, .navigation-wrapper .nav .open > a:focus, .navigation-wrapper .nav .open > a:hover {
    background-color: transparent;
    border-color: transparent;
  }
  
  .navigation-wrapper .search-bar {
    font-size: 16px;
    background-color: white;
    background-image: url("../../../assets/Search.svg");
    background-position: right;
    background-repeat: no-repeat;
    cursor: pointer;
    border: 1px solid #f5f5f5;
  }
  
  
  .navigation-wrapper .caret {
    margin: 0 10px;
  }
  
  .navigation-wrapper .dealer-heading {
    color: #0B250D;
    font-size: 18px;
    line-height: 23px;
    font-weight: 900;
    letter-spacing: 0.27px;
    border-right: 1px solid #D7D7D7;
    padding-right: 10px;
  }
  
  @media screen and (max-width: 767px) {
    .navigation-wrapper .dealer-heading {
      display: block;
      border-right: none;
      margin-bottom: 10px;
    }
  }
  
  .navigation-wrapper .dealer-button-wrap {
    text-align: right;
    margin: 5px 0;
  }
  .navigation-wrapper .dealer-button-wrap select{
    border:none;
    color: gray;
  }
  
  @media screen and (max-width: 767px) {
    .navigation-wrapper .dealer-button-wrap {
      margin-top: 10px;
    }
  }
  
  .navigation-wrapper .dealer-button-wrap .add-dealer-button {
    border-radius: 2px;
    background-color: #006B39;
    border: none;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.21px;
    padding: 2px 15px;
  }
  
  .navigation-wrapper .nav-tabs-custom {
    border-bottom: none;
    display: inline-block;
    padding-right: 10px;
    padding-left: 5px;
    border-right: 1px solid #D7D7D7;
  }
  
  @media screen and (max-width:767px){
    .navigation-wrapper .nav-tabs-custom > li{
      width: 50%;
    }
  }

  .navigation-wrapper .nav-tabs-custom > li > a {
    color: #767676;
    font-size: 10px;
    line-height: 13px;
    letter-spacing: 0.15px;
  }
  
  .navigation-wrapper .nav-tabs-custom > li > a:hover {
    border-color: transparent;
  }
  
  .navigation-wrapper .nav-tabs-custom > li.active > a, .navigation-wrapper .nav-tabs-custom > li.active > a:focus, .navigation-wrapper .nav-tabs-custom > li.active > a:hover {
    color: #006B39;
    border: none;
    border-bottom: 1px solid #006B39;
    background-color: #D7D7D7;
  }
  
  .navigation-wrapper .nav-custom > li > a {
    padding: 0 5px;
    text-transform: capitalize;
  }
  
  .navigation-wrapper .nav-custom > li > a:focus, .navigation-wrapper .nav-custom > li > a:hover {
    background-color: transparent;
  }
  
  .navigation-wrapper .nav-custom .open > a, .navigation-wrapper .nav-custom .open > a:focus, .navigation-wrapper .nav-custom .open > a:hover {
    background-color: transparent;
    border-color: transparent;
  }
  


.tower-grid {
    height: 100%;
    text-align: left
  }
  .farmer-detail-wrapper .farmer-detail-table{
    background-color: #FFFFFF;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    border: 1px solid #D7D7D7;
    margin: 10px auto;
  }
  
  
 input:required{
  box-shadow: none;
}
select{
  -moz-appearance: none;
  -webkit-appearance: none;
  background: url(../../../assets/Down-Arrow.svg) right no-repeat;
  padding-right: 15px;
}
select::-ms-expand{
  display: none;
}
.border-class{
  border: 1px solid rgb(230, 231, 231);
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
}