<div class="navigation-wrapper">
      <div class="container-fluid">
            <div class="row">
                  <div class="col-md-8">
                        <div class="dealer-filter">
                              <span class="dealer-heading">Farmers</span>
                              <ul class="nav nav-tabs nav-custom nav-tabs-custom">
                                    <li [ngClass]="{'active': breadcrumbUrl == 'All' || breadcrumbUrl == undefined}">
                                          <a (click)="search('Province','')">All</a>
                                    </li>
                                    <li *ngFor="let province of provinces" [ngClass]="{'active': breadcrumbUrl == province.provinceCode}">
                                          <a (click)="search('Province',province.provinceCode)">{{province.provinceName}}</a>
                                    </li>
                              </ul>
                              <!-- <i class="icon-Options-Filter"></i> -->
                        </div>
                  </div>
                  <div class="col-md-4">
                        <div class="dealer-button-wrap">
                              <select  style="border: 1px solid rgb(230, 231, 231);" class="border-class" [(ngModel)]="selectedValue" (change)="ResetVal(selectedValue)">
                        <option *ngFor="let cat of categories">
                            {{cat}}
                        </option>
                    </select>
                              <input type="search" [(ngModel)]="searchvalue" name="search" (change)="search(selectedValue,$event.target.value)" class="search-bar"
                                    required>
                              <!-- <input type="search" name="search" class="search-bar"> -->
                              <button class="add-dealer-button" (click)="addFarmer(0)">Add Farmer</button>
                        </div>
                  </div>
            </div>
      </div>
</div>

<!-- <div style="height:600px;">
      <div class="tower-grid">
            <app-ag-grid-base [rowData]="farmersViewrowData" [columnDefs]="farmersViewcolumnDefs"></app-ag-grid-base>
      </div>
</div> -->
<main class="farmer-detail-wrapper">
      <div class="container-fluid">

            <div class="farmer-detail-table">
                  <div style="height:570px;">
                        <div class="tower-grid">
                              <app-ag-grid-base [rowData]="farmersViewrowData" [columnDefs]="farmersViewcolumnDefs"></app-ag-grid-base>
                        </div>
                  </div>
            </div>
            <pagination [(ngModel)]="currentpage" [boundaryLinks]="showBoundaryLinks" [itemsPerPage]="recordsPerPage" [totalItems]="totalrecords"
                  (pageChanged)="pageChanged($event)" [maxSize]="5"></pagination>
      </div>
</main>